Repository input-output-hk/lace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @input-output-hk/lace-admins, @input-output-hk/lace-tech-leads, @input-output-hk/lace-ui, @input-output-hk/lace-staking, @input-output-hk/lace-core, @input-output-hk/lace-test-engineers

chore(extension): add contribution md
  apps/browser-extension-wallet/CONTRIBUTING.md
Owners: @input-output-hk/lace-core

chore(ui): add typing for svg files
  packages/ui/.gitignore
  packages/ui/src/typings/svg.d.ts
Owners: @input-output-hk/lace-ui

refactor(ui): export design-tokens
  packages/ui/src/index.ts
Owners: @input-output-hk/lace-ui

chore(ui): copy icons to dist folder
  packages/ui/package.json
  packages/ui/rollup.config.js
Owners: @input-output-hk/lace-ui

feat(ui): create <ScrollArea /> component
  packages/ui/package.json
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/scroll-area/index.ts
  packages/ui/src/design-system/scroll-area/scroll-area.component.tsx
  packages/ui/src/design-system/scroll-area/scroll-area.css.ts
  packages/ui/src/design-system/scroll-area/scroll-area.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/light-theme.css.ts
  yarn.lock
Owners: @input-output-hk/lace-ui, @input-output-hk/lace-admins, @input-output-hk/lace-tech-leads

feat(ui): create Profile picture components
  packages/ui/package.json
  packages/ui/src/assets/images/cardano-blue-bg.png
  packages/ui/src/design-system/decorators/variants-table/variants-table-cell.component.tsx
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/profile-picture/image.component.tsx
  packages/ui/src/design-system/profile-picture/image.css.ts
  packages/ui/src/design-system/profile-picture/index.ts
  packages/ui/src/design-system/profile-picture/initials.component.tsx
  packages/ui/src/design-system/profile-picture/initials.css.ts
  packages/ui/src/design-system/profile-picture/profile-picture.stories.tsx
  packages/ui/src/design-system/profile-picture/user-profile.component.tsx
  packages/ui/src/design-system/profile-picture/user-profile.css.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/light-theme.css.ts
  packages/ui/src/design-tokens/opacities.data.ts
  yarn.lock
Owners: @input-output-hk/lace-ui, @input-output-hk/lace-admins, @input-output-hk/lace-tech-leads

chore(ui): include *.d.ts files
  packages/ui/.gitignore
  packages/ui/src/typings/png.d.ts
  packages/ui/src/typings/svg.modules.d.ts
Owners: @input-output-hk/lace-ui

chore(ui): add typing for svg files
  packages/ui/src/typings/svg.modules.d.ts
Owners: @input-output-hk/lace-ui

refactor(ui): remove redudant on-click handlers
  packages/ui/src/design-system/navigation-buttons/back-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/close-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-buttons.stories.tsx
Owners: @input-output-hk/lace-ui

feat(ui): create <NavigationButton /> component
  packages/ui/src/assets/icons/arrow-left.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/navigation-buttons/back-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/back-button.css.ts
  packages/ui/src/design-system/navigation-buttons/close-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/close-button.css.ts
  packages/ui/src/design-system/navigation-buttons/index.ts
  packages/ui/src/design-system/navigation-buttons/navigation-buttons.stories.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.css.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/light-theme.css.ts
Owners: @input-output-hk/lace-ui

refactor(ui): review navigation button API interface
  packages/ui/src/design-system/navigation-buttons/back-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/close-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.component.tsx
Owners: @input-output-hk/lace-ui

chore(ui): include *.d.ts files
  packages/ui/.gitignore
Owners: @input-output-hk/lace-ui

refactor: cardano-js-sdk wallet 0.12.0 min compat
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/types/wallet.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  packages/cardano/package.json
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/__tests__/build-delegation.test.ts
  packages/cardano/src/wallet/lib/__tests__/build-transaction.test.ts
  packages/cardano/src/wallet/lib/build-delegation.ts
  packages/cardano/src/wallet/lib/build-transaction-props.ts
  packages/cardano/src/wallet/lib/build-transaction.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/get-total-minimum-coins.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/lib/set-missing-coins.ts
  packages/cardano/src/wallet/test/mocks/AssetsProviderStub.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/cardano/src/wallet/types.ts
  yarn.lock
Owners: @input-output-hk/lace-core, @input-output-hk/lace-admins, @input-output-hk/lace-tech-leads

.github/CODEOWNERS:

# Root Level
*                      @input-output-hk/lace-admins @input-output-hk/lace-tech-leads

# Packages Teams
/packages/ui           @input-output-hk/lace-ui
/packages/staking      @input-output-hk/lace-staking
/packages/cardano      @input-output-hk/lace-core
/packages/common       @input-output-hk/lace-core
/packages/core         @input-output-hk/lace-core
/packages/e2e-test     @input-output-hk/lace-test-engineers

# Apps
/apps                  @input-output-hk/lace-core
