Repository input-output-hk/lace, changes with the owners that .github/CODEOWNERS names for each.
All owners: @input-output-hk/lace-tech-leads, @input-output-hk/lace-core, @input-output-hk/xsy-lace-test-engineers

test(extension): update WebdriverIO to v8.37.0 (#1188)
  packages/e2e-tests/package.json
  yarn.lock
Owners: @input-output-hk/xsy-lace-test-engineers, @input-output-hk/lace-core

feat: add cosigner screen to shared wallet flow
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-wallet/CreateSharedWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-wallet/steps/AddWalletCoSigners.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSignerInput.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.stories.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/hooks.ts
  packages/core/src/ui/components/SharedWallet/AddCoSigners/type.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-icon.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-types.ts
Owners: @input-output-hk/lace-core

test(extension): remove sending merge_dangerously for first onboarding
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/WalletOnboardingFlows.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/useHotWalletCreation.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/walletOnboardingContext.tsx
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
Owners: @input-output-hk/lace-core, @input-output-hk/xsy-lace-test-engineers

test(extension): add tests for LW-5104 (#1182)
  apps/browser-extension-wallet/src/views/browser-view/components/TopUpWallet/TopUpWalletButton.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/TopUpWallet/TopUpWalletCard.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/TopUpWallet/TopUpWalletDialog.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  packages/e2e-tests/src/assert/TopUpWalletAssert.ts
  packages/e2e-tests/src/elements/TopUpWalletCard.ts
  packages/e2e-tests/src/elements/TopUpWalletDialog.ts
  packages/e2e-tests/src/elements/TopUpWalletSmallCard.ts
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaExtended.feature
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaPopup.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/TopUpWalletSteps.ts
  packages/ui/src/design-system/dialog/dialog-action.component.tsx
  packages/ui/src/design-system/dialog/dialog-title.component.tsx
Owners: @input-output-hk/lace-core, @input-output-hk/xsy-lace-test-engineers

test(extension): multiwallet/mutliaccount wallets onboarding using repository in test automation
  packages/e2e-tests/src/features/SendTransactionSimplePopup.part2.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendPopup.feature
  packages/e2e-tests/src/features/e2e/SendTransactionBundlesE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimpleExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/features/e2e/StakingInitialFundsE2E.feature
  packages/e2e-tests/src/fixture/walletRepositoryInitializer.ts
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): re-enable some of blocked tests (#1186)
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakingSuccessDrawerAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/features/MultiDelegationPageExtended.part1.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/features/NavigationTopPopup.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.part2.feature
  packages/e2e-tests/src/features/TokensPageExtended.feature
  packages/e2e-tests/src/features/TokensPagePopup.feature
  packages/e2e-tests/src/features/TransactionsPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsEventProperitesExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopPopup.feature
Owners: @input-output-hk/xsy-lace-test-engineers

fix(extension): hide event banner behind feature flag (#1184)
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/MidnightEventBanner.tsx
Owners: @input-output-hk/lace-core

test(extension): pr comments
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/useHotWalletCreation.ts
Owners: @input-output-hk/lace-core

fix: only add metadata if not empty
  apps/browser-extension-wallet/src/hooks/useInitializeTx.ts
Owners: @input-output-hk/lace-core

fix: round spendable value down
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/util.ts
  packages/cardano/src/wallet/util/unit-converters.ts
Owners: @input-output-hk/lace-core

test(extension): new wallet config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallet config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): add test for LW-10638
  packages/e2e-tests/src/features/analytics/AnalyticsFiatOnRampOffRamp.feature
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): enable tests for Banxa component
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaExtended.feature
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaPopup.feature
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): new wallets config
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): try 10 instances
  packages/e2e-tests/wdio.conf.chrome.ts
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): try live-preprod
  apps/browser-extension-wallet/.env.defaults
Owners: @input-output-hk/lace-core

test(extension): pr comments 2
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
Owners: @input-output-hk/lace-core

test(extension): pr comments 2
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
Owners: @input-output-hk/lace-core

chore: use short identifier for vanilla-extract
  packages/staking/tsup.config.ts
  packages/ui/rollup.config.js
Owners: @input-output-hk/lace-core

chore: use short identifier for vanilla-extract (#1144)
  packages/staking/tsup.config.ts
  packages/ui/rollup.config.js
Owners: @input-output-hk/lace-core

feat(extension): [LW-10494] Lace migration background script (#4)
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/lib/scripts/background/__tests__/nami-migration-runner.fixture.ts
  apps/browser-extension-wallet/src/lib/scripts/background/__tests__/nami-migration-runner.test.ts
  apps/browser-extension-wallet/src/lib/scripts/background/index.ts
  apps/browser-extension-wallet/src/lib/scripts/background/nami-migration-runner.ts
  apps/browser-extension-wallet/src/lib/scripts/background/nami-migration.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-info-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsSecurity.tsx
  apps/browser-extension-wallet/test/jest.config.js
  apps/browser-extension-wallet/xsy-nami-migration-tool-0.0.5.tgz
  yarn.lock
Owners: @input-output-hk/lace-core

feat: improve add cosigner implementation
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-flow/SharedWalletCreationFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-flow/SharedWalletCreationStore.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-wallet/CreateSharedWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/create-wallet/steps/AddWalletCoSigners.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.stories.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/hooks.ts
  packages/core/src/ui/components/SharedWallet/AddCoSigners/index.ts
  packages/core/src/ui/components/SharedWallet/SharedWalletLayout/SharedWalletLayout.module.scss
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/translation/src/lib/translations/core/en.json
Owners: @input-output-hk/lace-core

feat(core): add nami migration updating wallet loading screen [LW-10495] (#7)
  packages/core/src/index.ts
  packages/core/src/ui/components/NamiMigrationUpdatingYourWallet/NamiMigrationUpdatingYourWallet.module.scss
  packages/core/src/ui/components/NamiMigrationUpdatingYourWallet/NamiMigrationUpdatingYourWallet.stories.tsx
  packages/core/src/ui/components/NamiMigrationUpdatingYourWallet/NamiMigrationUpdatingYourWallet.tsx
  packages/core/src/ui/components/NamiMigrationUpdatingYourWallet/index.ts
  packages/translation/src/lib/translations/core/en.json
Owners: @input-output-hk/lace-core

test(extension): add test for LW-10638 (#1190)
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaExtended.feature
  packages/e2e-tests/src/features/FiatOnRampOffRampBanxaPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsFiatOnRampOffRamp.feature
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): implement test for nft search (#1189)
  packages/core/src/ui/components/Nft/NftDetail.tsx
  packages/e2e-tests/src/assert/nftAssert.ts
  packages/e2e-tests/src/elements/NFTs/nftDetails.ts
  packages/e2e-tests/src/elements/NFTs/nftsPage.ts
  packages/e2e-tests/src/features/NFTsFoldersExtended.part2.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.part2.feature
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
Owners: @input-output-hk/lace-core, @input-output-hk/xsy-lace-test-engineers

fix/unblock analytics tests + move create_alias event to 'enter wallet' button click (#1183)
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/WalletOnboardingFlows.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/useHotWalletCreation.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/walletOnboardingContext.tsx
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
Owners: @input-output-hk/lace-core, @input-output-hk/xsy-lace-test-engineers

test(extension): own and foreign tag tests for activity sending and dapp connector
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionSummaryAssert.ts
  packages/e2e-tests/src/elements/dappConnector/confirmTransactionPage.ts
  packages/e2e-tests/src/elements/newTransaction/transactionSummaryPage.ts
  packages/e2e-tests/src/features/MultiWalletExtended.feature
  packages/e2e-tests/src/features/MutliWalletPopup.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
  packages/e2e-tests/src/utils/parseWalletAddress.ts
  packages/e2e-tests/wdio.conf.base.ts
Owners: @input-output-hk/xsy-lace-test-engineers

test(extension): fix wdio config
  packages/e2e-tests/wdio.conf.base.ts
Owners: @input-output-hk/xsy-lace-test-engineers

fix: only call useMaxAda once
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/BundlesList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/CoinInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/__tests__/useSelectedCoins.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/useSelectedCoins.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
Owners: @input-output-hk/lace-core

.github/CODEOWNERS:

# Root Level
*                       @input-output-hk/lace-tech-leads
yarn.lock               @input-output-hk/lace-core

# Packages Teams
/packages/cardano/      @input-output-hk/lace-core
/packages/common/       @input-output-hk/lace-core
/packages/core/         @input-output-hk/lace-core
/packages/e2e-tests/    @input-output-hk/xsy-lace-test-engineers
/packages/icons/        @input-output-hk/lace-core
/packages/staking/      @input-output-hk/lace-core
/packages/translation/  @input-output-hk/lace-core
/packages/ui/           @input-output-hk/lace-core

# Apps
/apps/                  @input-output-hk/lace-core
