Repository input-output-hk/lace, pull requests merged in 2023-11, with the labels that each got.

#664 feat: drep update
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepUpdateContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransactionContent.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/core/src/index.ts
  packages/core/src/ui/components/ConfirmDRepUpdate/ConfirmDRepUpdate.stories.ts
  packages/core/src/ui/components/ConfirmDRepUpdate/ConfirmDRepUpdate.tsx
  packages/core/src/ui/components/ConfirmDRepUpdate/index.ts
Labels: browser

#693 test(extension): e2e - test maintenance 1 Nov
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/features/NavigationTopPopup.feature
  packages/e2e-tests/src/steps/commonSteps.ts
Labels: e2e

#695 chore: main branch with 1.6.1 manifest and release note
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_6_1.tsx
Labels: browser

#700 fix(extension): hide addresses discovery modal
  apps/browser-extension-wallet/src/components/AddressesDiscoveryOverlay/AddressesDiscoveryOverlay.tsx
Labels: browser

#684 feat(staking): [LW-8877] Add activity tab to staking, show rewards list
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/stores/slices/activity-detail-slice.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/activity/Activity.tsx
  packages/staking/src/features/activity/NoStakingActivity.css.ts
  packages/staking/src/features/activity/NoStakingActivity.tsx
  packages/staking/src/features/activity/RewardsHistory.tsx
  packages/staking/src/features/activity/helpers/getGroupedRewardsHistory.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/theme/colors.ts
Labels: browser, staking

#698 test(extension): [LW-9004] change smoke test report updatePR method to comment
  .github/workflows/smoke-tests.yml
Labels: ci

#704 test(extension): maintenance - change test removal order
  packages/e2e-tests/src/features/SettingsPageExtended.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
Labels: e2e

#701 [LW-8998] Add missing tracking points around dApp connector submission in Lace
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionFail.tsx
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionSuccess.tsx
  apps/browser-extension-wallet/src/features/dapp/components/SignTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionFail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
Labels: browser

#691 test(extension): [LW-8659] add test for LW-8463
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolListItem.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultiDelegationPagePopup.feature
  packages/e2e-tests/src/features/NetworkSwitchingExtended.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/features/StakingPagePopup.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
  packages/e2e-tests/wdio.conf.chrome.ts
  packages/e2e-tests/wdio.conf.edge.ts
Labels: e2e

#692 fix(staking): selected stake pools disappear during search (if not present in results) [LW-8930]
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.tsx
Labels: staking

#703 fix(all): [LW-8723] fix incorrect deletion of background storage
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
Labels: browser

#702 feat(staking): [LW-8879] persistence banner fix, minor banners refactor
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/e2e-tests/src/fixture/localStorageInitializer.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/Drawer/Drawer.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/PortfolioDriftBanner.css.ts
  packages/staking/src/features/overview/StakingNotificationBanners/PortfolioDriftBanner.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/StakingNotificationBanners.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/getCurrentStakingNotifications.ts
  packages/staking/src/features/portfolio-drift/index.ts
  packages/staking/src/features/staking/OneTimeModals.tsx
  packages/staking/src/features/staking/StakingPopupView.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/store/delegationPortfolioStore/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/isPortfolioDrifted.ts
  packages/staking/src/features/store/delegationPortfolioStore/isPortfolioSavedOnChain.ts
Labels: browser, staking, e2e

#709 feat(extension): update lace version and default release note
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/components/Announcement/Announcement.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/release-notes/default.tsx
Labels: browser

#708 fix(all): [LW-8723] make order of delete operations 1:1 match original code
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
Labels: browser

#707 test(extension): test maintenance 7 Nov
  packages/e2e-tests/src/assert/transactionsPageAssert.ts
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/features/e2e/SendNftExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendNftPopupE2E.feature
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/commonSteps.ts
Labels: e2e

#710 test(extension): test maintenance 7 Nov part2
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/steps/commonSteps.ts
Labels: e2e

#711 chore(extension): update multi-staking faq
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingSkeleton.tsx
  packages/e2e-tests/src/assert/educationalListAssert.ts
  packages/e2e-tests/src/data/EducationalArticles.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
Labels: browser, e2e

#713 fix(staking): [LW-8912] fix delegations with stake key (de)registrations being omitted from activity
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
Labels: browser

#714 fix(staking): [LW-8689] change wording/name of pool migration banner
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/StakingNotificationBanners/StakingNotificationBanners.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/getCurrentStakingNotifications.ts
  packages/staking/src/features/overview/StakingNotificationBanners/types.ts
  packages/staking/src/features/overview/types.ts
Labels: staking

#716 feat(extension): [LW-9023] rename wallet sync to hd wallet sync
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#715 test(extension): update report paths
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
Labels: ci

#690 [LW-8962] Fix debounce time for handle resolver and wrong verifying setting for status
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.tsx
  packages/core/src/ui/utils/handle.ts
Labels: browser

#719 test(extension): change logLevel for e2e from trace to error
  packages/e2e-tests/wdio.conf.base.ts
Labels: e2e

#721 test(extension): test maintenance - 9 Nov 2023
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
Labels: e2e

#551 test(extension): lw-8420 trezor emulator automation
  packages/core/src/ui/components/WalletSetup/WalletSetupConnectHardwareWalletStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupWalletNameStep.tsx
  packages/e2e-tests/README.md
  packages/e2e-tests/src/elements/onboarding/commonOnboardingElements.ts
  packages/e2e-tests/src/elements/onboarding/connectHardwareWalletPage.ts
  packages/e2e-tests/src/elements/onboarding/selectAccountPage.ts
  packages/e2e-tests/src/elements/trezorConnectPage.ts
  packages/e2e-tests/src/features/trezor/Trezor.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/steps/trezorConnetSteps.ts
  packages/e2e-tests/src/steps/trezorEmulatorSteps.ts
  packages/e2e-tests/src/utils/trezorEmulatorApiClient.ts
  packages/e2e-tests/src/utils/window.ts
  packages/e2e-tests/wdio.conf.chrome.ts
  packages/e2e-tests/wdio.conf.edge.ts
Labels: e2e

#723 test(extension): test automation maintenance 13 nov
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/elements/transactionsPage.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/features/TransactionsPopup.feature
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
Labels: e2e

#726 test(extension): add error log in dapp retry
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
Labels: e2e

#729 test(extension): add automation for session start analytics event
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
Labels: e2e

#725 fix(extension): an appropriate error is now shown when a trezor user rejects a transaction
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransaction.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/UnauthorizedTransaction.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
Labels: browser

#731 test(extension): maintenance 16 Nov 2023
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
Labels: e2e

#732 [LW-9077]: wallets crashing when sending ada handle
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
Labels: browser

#733 [LW-9082] fixes handle undefined in bundle deletion
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
Labels: browser

#736 test(extension): add test coverage for LW-9082
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
Labels: e2e

#735 test(extension): unblock tests blocked by LW-5065
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/elements/newTransaction/coinConfigure.ts
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#739 Chore/bump dapp connector patch
  apps/browser-extension-wallet/package.json
  yarn.lock
Labels: browser, staking, e2e

#717 [LW-9000] Add confirmed transaction metric
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/context.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/onChain.test.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/onChain.ts
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  packages/common/src/analytics/types.ts
Labels: browser

#741 test(extension): maintenance nov 20
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendPopup.feature
Labels: e2e

#737 test(extension): clean up code for assertions
  packages/e2e-tests/src/assert/NftRenameFolderAsserts.ts
  packages/e2e-tests/src/assert/addressBook/AddressDetailsAssert.ts
  packages/e2e-tests/src/assert/addressBook/DeleteAddressModalAssert.ts
  packages/e2e-tests/src/assert/coinConfigureAssert.ts
  packages/e2e-tests/src/assert/commonAssert.ts
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/educationalListAssert.ts
  packages/e2e-tests/src/assert/emptyStateAssert.ts
  packages/e2e-tests/src/assert/faqPageAssert.ts
  packages/e2e-tests/src/assert/forgotPasswordModalAssert.ts
  packages/e2e-tests/src/assert/helpAndSupportPageAssert.ts
  packages/e2e-tests/src/assert/localStorageAssert.ts
  packages/e2e-tests/src/assert/menuMainAssert.ts
  packages/e2e-tests/src/assert/modalAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/assert/networkAssert.ts
  packages/e2e-tests/src/assert/nftAssert.ts
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingAllDonePageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingCommonAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingLegalPageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingMnemonicInfoPageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingWalletPasswordPageAssert.ts
  packages/e2e-tests/src/assert/passwordInputAssert.ts
  packages/e2e-tests/src/assert/settings/CollateralDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/CookiePolicyDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/HelpSettingsDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/PassphraseDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/PrivacyPolicyDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/PublicKeyDrawerAssert.ts
  packages/e2e-tests/src/assert/settings/SettingsPageAssert.ts
  packages/e2e-tests/src/assert/stakePoolDetailsAssert.ts
  packages/e2e-tests/src/assert/stakingConfirmationScreenAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/assert/toastMessageAssert.ts
  packages/e2e-tests/src/assert/tokenDetailsAssert.ts
  packages/e2e-tests/src/assert/tokensPageAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionAssetSelectionAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionPasswordExtendedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionSubmittedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionSummaryAssert.ts
  packages/e2e-tests/src/assert/transactionsPageAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/assert/walletLockScreenAssert.ts
  packages/e2e-tests/src/assert/walletUnlockScreenAssert.ts
  packages/e2e-tests/src/elements/banner.ts
Labels: e2e

#745 test(extension): test maintenance 22 Nov
  packages/e2e-tests/src/assert/localStorageAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/transactionsPage.ts
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/pageobject/onboardingPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
Labels: e2e

#744 test(extension): clean up code for test steps
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/ForgotPassword.feature
  packages/e2e-tests/src/features/OnboardingCreateWallet.feature
  packages/e2e-tests/src/features/OnboardingRestoreWallet.feature
  packages/e2e-tests/src/features/analytics/AnalyticsForgotPassword.feature
  packages/e2e-tests/src/steps/AddressBookSteps.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/steps/settingsSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
  packages/e2e-tests/src/types/network.ts
  packages/e2e-tests/src/types/onboarding.ts
Labels: e2e

#743 chore(extension): add unit tests for dapp/confirm-tx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/VotingProceduresContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepRegistrationContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepRetirementContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepUpdateContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmTransactionContent.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmVoteDelegationContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/DappTransactionContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/VotingProceduresContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/hooks.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/utils.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/hooks.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/hooks/__tests__/useActionExecution.test.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/activity-detail-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/activity-detail-slice.ts
Labels: browser

#623 fix/LW-6466 - show overlay loading screen on network switch
  apps/browser-extension-wallet/src/components/MainLoader/MainLoader.module.scss
  apps/browser-extension-wallet/src/components/MainLoader/MainLoader.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/routes/PopupView.tsx
Labels: browser

#728 feat(ui): [LW 9028] Multi wallet UI elements
  packages/ui/src/assets/icons/chevron-right-thin.component.svg
  packages/ui/src/assets/icons/hardware-wallet.component.svg
  packages/ui/src/assets/icons/user-group.component.svg
  packages/ui/src/assets/icons/wallet.component.svg
  packages/ui/src/design-system/asset-input/asset-input.fixtures.ts
  packages/ui/src/design-system/asset-input/asset-input.stories.tsx
  packages/ui/src/design-system/bundle-input/bundle-input.stories.tsx
  packages/ui/src/design-system/buttons/buttons.stories.tsx
  packages/ui/src/design-system/buttons/skeleton-button.tsx
  packages/ui/src/design-system/control-buttons/control-button.css.ts
  packages/ui/src/design-system/control-buttons/control-buttons.stories.tsx
  packages/ui/src/design-system/control-buttons/icon-button.component.tsx
  packages/ui/src/design-system/decorators/color-schema-table.component.tsx
  packages/ui/src/design-system/decorators/index.ts
  packages/ui/src/design-system/decorators/ui-state-table.component.tsx
  packages/ui/src/design-system/icon-buttons/icon-buttons.stories.tsx
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/navigation-buttons/navigation-buttons.stories.tsx
  packages/ui/src/design-system/profile-dropdown/index.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-separator.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-trigger.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-trigger.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-trigger.stories.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-card.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-card.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-icon.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-icon.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.fixtures.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.stories.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-status.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-status.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown.data.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown.stories.tsx
  packages/ui/src/design-system/profile-picture/initials.component.tsx
  packages/ui/src/design-system/profile-picture/initials.css.ts
  packages/ui/src/design-system/profile-picture/profile-picture.stories.tsx
  packages/ui/src/design-system/profile-picture/user-profile.component.tsx
  packages/ui/src/design-system/profile-picture/user-profile.css.ts
  packages/ui/src/design-system/search-box/search-box.stories.tsx
  packages/ui/src/design-system/sub-navigation/sub-navigation.stories.tsx
  packages/ui/src/design-system/text-link/text-link.stories.tsx
  packages/ui/src/design-system/toggle-switch/toggle-switch.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#750 test(extension): maintenance 23 Nov 2023
  packages/e2e-tests/src/assert/settings/NetworkSettingsDrawerAssert.ts
  packages/e2e-tests/src/elements/educationalList.ts
  packages/e2e-tests/src/pageobject/educationalBannerPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/educationalBannersSteps.ts
Labels: e2e

#749 test(extension): update Webdriver.io to v8.24.0
  packages/e2e-tests/package.json
  yarn.lock
Labels: e2e

#753 test(extension): test maintenance 24 Nov
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
Labels: e2e

#751 Feat/lw 9163 staking overview stakekey deposit
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
Labels: staking

#754 feat(staking): maintenance 24 Nov 2023
  packages/e2e-tests/src/features/EmptyStatesExtended.feature
  packages/e2e-tests/src/features/EmptyStatesPopup.feature
  packages/e2e-tests/src/features/FullExperiencePopup.feature
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultiDelegationPagePopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/features/NavigationMainExtended.feature
  packages/e2e-tests/src/features/NavigationMainPopup.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
Labels: e2e

#746 [LW-9151] Edit account name component
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/account/components/EditAccount/EditAccountDrawer.test.tsx
  apps/browser-extension-wallet/src/features/account/components/EditAccount/EditAccountDrawer.tsx
  apps/browser-extension-wallet/src/features/account/components/EditAccount/hooks.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/text-box/index.ts
  packages/ui/src/design-system/text-box/text-box.component.tsx
  packages/ui/src/design-system/text-box/text-box.css.ts
  packages/ui/src/design-system/text-box/text-box.stories.tsx
  yarn.lock
Labels: browser, ui-toolkit

#748 chore(extension): resolve pr comments
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmVoteDelegationContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/VotingProceduresContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/VotingProceduresContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/hooks.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/core/src/ui/components/ActivityDetail/TransactionDetails.tsx
Labels: browser

#756 fix(extension): translation keys casing and unit tests
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepRegistrationContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepRetirementContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepUpdateContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmVoteDelegationContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/VotingProceduresContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/utils.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
Labels: browser

#608 feature/LW-5806 - Minting transactions from dapps
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/cardano/src/wallet/types.ts
  packages/core/package.json
  packages/core/src/ui/components/ActivityDetail/TransactionDetails.module.scss
  packages/core/src/ui/components/ActivityDetail/TransactionDetails.tsx
  packages/core/src/ui/components/ActivityDetail/TransactionFee.module.scss
  packages/core/src/ui/components/ActivityDetail/TransactionFee.tsx
  packages/core/src/ui/components/ActivityDetail/index.ts
  packages/core/src/ui/components/DappTransaction/DappTransaction.module.scss
  packages/core/src/ui/components/DappTransaction/DappTransaction.tsx
  packages/core/src/ui/components/DappTransaction/DappTxAsset/DappTxAsset.module.scss
  packages/core/src/ui/components/DappTransaction/DappTxAsset/DappTxAsset.tsx
  packages/core/src/ui/components/DappTransaction/DappTxHeader/DappTxHeader.module.scss
  packages/core/src/ui/components/DappTransaction/DappTxHeader/DappTxHeader.tsx
  packages/core/src/ui/components/DappTransaction/DappTxOutput/DappTxOutput.module.scss
  packages/core/src/ui/components/DappTransaction/DappTxOutput/DappTxOutput.tsx
  packages/core/src/ui/lib/translations/en.json
  yarn.lock
Labels: browser

#757 test(extension): maintenance 27 nov
  packages/e2e-tests/package.json
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/utils/networkManager.ts
  packages/e2e-tests/src/utils/utils.ts
  packages/e2e-tests/wdio.conf.base.ts
  yarn.lock
Labels: e2e

#718 feat(staking): [LW-6437, LW-8877] past epochs rewards chart
  packages/staking/package.json
  packages/staking/src/features/activity/Activity.tsx
  packages/staking/src/features/activity/EpochsSwitch.module.scss
  packages/staking/src/features/activity/EpochsSwitch.tsx
  packages/staking/src/features/activity/PastEpochsRewards/PastEpochsRewards.tsx
  packages/staking/src/features/activity/PastEpochsRewards/PoolIndicator.tsx
  packages/staking/src/features/activity/PastEpochsRewards/RewardsChart.tsx
  packages/staking/src/features/activity/PastEpochsRewards/RewardsChartTooltip.tsx
  packages/staking/src/features/activity/PastEpochsRewards/hooks/useRewardsByEpoch.ts
  packages/staking/src/features/activity/PastEpochsRewards/hooks/useRewardsChartPoolsColorMapper.tsx
  packages/staking/src/features/activity/PastEpochsRewards/index.ts
  packages/staking/src/features/activity/RewardsHistory.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  yarn.lock
Labels: staking

#712 feat(extension): [LW-7417] track manual re-sync and hd wallet discovery
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsWalletBase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/common/src/analytics/types.ts
Labels: browser

#706 feat(staking): [LW-8929, LW-8777] apply pool search also to selected pools
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.tsx
Labels: staking

#720 feat(staking,common): [LW-8090] enable manageDelegation CTA from pool details
  packages/common/src/analytics/types.ts
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/commands.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
Labels: staking

#686 feat(staking): load multi-delegation for HW wallets
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/hooks/useMultiDelegationEnabled.ts
  packages/staking/src/features/Drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/Drawer/TransactionFail.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationFooter.tsx
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/commands.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
Labels: browser, staking

#742 feat(extension): [LW-9028] Add wallet concepts to menu
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.module.scss
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/ExpandButton/ExpandButton.module.scss
  apps/browser-extension-wallet/src/components/ExpandButton/ExpandButton.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/AddNewWalletLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/index.ts
  apps/browser-extension-wallet/src/components/MainMenu/MainHeader.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/MainHeader.tsx
  apps/browser-extension-wallet/src/components/NetworkPill/NetworkPill.module.scss
  apps/browser-extension-wallet/src/components/NetworkPill/NetworkPill.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/UIThemeProvider/context.tsx
  apps/browser-extension-wallet/src/providers/UIThemeProvider/index.ts
  apps/browser-extension-wallet/src/providers/index.ts
  apps/browser-extension-wallet/src/routes/wallet-paths.ts
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/SectionLayout.modules.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/SidePanel.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/LeftSidePanel.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/LeftSidePanel.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/SendReceiveBox/SendReceiveBox.module.scss
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-trigger.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-card.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-icon.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
Labels: browser, ui-toolkit

#734 Chore/update for sdk conway era
  apps/browser-extension-wallet/src/api/mock.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  packages/cardano/src/wallet/test/mocks/StakepoolSearchProviderStub.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/cardano/src/wallet/util/__tests__/stake-pool-transformer.test.ts
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.tsx
Labels: browser, staking

#767 Revert "Chore/update for sdk conway era"
  apps/browser-extension-wallet/src/api/mock.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  packages/cardano/src/wallet/test/mocks/StakepoolSearchProviderStub.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/cardano/src/wallet/util/__tests__/stake-pool-transformer.test.ts
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.tsx
Labels: browser, staking

#766 test(extension): maintenance 30 Nov 2023
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/features/CollateralExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
Labels: e2e

#765 test(extension): add test ids for governance actions
  packages/core/src/ui/components/ConfirmDRepRegistration/ConfirmDRepRegistration.tsx
  packages/core/src/ui/components/ConfirmDRepRetirement/ConfirmDRepRetirement.tsx
  packages/core/src/ui/components/ConfirmDRepUpdate/ConfirmDRepUpdate.tsx
  packages/core/src/ui/components/ConfirmVoteDelegation/ConfirmVoteDelegation.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-address.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-metadata.component.tsx
Labels: ui-toolkit
