Repository input-output-hk/lace, pull requests merged in 2023-07, with the labels that each got.

#203 feat(staking): enable using svg as React components (svgr)
  packages/staking/.ladle/vite.config.ts
  packages/staking/package.json
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolTableBrowser/StakePoolTableBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolTableBrowser/arrow.svg
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTableEmpty.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTableEmpty.tsx
  packages/staking/src/features/drawer/SocialNetworks/SocialNetworkIcon.tsx
  packages/staking/src/features/drawer/SocialNetworks/banner.svg
  packages/staking/src/features/drawer/SocialNetworks/facebook.svg
  packages/staking/src/features/drawer/SocialNetworks/feed.svg
  packages/staking/src/features/drawer/SocialNetworks/github.svg
  packages/staking/src/features/drawer/SocialNetworks/medium.svg
  packages/staking/src/features/drawer/SocialNetworks/site.svg
  packages/staking/src/features/drawer/SocialNetworks/telegram.svg
  packages/staking/src/features/drawer/SocialNetworks/twitter.svg
  packages/staking/src/features/drawer/SocialNetworks/youtube.svg
  packages/staking/src/typings/svg.d.ts
  packages/staking/tsup.config.ts
  yarn.lock
Labels: staking

#207 chore(extension): fix svgs icons imports
  apps/browser-extension-wallet/src/features/address-book/context/__test__/context.test.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/__tests__/useGetFilteredAddressBook.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
  apps/browser-extension-wallet/src/features/nfts/context/__test__/context.test.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useActionExecution.test.ts
  apps/browser-extension-wallet/src/hooks/__tests__/useMaxAda.test.ts
  apps/browser-extension-wallet/src/types/side-menu.ts
  apps/browser-extension-wallet/test/__mocks__/svgMock.js
  apps/browser-extension-wallet/test/jest.config.js
  packages/cardano/test/__mocks__/svgMock.js
  packages/cardano/test/jest.config.js
  packages/common/src/ui/components/Banner/Banner.tsx
  packages/common/test/jest.config.js
  packages/core/src/ui/components/WalletSetup/__tests__/WalletSetupMnemonicVerificationStep.test.tsx
  packages/core/test/jest.config.js
Labels: browser

#136 Fix/dapp connector transaction information
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/Connect.test.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/requestAccess.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/lib/scripts/types/dapp-service.ts
  packages/core/src/ui/components/DappTransaction/DappTransaction.module.scss
Labels: browser

#187 Feat/LW-6853 Staking basket bar
  packages/core/src/ui/assets/icons/arrow-right.component.svg
  packages/core/src/ui/assets/icons/chevron-right.component.svg
  packages/core/src/ui/components/AssetInput/AssetInput.tsx
  packages/core/src/ui/components/WalletSetup/SocialLink.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/staking/PortfolioBar.css.ts
  packages/staking/src/features/staking/PortfolioBar.stories.tsx
  packages/staking/src/features/staking/PortfolioBar.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/staking/arrow-right.svg
  packages/staking/src/features/store/delegationPortfolio.ts
Labels: staking

#185 feat(ui): create <TransactionSummary /> component
  packages/ui/src/design-system/box/box.component.tsx
  packages/ui/src/design-system/grid/grid.component.tsx
  packages/ui/src/design-system/grid/grid.css.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/pie-chart/pie-chart.stories.tsx
  packages/ui/src/design-system/transaction-summary/index.ts
  packages/ui/src/design-system/transaction-summary/transaction-summary-address.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-amount.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-metadata.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-other.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary.css.ts
  packages/ui/src/design-system/transaction-summary/transaction-summary.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#211 feat(extension): LW-7085 Enable HD wallet feature in Lace configuration
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfoContainer.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/__tests__/ReceiveInfo.test.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletInfoSubscriber.test.ts
  apps/browser-extension-wallet/src/hooks/useMaxAda.ts
  apps/browser-extension-wallet/src/hooks/useWalletInfoSubscriber.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/__tests__/versions/v0_6_0.test.ts
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/types/wallet.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/utils/tx-inspection.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/__tests__/TransactionDetail.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/tx-history-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/filter-outputs-by-tx-direction.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/__tests__/AssetsPortfolio.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/voting/components/CatalystRegistrationFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/voting/components/VotingLayout.tsx
Labels: browser

#181 feat(ui): create <SummaryExpander /> component
  packages/ui/package.json
  packages/ui/src/assets/icons/chevron-down.component.svg
  packages/ui/src/assets/icons/chevron-up.component.svg
  packages/ui/src/design-system/summary-expander/summary-expander-trigger.component.tsx
  packages/ui/src/design-system/summary-expander/summary-expander-trigger.css.ts
  packages/ui/src/design-system/summary-expander/summary-expander.component.tsx
  packages/ui/src/design-system/summary-expander/summary-expander.css.ts
  packages/ui/src/design-system/summary-expander/summary-expander.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#210 feat(ui): create <IconButton /> component
  packages/ui/src/assets/icons/caret.component.svg
  packages/ui/src/assets/icons/lace-gradient.component.svg
  packages/ui/src/assets/icons/plain-circle.component.svg
  packages/ui/src/design-system/icon-buttons/caret-button.component.tsx
  packages/ui/src/design-system/icon-buttons/caret-button.css.ts
  packages/ui/src/design-system/icon-buttons/icon-buttons.data.ts
  packages/ui/src/design-system/icon-buttons/icon-buttons.stories.tsx
  packages/ui/src/design-system/icon-buttons/icon-skeleton-button.component.tsx
  packages/ui/src/design-system/icon-buttons/icon-skeleton-button.css.ts
  packages/ui/src/design-system/icon-buttons/index.ts
  packages/ui/src/design-system/icon-buttons/primary-button.component.tsx
  packages/ui/src/design-system/icon-buttons/secondary-button.component.tsx
  packages/ui/src/design-system/icon-buttons/secondary-button.css.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#222 test/maintenance-05-Jul-2023
  apps/browser-extension-wallet/src/components/MainLoader/MainLoader.tsx
  packages/e2e-tests/src/elements/MainLoader.ts
  packages/e2e-tests/src/features/OnboardingRestoreWallet.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/pageobject/stakingPageObject.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
Labels: browser

#180 feat(ui): create <FlowCard /> component
  packages/ui/src/design-system/flow-card/flow-card-details.component.tsx
  packages/ui/src/design-system/flow-card/flow-card-details.css.ts
  packages/ui/src/design-system/flow-card/flow-card-profile.component.tsx
  packages/ui/src/design-system/flow-card/flow-card-profile.css.ts
  packages/ui/src/design-system/flow-card/flow-card.component.tsx
  packages/ui/src/design-system/flow-card/flow-card.css.ts
  packages/ui/src/design-system/flow-card/flow-card.stories.tsx
  packages/ui/src/design-system/flow-card/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#224 [LW-7350] Bump cardano-js-sdk so all addresses are discovered
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  packages/common/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking, extension-1.3.0

#218 test(extension): refactor POM for staking success drawer
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionSuccess.tsx
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/staking/StakingSuccessDrawer.ts
  packages/e2e-tests/src/elements/staking/stakingSuccessDrawer.ts
  packages/e2e-tests/src/features/e2e/StakingInitialFundsE2E.feature
  packages/e2e-tests/src/features/e2e/StakingSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/StakingSwitchingPoolsPopupE2E.feature
  packages/e2e-tests/src/steps/stakingSteps.ts
Labels: browser

#231 chore: bump cardano-sdk packages
  apps/browser-extension-wallet/package.json
  package.json
  packages/cardano/package.json
  packages/common/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#182 [LW-6606] Add handle capabilities to address book
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/EditAddressFormFooter.tsx
  apps/browser-extension-wallet/src/features/address-book/components/DeleteAddressModal.tsx
  apps/browser-extension-wallet/src/styles/index.scss
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressForm/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressForm/__tests__/AddressForm.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetTransactionDetails/__tests__/AssetTransactionDetails.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  packages/common/package.json
  packages/common/src/ui/components/Drawer/__tests__/Drawer.test.tsx
  packages/common/src/ui/components/Form/Password/Password.tsx
  packages/common/src/ui/components/Search/Search.module.scss
  packages/common/src/ui/components/Search/Search.tsx
  packages/common/src/ui/components/Search/__tests__/Search.test.tsx
  packages/common/src/ui/hooks/__tests__/useAutoFocus.test.tsx
  packages/core/package.json
  packages/core/src/ui/assets/icons/address-error-icon.component.svg
  packages/core/src/ui/components/AddressFormBrowserView/AddressForm.module.scss
  packages/core/src/ui/components/AddressFormBrowserView/AddressForm.tsx
  packages/core/src/ui/components/AddressFormBrowserView/__tests__/AddressFrom.test.tsx
  packages/core/src/ui/components/AddressFormBrowserView/index.ts
  packages/core/src/ui/components/AddressFormBrowserView/utils.ts
  packages/core/src/ui/components/AssetSelector/AssetSelectorOverlay.module.scss
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.module.scss
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.tsx
  packages/core/src/ui/components/EditAddressForm/EditAddressForm.module.scss
  packages/core/src/ui/components/EditAddressForm/EditAddressForm.tsx
  packages/core/src/ui/components/EditAddressForm/EditAddressFormFooter.tsx
  packages/core/src/ui/components/EditAddressForm/__tests__/EditAddressForm.test.tsx
  packages/core/src/ui/components/EditAddressForm/index.ts
  packages/core/src/ui/components/MnemonicWordsAutoComplete/MnemonicWordsAutoComplete.tsx
  packages/core/src/ui/utils/address-form.ts
  packages/core/src/ui/utils/handle.ts
  packages/core/src/ui/utils/index.ts
  packages/e2e-tests/src/assert/addressBook/addressBookExtendedAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/elements/addressInput.ts
  packages/e2e-tests/src/elements/addressbook/extendedview/AddressAddNew.ts
  yarn.lock
Labels: browser

#221 feature(staking): add selection management buttons
  packages/staking/src/features/browse-pools/data.json
  packages/staking/src/features/drawer/StakePoolDetail.module.scss
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/PortfolioBar.tsx
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/types.ts
  packages/ui/src/design-system/flex/flex.component.tsx
Labels: staking, ui-toolkit

#241 ci(all): remove npm audit and sonarqube
  .github/scripts/audit.sh
  .github/workflows/ci.yml
  .github/workflows/sonarqube.yml
Labels: ci

#194 Implement Lace new user opted-in/out events in PostHog
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/types.ts
Labels: browser

#204 Implements Lace onboarding new wallet and restore events in PostHog
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#212 Implements hardware wallet post hog events
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
Labels: browser

#192 feat(extension) add onboarding events to PostHog
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/context.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#246 test(extension): lw-7286 posthog analytics test automation
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendTransactionGoal.feature
  packages/e2e-tests/src/pageobject/onboardingPageObject.ts
  packages/e2e-tests/src/steps/analyticsSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/utils/postHogAnalyticsUtils.ts
Labels: browser

#249 chore(extension): bump to 1.3.0
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_3_0.tsx
Labels: browser

#240 feat(staking): enable confirmation drawer step
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/.eslintrc.cjs
  packages/staking/.ladle/components.tsx
  packages/staking/package.json
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.module.scss
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/arrow-down.svg
  packages/staking/src/features/drawer/cardano-blue.png
  packages/staking/src/features/drawer/exclamation-circle-small.svg
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/outside-handles-provider/OutsideHandlesProvider.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/store/stakingStore.ts
  packages/staking/src/features/store/types.ts
  packages/staking/src/typings/png.d.ts
  packages/staking/tsup.config.ts
Labels: browser, staking

#255 chore(extension): updated release notes
  apps/browser-extension-wallet/src/release-notes/1_3_0.tsx
Labels: browser

#234 [LW-7324] Personalized ADA Handle in NFT screen
  apps/browser-extension-wallet/src/features/nfts/components/NftDetail.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useAssetInfo.test.ts
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAssetInfo.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-asset-image.test.ts
  apps/browser-extension-wallet/src/utils/get-asset-image.ts
  apps/browser-extension-wallet/src/utils/get-token-list.ts
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/AssetPicker.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/NftsList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/selectors.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AssetPicker.tsx
Labels: browser

#242 fix(extension): address alert showing overlapped
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.module.scss
Labels: browser

#235 feat: persists HandleResolution to addressBookContext
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/context/AddressBookProvider.tsx
  apps/browser-extension-wallet/src/features/address-book/context/__test__/context.test.tsx
  apps/browser-extension-wallet/src/features/address-book/context/context.ts
  apps/browser-extension-wallet/src/features/address-book/hooks/__tests__/useGetFilteredAddressBook.test.tsx
  apps/browser-extension-wallet/src/lib/storage/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/lib/storage/__tests__/database.test.ts
  apps/browser-extension-wallet/src/lib/storage/models/address-book.ts
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressForm/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/AddressFormFooter.tsx
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.tsx
Labels: browser

#248 fix(extension): onboarding bug with mnemonics
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicVerificationStep.tsx
  packages/core/src/ui/components/WalletSetup/__tests__/WalletSetupMnemonicVerificationStep.test.tsx
Labels: browser

#256 feat(staking): handle multiple stake pools on staking confirmation drawer
  packages/staking/.eslintrc.cjs
  packages/staking/package.json
  packages/staking/src/features/drawer/StakePoolConfirmation.module.scss
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/PortfolioBar.tsx
  packages/staking/src/features/store/types.ts
Labels: staking

#253 [LW-7422] Transaction confirmation screen is not purged
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendWarningModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/uiStore.ts
  apps/browser-extension-wallet/src/views/browser-view/stores/sections-store.ts
Labels: browser

#223 test(extension): e2e - add tests for 'select nfts' page
  apps/browser-extension-wallet/src/components/Layout/SectionTitle.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/AssetPicker.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/CreateFolderDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  packages/common/src/ui/components/Search/Search.tsx
  packages/common/src/ui/components/Search/__tests__/Search.test.tsx
  packages/core/src/ui/components/AssetSelector/AssetSelectorOverlay.tsx
  packages/core/src/ui/components/Nft/NftItem.tsx
  packages/e2e-tests/src/assert/nftAssert.ts
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionAssetSelectionAssert.ts
  packages/e2e-tests/src/elements/NFTs/nftCreateFolderPage.ts
  packages/e2e-tests/src/elements/NFTs/nftItem.ts
  packages/e2e-tests/src/elements/NFTs/nftList.ts
  packages/e2e-tests/src/elements/NFTs/nftSelectNftsPage.ts
  packages/e2e-tests/src/elements/NFTs/nftsPage.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSelectionPage.ts
  packages/e2e-tests/src/elements/searchInput.ts
  packages/e2e-tests/src/features/NFTsFoldersExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/features/SettingsPageExtended.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
  packages/e2e-tests/src/features/e2e/SendNftExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendNftPopupE2E.feature
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/wdio.conf.chrome.ts
  packages/e2e-tests/wdio.conf.edge.ts
Labels: browser

#271 test(extension): e2e - fix workflow when running multiple tags
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
Labels: ci

#227 feat(ui): create <ToastBar /> component
  packages/ui/.storybook/preview.js
  packages/ui/package.json
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/toast-bar/index.ts
  packages/ui/src/design-system/toast-bar/toast-bar-progress.component.tsx
  packages/ui/src/design-system/toast-bar/toast-bar-progress.css.ts
  packages/ui/src/design-system/toast-bar/toast-bar-provider.component.tsx
  packages/ui/src/design-system/toast-bar/toast-bar-root.component.tsx
  packages/ui/src/design-system/toast-bar/toast-bar-root.css.ts
  packages/ui/src/design-system/toast-bar/toast-bar-viewport.component.tsx
  packages/ui/src/design-system/toast-bar/toast-bar-viewport.css.ts
  packages/ui/src/design-system/toast-bar/toast-bar.component.tsx
  packages/ui/src/design-system/toast-bar/toast-bar.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#244 chore(extension): add unit tests for the analytics user id service
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.test.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
Labels: browser

#275 fix: remove authorized dapp
  apps/browser-extension-wallet/src/lib/scripts/background/requestAccess.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
Labels: browser

#261 Change copy for hardware wallet setup steps
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupSelectAccountsStep.module.scss
Labels: browser

#267 feat(staking): enable success and failure steps in staking drawer
  .gitignore
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/drawer/ResultMessage.module.scss
  packages/staking/src/features/drawer/ResultMessage.tsx
  packages/staking/src/features/drawer/SignConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/drawer/TransactionComplete.module.scss
  packages/staking/src/features/drawer/TransactionFail.tsx
  packages/staking/src/features/drawer/TransactionSuccess.tsx
  packages/staking/src/features/drawer/exclamation-circle.svg
  packages/staking/src/features/drawer/success-staking.svg
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/store/stakingStore.ts
Labels: browser, staking

#236 Separate events being developed and production-ready events
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/config.ts
Labels: browser

#263 feat(extension) posthog client tests
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
Labels: browser

#268 test(extension): add test for analytics tracker
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsSecurity.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/__tests__/SettingsAnalyticsTracker.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/__tests__/WalletSetup.test.tsx
  apps/browser-extension-wallet/test/__mocks__/set-env-vars.js
  packages/common/src/ui/components/Switch/Switch.tsx
Labels: browser

#265 feat(staking): reflect actual pool items on browse pools view
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/search/Search.module.scss
  packages/staking/src/features/browse-pools/search/Search.tsx
  packages/staking/src/features/browse-pools/search/index.ts
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/outside-handles-provider/index.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/stake-pools/data.json
  packages/staking/src/features/stake-pools/index.ts
  packages/staking/src/features/stake-pools/stakePools.ts
  packages/staking/src/features/staking/PortfolioBar.stories.tsx
  packages/staking/src/features/staking/PortfolioBar.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/types.ts
Labels: browser, staking

#282 Feature/lw 7525 create folder test
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/CreateFolderDrawer.tsx
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/elements/NFTs/nftsFolderPage.ts
  packages/e2e-tests/src/elements/NFTs/nftsPage.ts
  packages/e2e-tests/src/features/NFTsFoldersExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.feature
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
Labels: browser

#286 feat(staking): add retired and saturated indicators
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/i18n/index.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/overview/staking-info-card/StatsTooltip.tsx
  packages/staking/src/features/overview/staking-info-card/moon.component.svg
  packages/staking/src/features/overview/staking-info-card/warning.component.svg
Labels: staking

#289 fix(staking): prevent retired indicator from being visible by default
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/overview/staking-info-card/StatsTooltip.tsx
Labels: staking

#186 refactor/LW-7148 - PortfolioBalance refactor
  apps/browser-extension-wallet/src/components/BalanceVisibilityToggle/BalanceVisibilityToggle.modules.scss
  apps/browser-extension-wallet/src/components/BalanceVisibilityToggle/BalanceVisibilityToggle.tsx
  apps/browser-extension-wallet/src/components/BalanceVisibilityToggle/__tests__/BalanceVisibilityToggle.test.tsx
  apps/browser-extension-wallet/src/components/BalanceVisibilityToggle/index.ts
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalance.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalance.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceLabel/PortfolioBalanceLabel.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceLabel/PortfolioBalanceLabel.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceLabel/__tests__/PortfolioBalanceLabel.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceValue/PortfolioBalanceValue.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceValue/PortfolioBalanceValue.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalanceValue/__tests__/PortfolioBalanceValue.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/__tests__/AssetDetails.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  packages/e2e-tests/src/elements/tokenDetailsPage.ts
Labels: browser

#237 refactor(extension): refactor CoinInput component and helpers
  apps/browser-extension-wallet/src/features/send/components/Send.tsx
  apps/browser-extension-wallet/src/utils/__tests__/format-string.test.ts
  apps/browser-extension-wallet/src/utils/format-string.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/__tests__/helpers.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/CoinInput.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/CoinInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/__tests__/useSelectedCoins.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/__tests__/util.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/useSelectedCoins.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/util.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/constants.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  apps/browser-extension-wallet/test/helpers/assertions.js
  apps/browser-extension-wallet/test/types/helpers.d.ts
Labels: browser

#274 fix(extension): bump several patch versions, fixes LW-7459 and LW-7482
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  yarn.lock
Labels: browser, extension-1.3.1

#287 chore(extension): updated text in banner for multidelegation
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser, extension-1.3.1

#269 chore: update cardano-sdk packages
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#251 Rename Matomo types
  .github/workflows/ci.yml
  .github/workflows/smoke-tests.yml
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/AddressBookLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/MainFooter.tsx
  apps/browser-extension-wallet/src/components/TransactionHashBox/TransactionHashBox.tsx
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/features/nfts/components/NftDetail.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/matomo/MatomoClient.ts
  apps/browser-extension-wallet/src/views/browser-view/components/SendReceiveBox/SendReceiveBox.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenu.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/__tests__/AssetsPortfolio.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendWarningModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/SignConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionFail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionSuccess.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/StakingModals.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
Labels: browser, ci

#262 Feat/LW-7128 add handle update screen
  apps/browser-extension-wallet/src/features/address-book/components/AddressActionsModal.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressActionsModal.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/index.ts
  apps/browser-extension-wallet/src/features/address-book/components/DeleteAddressModal.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useUpdateAddressStatus.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/styles/index.scss
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/AddressFormFooter.tsx
  packages/core/src/ui/utils/handle.ts
Labels: browser

#295 chore(all): run CI and smoke tests on all PRs
  .github/workflows/ci.yml
  .github/workflows/smoke-tests.yml
Labels: ci

#302 Feat/LW-7542,LW-7610,LW-7637
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.module.scss
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.module.scss
Labels: staking

#309 LW-7654 add tags for 2e tests
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/staking/Navigation.tsx
Labels: staking

#303 Feat/LW-7489,LW-7636
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/types.ts
Labels: staking

#312 chore(extension): bump to 1.3.1
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_3_1.tsx
Labels: browser

#313 chore(extension): updated text in banner for multidelegation (#287)
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#314 chore(extension): update release notes for 1.3.1
  apps/browser-extension-wallet/src/release-notes/1_3_1.tsx
Labels: browser

#317 test(extension): e2e - bump ubuntu version to 22.04 for gh runners
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
Labels: ci

#322 test(extension): e2e - fix typo for create-folder related elements
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/CreateFolderDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftFolderConfirmationModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/RenameFolderDrawer.tsx
  packages/e2e-tests/src/elements/NFTs/DeleteFolderModal.ts
  packages/e2e-tests/src/elements/NFTs/youllHaveToStartAgainModal.ts
Labels: browser

#320 Test/lw 7683 remove nfts tests
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/NftsList.tsx
  packages/core/src/ui/components/Nft/NftItem.tsx
  packages/e2e-tests/src/assert/NftFolderAssert.ts
  packages/e2e-tests/src/elements/NFTs/NftFolderContextMenu.ts
  packages/e2e-tests/src/features/NFTsFoldersExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.feature
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
Labels: browser

#305 feat(staking,ui): Preferences modal, bug fixes
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/ChangingPreferencesModal.tsx
  packages/staking/src/features/modals/StakingModal.module.scss
  packages/staking/src/features/modals/StakingModal.tsx
  packages/staking/src/features/modals/index.ts
  packages/staking/src/features/staking/Navigation.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/store/stakingStore.ts
  packages/staking/src/features/store/types.ts
  packages/ui/src/design-system/sub-navigation/sub-navigation.component.tsx
Labels: staking, ui-toolkit

#318 ci: update e2e tests upload bucket
  .github/workflows/e2e-tests-linux.yml
Labels: ci

#315 Feat/posthog event properties
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/context.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
Labels: browser

#299 chore/LW-7442 - Refactor format number utils
  apps/browser-extension-wallet/src/api/transformers.ts
  apps/browser-extension-wallet/src/features/delegation/stores/createDelegationStore.ts
  apps/browser-extension-wallet/src/utils/__tests__/assets-transformers.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/format-number.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-number-unit.test.ts
  apps/browser-extension-wallet/src/utils/assets-transformers.ts
  apps/browser-extension-wallet/src/utils/constants.ts
  apps/browser-extension-wallet/src/utils/format-number.ts
  apps/browser-extension-wallet/src/utils/get-number-unit.ts
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/__tests__/useSelectedCoins.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput/useSelectedCoins.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
Labels: browser

#335 test(extension): e2e - fix reports aws secret
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
Labels: ci

#339 chore: update cardano-sdk packages
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/hooks/useBuildDelegation.ts
  packages/cardano/package.json
Labels: browser

#330 Fix: handle verifications run only once.
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
Labels: browser

#337 feat(extension): modify text in collateral banner when inactive
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/send/CollateralStepSend.tsx
  packages/e2e-tests/src/assert/settings/CollateralDrawerAssert.ts
Labels: browser

#298 Feat: Adds payment keys comparison to handle owner verification
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  yarn.lock
Labels: browser

#321 feat: adds warning on handle validation on send form
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/assets/icons/red-exclamation-circle.component.svg
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/__tests__/useGetFilteredAddressBook.test.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/useGetFilteredAddressBook.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  packages/common/src/ui/components/Banner/Banner.module.scss
  packages/common/src/ui/components/Banner/Banner.tsx
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.module.scss
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.tsx
  packages/core/src/ui/utils/handle.ts
Labels: browser
