Repository input-output-hk/lace, pull requests merged in 2023-09, with the labels that each got.

#455 feat(staking): LW-8126 add returned deposit info to de-registration tx confirm
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/staking/src/features/drawer/StakePoolConfirmation.module.scss
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: browser

#475 feat(staking): add total and average rewards per pool [LW-8013]
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/cardano/src/wallet/index.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/helpers.ts
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/store/__snapshots__/delegationPortfolio.test.ts.snap
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/types.ts
Labels: browser

#480 [LW-8221] PostHog regression fixes
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.test.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
Labels: browser

#477 feat(staking): improve noFunds check, add skeleton component
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/helpers/hasMinimumFundsToDelegate.ts
  packages/staking/src/features/overview/helpers/hasPendingDelegationTransaction.ts
  packages/staking/src/features/overview/helpers/index.ts
  packages/staking/src/features/overview/helpers/mapPortfolioToDisplayData.ts
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/staking/setup/SetupBase.tsx
Labels: browser

#472 Fix(extension): LW-7358 fix incorrect time being shown for activities
  apps/browser-extension-wallet/src/api/transformers.ts
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/types/tx.ts
  apps/browser-extension-wallet/src/utils/__tests__/format-date.test.ts
  apps/browser-extension-wallet/src/utils/format-date.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
  packages/e2e-tests/src/support/patterns.ts
Labels: browser

#482 fix(staking): adjust transaction details to reflect multi staking
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/types/tx.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  packages/core/src/ui/components/Transactions/Transaction.tsx
  packages/core/src/ui/components/Transactions/TransactionDetailBrowser.module.scss
  packages/core/src/ui/lib/translations/en.json
  packages/staking/src/index.ts
Labels: browser

#458 feat(extension): clear input on address delete in send flow
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionLayout.tsx
Labels: browser

#479 chore: update ada handle copies
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  packages/core/src/ui/lib/translations/en.json
Labels: browser

#488 refactor: consolidate ADA Handle feature flags
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
Labels: browser

#484 Feat/cip30 collateral
  apps/browser-extension-wallet/src/components/MainLoader/MainLoader.module.scss
  apps/browser-extension-wallet/src/components/MainLoader/MainLoader.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/CollateralContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/CreateCollateral.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/InsufficientFunds.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/SetCollateral.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/index.ts
  apps/browser-extension-wallet/src/features/dapp/components/collateral/styles.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/collateral/types.ts
  apps/browser-extension-wallet/src/features/dapp/components/index.ts
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/lib/scripts/types/dapp-service.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/routes/DappConnectorView.tsx
  apps/browser-extension-wallet/src/routes/wallet-paths.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/helpers.ts
  packages/common/src/ui/components/Banner/Banner.tsx
Labels: browser

#495 Fix/missing send flow events popup
  apps/browser-extension-wallet/src/features/nfts/components/NftDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
Labels: browser

#460 fix/LW-8182 - Alignment Issues
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.modules.scss
  packages/common/src/ui/components/Search/Search.module.scss
  packages/core/src/ui/components/EditAddressForm/EditAddressForm.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.module.scss
Labels: browser

#481 chore(staking): update copy of disabled bin button
  packages/staking/src/features/i18n/translations/en.ts
Labels: staking

#503 test(extension): disable showing multidelegation beta banner for lw-3446
  packages/e2e-tests/src/features/FullExperiencePopup.feature
Labels: e2e

#499 test(extension): posthog test fixes / improvement in stability
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsStakingExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsStakingPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsToggleSettingsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsToggleSettingsPopup.feature
  packages/e2e-tests/src/steps/analyticsSteps.ts
Labels: e2e

#505 test(extension): e2e - fix invalid address error
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
Labels: e2e

#493 fix(extension): panel popup in settings has wrong background
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsLayout.module.scss
Labels: browser

#506 fix(staking): fix translation key for the old staking flow (confirmation summary) [LW-8368]
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
Labels: browser

#497 fix: center align side-drawer header text when back button is absent
  packages/ui/src/design-system/side-drawer/side-drawer-content-header.component.tsx
Labels: ui-toolkit

#414 feat(extension): add Token Information section in token details
  apps/browser-extension-wallet/src/config.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/utils/__tests__/assets-transformers.test.ts
  apps/browser-extension-wallet/src/utils/assets-transformers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetails.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsContainer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/__tests__/AssetDetails.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/types.ts
  packages/common/src/ui/assets/icons/copy-icon.component.svg
  packages/common/src/ui/components/InlineInfoList/InlineInfoList.module.scss
  packages/common/src/ui/components/InlineInfoList/InlineInfoList.tsx
  packages/e2e-tests/src/assert/tokenDetailsAssert.ts
  packages/e2e-tests/src/elements/tokenDetailsPage.ts
Labels: browser, e2e

#507 Fix/cip30 popups
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/requestAccess.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
Labels: browser, e2e

#500 fix: lw-8342 lace takes null for not existent handles
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
Labels: browser

#509 test(extension): e2e - move de-authorise DApps step before the test
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/DAppConnectorExtended.feature
  packages/e2e-tests/src/features/DAppConnectorPopup.feature
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: e2e

#510 test(extension): fix nft analytics scenarios
  packages/e2e-tests/src/features/analytics/AnalyticsEventProperitesExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsEventProperitesPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsPopup.feature
  packages/e2e-tests/src/steps/analyticsSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#513 chore(extension): disable PostHog
  apps/browser-extension-wallet/.env.defaults
Labels: browser

#516 chore(extension): enable PostHog
  apps/browser-extension-wallet/.env.defaults
Labels: browser

#498 test(extension): e2e - add test for ada handle nft folders
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSelectionPage.ts
  packages/e2e-tests/src/elements/walletAddressPage.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/steps/navigationTopSteps.ts
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
Labels: e2e

#520 test(extension): e2e - test maintenance 11 Sep
  packages/e2e-tests/src/assert/onboarding/onboardingWalletCreationPageAssert.ts
  packages/e2e-tests/src/assert/settings/privacyPolicy.txt
  packages/e2e-tests/src/elements/NFTs/nftSelectNftsPage.ts
  packages/e2e-tests/src/features/OnboardingRestoreWallet.feature
  packages/e2e-tests/src/features/SettingsPageExtended.feature
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#508 fix(extension): LW-8325 fix loss of timezone info when formatting time as local
  apps/browser-extension-wallet/src/utils/__tests__/format-date.test.ts
  apps/browser-extension-wallet/src/utils/format-date.ts
Labels: browser

#521 fix(common): LW-8396 fix `yarn lint` skipping workspaces, enable eslint `no-console` rule
  .eslintrc.js
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/components/Announcement/Announcement.tsx
  apps/browser-extension-wallet/src/components/MigrationContainer/MigrationContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/CollateralContainer.tsx
  apps/browser-extension-wallet/src/hooks/useCollateral.ts
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/content.ts
  apps/browser-extension-wallet/src/lib/scripts/background/inject.ts
  apps/browser-extension-wallet/src/lib/scripts/background/onError.ts
  apps/browser-extension-wallet/src/lib/scripts/background/onUpdate.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/__tests__/migrations.test.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/migrations.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/v0_6_0.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/v1_0_0.ts
  apps/browser-extension-wallet/src/utils/get-assets-information.ts
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AssetPicker.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoice.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsPreferences/CurrencyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  package.json
  packages/core/src/ui/components/AddressFormBrowserView/AddressForm.tsx
  packages/e2e-tests/src/data/expectedStakePoolsData.ts
  packages/e2e-tests/src/steps/forgotPasswordSteps.ts
  packages/e2e-tests/src/utils/networkManager.ts
Labels: browser, e2e

#511 feat(ui): create <Tooltip /> component
  packages/ui/package.json
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/tooltip/index.ts
  packages/ui/src/design-system/tooltip/rich-tooltip-content-inner.component.tsx
  packages/ui/src/design-system/tooltip/rich-tooltip-content-inner.css.ts
  packages/ui/src/design-system/tooltip/rich-tooltip-root.component.tsx
  packages/ui/src/design-system/tooltip/rich-tooltip.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content-inner.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content-inner.css.ts
  packages/ui/src/design-system/tooltip/tooltip-content.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content.css.ts
  packages/ui/src/design-system/tooltip/tooltip-provider.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-root.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-storybook-context-provider.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-trigger.component.tsx
  packages/ui/src/design-system/tooltip/tooltip.component.tsx
  packages/ui/src/design-system/tooltip/tooltip.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#526 test(extension): e2e - test maintenance 13 Sep
  packages/e2e-tests/src/assert/settings/CollateralDrawerAssert.ts
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
Labels: e2e

#514 feat(extension): new event props on send transact
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/tx-history-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
  packages/cardano/src/wallet/util/__tests__/unit-converters.test.ts
  packages/cardano/src/wallet/util/unit-converters.ts
Labels: browser

#532 chore(extension): disable production mode tracking
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
Labels: browser

#334 fix(extension): save discovered addresses into local storage
  apps/browser-extension-wallet/src/features/unlock-wallet/components/UnlockWalletContainer.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletInfoSubscriber.test.ts
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAppInit.ts
  apps/browser-extension-wallet/src/hooks/useWalletInfoSubscriber.ts
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/routes/DappConnectorView.tsx
  apps/browser-extension-wallet/src/routes/PopupView.tsx
  apps/browser-extension-wallet/src/stores/slices/__tests__/wallet-info-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-info-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
Labels: browser

#531 fix(staking): fix eslint warnings, staking workflow not executing for labeled PRs
  .github/workflows/packages-staking.yml
  packages/staking/src/features/overview/FundWalletBanner.tsx
  packages/staking/src/features/overview/StakeFundsBanner.tsx
Labels: staking, ci

#530 fix: LW-8391 de-registration wrong calculation
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  packages/cardano/package.json
  packages/cardano/src/wallet/util/calculate-deposit-reclaim.ts
  packages/cardano/src/wallet/util/index.ts
  packages/staking/package.json
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  yarn.lock
Labels: browser, staking

#534 add recipient_source on tx send | all_done | view (LW-8355)
  apps/browser-extension-wallet/src/features/address-book/hooks/__tests__/useGetFilteredAddressBook.test.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/useGetFilteredAddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
Labels: browser

#536 test(extension): e2e - add tests for ada handles on wallet address page
  packages/core/src/ui/components/AddressCard/HandleAddressCard.tsx
  packages/e2e-tests/src/assert/commonAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/data/Asset.ts
  packages/e2e-tests/src/elements/walletAddressPage.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/TokensPageExtended.feature
  packages/e2e-tests/src/features/TokensPagePopup.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimpleExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/navigationTopSteps.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
  packages/e2e-tests/src/steps/waletAddressPageSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#535 test(extension): lw-8355 add check for recipient_source property
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/steps/analyticsSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#544 ci(all): fix 'Build Staking Center' job filtering, run it always
  .github/workflows/packages-staking.yml
Labels: staking, ci

#545 test(extension): maintenance 18 sep
  packages/e2e-tests/package.json
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#527 Lw 8226 md popup tests
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
Labels: e2e

#529 feat(ui): create <Message /> component
  packages/ui/src/assets/icons/happy-emoji.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/message/index.ts
  packages/ui/src/design-system/message/message.component.tsx
  packages/ui/src/design-system/message/message.css.ts
  packages/ui/src/design-system/message/message.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#512 feat: do not render fees for de(registration) activities
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  packages/core/src/ui/components/Transactions/Transaction.tsx
Labels: browser

#546 test(maintenance): maintenance 18 sep 2
  packages/e2e-tests/src/assert/tokensPageAssert.ts
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimpleExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/utils/window.ts
Labels: e2e

#552 test(extension): e2e - add tests for custom ada handle
  packages/e2e-tests/src/assert/adaHandleAssert.ts
  packages/e2e-tests/src/assert/nftAssert.ts
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/assert/nftSelectNftsAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/elements/NFTs/nftSelectNftsPage.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSelectionPage.ts
  packages/e2e-tests/src/elements/walletAddressPage.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/steps/nftFoldersSteps.ts
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
  packages/e2e-tests/src/steps/waletAddressPageSteps.ts
Labels: e2e

#523 feat(staking): present on-chain data during staking management [LW-8267]
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/DelegationCard.stories.tsx
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/helpers/mapPortfolioToDisplayData.ts
  packages/staking/src/features/store/__snapshots__/delegationPortfolio.test.ts.snap
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
Labels: staking

#543 Removed scenario LW-7146
  packages/e2e-tests/src/features/AddressBookExtended.feature
Labels: e2e

#553 Implements events for pub key, dapp list, collateral and network sections
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRPublicKeyDrawer/QRPublicKeyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/dapp/components/DappList/DappList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/CollateralDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/GeneralSettingsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoice.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsWalletBase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/__tests__/SettingsWallet.test.tsx
  packages/core/src/ui/components/InfoWallet/InfoWallet.tsx
Labels: browser

#548 Implements Post Hog events for settings
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsHelp.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsLegal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsRemoveWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SupportDrawer.tsx
Labels: browser

#555 test(extension): WebdriverIO 8.16.11
  packages/e2e-tests/package.json
  packages/e2e-tests/wdio.conf.chrome.ts
  packages/e2e-tests/wdio.conf.edge.ts
  yarn.lock
Labels: e2e

#556 test(extension): e2e - LW-8045 - add tests for adding the same addres…
  packages/e2e-tests/src/assert/addressBook/AddressBookPageAssert.ts
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/steps/AddressBookSteps.ts
Labels: e2e

#561 test(extension): e2e - test maintenance 22 Sept
  packages/e2e-tests/src/features/CollateralExtended.feature
  packages/e2e-tests/src/features/CollateralPopup.feature
  packages/e2e-tests/src/pageobject/simpleTxSideDrawerPageObject.ts
Labels: e2e

#539 feat(staking): LW-8422 refactor portfolio store to state machine
  apps/browser-extension-wallet/src/api/transformers.ts
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/features/delegation/stores/createDelegationStore.ts
  apps/browser-extension-wallet/src/utils/__tests__/format-number.test.ts
  apps/browser-extension-wallet/src/utils/format-number.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/common/src/ui/lib/__tests__/format-number.test.ts
  packages/common/src/ui/lib/__tests__/get-number-unit.test.ts
  packages/common/src/ui/lib/format-number.ts
  packages/common/src/ui/lib/get-number-unit.ts
  packages/common/src/ui/lib/index.ts
  packages/staking/package.json
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/PortfolioBar.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/drawer/SignConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/drawer/TransactionFail.tsx
  packages/staking/src/features/drawer/TransactionSuccess.tsx
  packages/staking/src/features/modals/ChangingPreferencesModal.tsx
  packages/staking/src/features/modals/StakingModal.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/GetStartedSteps.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakeFundsBanner.tsx
  packages/staking/src/features/staking/Navigation.tsx
  packages/staking/src/features/staking/Staking.tsx
  packages/staking/src/features/staking/StakingPopup.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/staking/setup/SetupBase.tsx
  packages/staking/src/features/staking/types.ts
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/delegationPortfolioStore/constants.ts
  packages/staking/src/features/store/delegationPortfolioStore/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/mapStakePoolToDisplayData.ts
  packages/staking/src/features/store/delegationPortfolioStore/selectors.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/commands.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/mapStakePoolToPortfolioPool.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processPopupViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/stateTreeUtilities.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
  packages/staking/src/features/store/index.ts
  packages/staking/src/features/store/stakingStore.ts
  packages/staking/src/features/store/types.ts
  yarn.lock
Labels: browser, staking

#560 Implement events for user dropdown menu
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/AddressBookLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/LockWallet.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/NetworkInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/SettingsLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/ThemeSwitcher.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoice.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoiceDrawer.tsx
Labels: browser

#557 feat(extension): add PostHog events address book
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useOnAddressSave.test.tsx
  apps/browser-extension-wallet/src/hooks/useOnAddressSave.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
Labels: browser

#565 test(extension): add tests for LW-7773
  packages/e2e-tests/src/assert/addressBook/AddNewAddressDrawerAssert.ts
  packages/e2e-tests/src/assert/addressBook/AddressBookPageAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/data/Address.ts
  packages/e2e-tests/src/elements/addressInput.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/steps/AddressBookSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/utils/addressBookUtils.ts
Labels: e2e

#558 Test/maintenance 21-09-2023
  packages/e2e-tests/src/features/CollateralExtended.feature
  packages/e2e-tests/src/features/CollateralPopup.feature
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/features/NavigationTopPopup.feature
Labels: e2e

#550 feat(ui): create a password input component
  packages/ui/package.json
  packages/ui/src/assets/icons/eye-close.component.svg
  packages/ui/src/assets/icons/eye-open.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/password-box/index.ts
  packages/ui/src/design-system/password-box/password-box-button.component.tsx
  packages/ui/src/design-system/password-box/password-box-button.css.ts
  packages/ui/src/design-system/password-box/password-box-input.component.tsx
  packages/ui/src/design-system/password-box/password-box-input.css.ts
  packages/ui/src/design-system/password-box/password-box.component.tsx
  packages/ui/src/design-system/password-box/password-box.stories.css.ts
  packages/ui/src/design-system/password-box/password-box.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/opacities.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  packages/ui/src/design-tokens/typography.data.ts
  yarn.lock
Labels: ui-toolkit

#518 Feat/lw 7930 show selected pools at the top
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolTableBrowser/StakePoolTableBrowser.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolTableBrowser/StakePoolTableBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
Labels: staking

#522 feat(core): show mnemonic order error in each part of the flow
  packages/core/src/ui/components/MnemonicWordsAutoComplete/MnemonicWordsAutoComplete.tsx
  packages/core/src/ui/components/WalletSetup/MnemonicWordsConfirmInput.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicStep.tsx
Labels: browser

#564 Implement analytics events for receive section and dapp connector
  apps/browser-extension-wallet/src/dapp-connector.tsx
  apps/browser-extension-wallet/src/features/dapp/components/BetaPill.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/Connect.test.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfo.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/__tests__/ReceiveInfo.test.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/SendReceiveBox/SendReceiveBox.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  packages/core/src/ui/components/AddressCard/AddressCard.tsx
  packages/core/src/ui/components/AddressCard/Base.tsx
  packages/core/src/ui/components/AddressCard/HandleAddressCard.tsx
Labels: browser

#496 Wallet password/name component implementation
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/types.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletNameInput.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletPasswordConfirmationInput.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletSetupNamePasswordStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/index.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/styles.module.scss
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/types.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/utils.ts
  packages/core/src/ui/components/WalletSetup/index.ts
  packages/core/src/ui/lib/translations/en.json
Labels: browser

#563 Automation for analytics - settings
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
Labels: e2e

#533 feat(staking): LW-7966 stake distribution drift warning
  packages/common/src/ui/assets/icons/chevron-right.component.svg
  packages/common/src/ui/components/Banner/Banner.module.scss
  packages/common/src/ui/components/Banner/Banner.tsx
  packages/staking/src/assets/icons/bell-icon.component.svg
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/DelegationCard.stories.tsx
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/StakingNotificationBanner.css.ts
  packages/staking/src/features/overview/StakingNotificationBanner/StakingNotificationBanner.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/getCurrentStakingNotification.ts
  packages/staking/src/features/overview/StakingNotificationBanner/index.ts
  packages/staking/src/features/overview/StakingNotificationBanner/types.ts
  packages/staking/src/features/overview/helpers/index.ts
  packages/staking/src/features/overview/helpers/isPortfolioDrifted.ts
  packages/staking/src/features/overview/helpers/mapPortfolioToDisplayData.ts
  packages/staking/src/features/overview/types.ts
  packages/staking/src/features/store/__snapshots__/delegationPortfolio.test.ts.snap
  packages/staking/src/features/store/delegationPortfolioStore/constants.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/mapStakePoolToPortfolioPool.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
  packages/staking/src/features/theme/colors.ts
  packages/staking/tsconfig.json
  packages/ui/src/design-system/control-buttons/control-button.css.ts
Labels: staking, ui-toolkit

#562 fix(staking): LW-8378 reduce amount of decimals shown in StakingInfoCard
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
Labels: staking

#572 refactor(extension): change copy for ShowPassphraseDrawer component
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/ShowPassphraseDrawer.tsx
Labels: browser

#571 test/LW-8588
  packages/core/src/ui/components/Transactions/Transaction.tsx
  packages/core/src/ui/components/Transactions/TransactionDetailHeaderBrowser.tsx
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/elements/transactionDetails.ts
  packages/e2e-tests/src/features/TransactionsExtended.feature
  packages/e2e-tests/src/steps/transactionsSteps.ts
Labels: e2e

#574 Feat/lw 8511 delegation ratio slider
  packages/staking/.ladle/vite.config.ts
  packages/staking/package.json
  packages/staking/src/features/drawer/DelegationRatioSlider.css.ts
  packages/staking/src/features/drawer/DelegationRatioSlider.stories.tsx
  packages/staking/src/features/drawer/DelegationRatioSlider.tsx
  packages/staking/src/features/drawer/slider-minus.svg
  packages/staking/src/features/drawer/slider-plus.svg
  packages/staking/src/features/theme/colors.ts
  yarn.lock
Labels: staking

#519 feat(ui): add simple Dialog component [LW-7032]
  packages/ui/package.json
  packages/ui/src/design-system/backdrop/backdrop.component.tsx
  packages/ui/src/design-system/backdrop/backdrop.css.ts
  packages/ui/src/design-system/backdrop/backdrop.stories.tsx
  packages/ui/src/design-system/backdrop/index.ts
  packages/ui/src/design-system/buttons/call-to-action-button.tsx
  packages/ui/src/design-system/buttons/primary-button.tsx
  packages/ui/src/design-system/buttons/secondary-button.tsx
  packages/ui/src/design-system/buttons/skeleton-button.tsx
  packages/ui/src/design-system/dialog/dialog-action.component.tsx
  packages/ui/src/design-system/dialog/dialog-actions.component.tsx
  packages/ui/src/design-system/dialog/dialog-actions.css.ts
  packages/ui/src/design-system/dialog/dialog-content.component.tsx
  packages/ui/src/design-system/dialog/dialog-content.css.ts
  packages/ui/src/design-system/dialog/dialog-description.component.tsx
  packages/ui/src/design-system/dialog/dialog-description.css.ts
  packages/ui/src/design-system/dialog/dialog-root.component.tsx
  packages/ui/src/design-system/dialog/dialog-root.css.ts
  packages/ui/src/design-system/dialog/dialog-storybook-context-provider.component.tsx
  packages/ui/src/design-system/dialog/dialog-title.component.tsx
  packages/ui/src/design-system/dialog/dialog-title.css.ts
  packages/ui/src/design-system/dialog/dialog.stories.tsx
  packages/ui/src/design-system/dialog/index.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-overlay.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-overlay.css.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#568 feat(extension): add events for unlock wallet flow
  apps/browser-extension-wallet/src/features/unlock-wallet/components/ForgotPassword.tsx
  apps/browser-extension-wallet/src/features/unlock-wallet/components/UnlockWalletContainer.tsx
  apps/browser-extension-wallet/src/features/unlock-wallet/components/__tests__/UnlockWallet.test.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
Labels: browser

#575 feat(staking): LW-8179 Make CTAs in staking management drawer dynamic
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: staking

#584 [LW-8649] Adds data url for connect source in csp
  apps/browser-extension-wallet/manifest.json
Labels: browser

#588 fix(staking): [LW-8510] temporarily disable drift warning/rebalancing until portfolio persistence is done
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/overview/helpers/isPortfolioDrifted.ts
  packages/staking/src/features/store/delegationPortfolioStore/constants.ts
  packages/staking/src/features/store/delegationPortfolioStore/selectors.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
Labels: staking

#549 feat(extension): add configurable extension uninstall redirect LW-8535
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/src/lib/scripts/background/index.ts
  apps/browser-extension-wallet/src/lib/scripts/background/onUninstall.ts
Labels: browser
