Repository input-output-hk/lace, pull requests merged in 2023-10, with the labels that each got.

#590 feat(staking: [LW-8510] init draft sliders to on chain percentages
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
Labels: staking

#569 feat(extension): posthog for ntfs,activity,tokens
  apps/browser-extension-wallet/src/components/MainMenu/MainFooter.tsx
  apps/browser-extension-wallet/src/components/MainMenu/MainHeader.tsx
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/LeftSidePanel.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenu.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsContainer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/CreateFolderDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  packages/core/src/ui/components/Transactions/Transaction.tsx
  packages/core/src/ui/components/Transactions/TransactionInputOutput.tsx
Labels: browser

#582 fix(staking): [LW-8531] fix tADA being shown on mainnet for staking info
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
Labels: staking

#592 Test/LW-8593
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakingSuccessDrawerAssert.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/data/expectedStakePoolsData.ts
  packages/e2e-tests/src/elements/multidelegation/ChangingStakingPreferencesModal.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolDetailsDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/StakingConfirmationDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/StakingPasswordDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/StakingSuccessDrawer.ts
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/pageobject/stakingExtendedPageObject.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
  packages/e2e-tests/src/utils/multiDelegationUtils.ts
Labels: e2e

#576 feat(extension): add events for settings
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/ThemeSwitcher.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/context.tsx
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsHelp.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsPreferences/CurrencyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsPreferences/SettingsPreferences.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsSecurity.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/ShowPassphraseDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#585 test(extension): e2e - LW-8524 add tests for automatic collateral setup
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/elements/dappConnector/collateralDAppPage.ts
  packages/e2e-tests/src/elements/dappConnector/testDAppPage.ts
  packages/e2e-tests/src/features/CollateralExtended.feature
  packages/e2e-tests/src/features/CollateralPopup.feature
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/DAppConnectorExtended.feature
  packages/e2e-tests/src/features/DAppConnectorPopup.feature
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/settingsSteps.ts
  packages/e2e-tests/tsconfig.json
Labels: e2e

#600 test(extension): add test LW-8469
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
Labels: e2e

#604 chore(extension): update cardano-services dev env urls
  apps/browser-extension-wallet/.env.defaults
Labels: browser

#602 fix(staking): fix floating point errors for Overview screen in DelegationCard
  packages/staking/src/features/delegation-card/DelegationCard.tsx
Labels: staking

#601 fix(staking): [LW-8685] preserve pool onchain/saved percentages upon SM transitions
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/initializeDraftPortfolioPool.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/mapStakePoolToPortfolioPool.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
Labels: staking

#591 fix(ui): improve message and password components
  packages/ui/src/design-system/message/message.css.ts
  packages/ui/src/design-system/password-box/password-box-button.css.ts
  packages/ui/src/design-system/password-box/password-box-input.css.ts
Labels: ui-toolkit

#609 fix(staking): [LW-8714] handle percentages from sdk delegation distribution not adding up to 100%
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/normalizePercentages.ts
Labels: staking

#603 test(extension): add test for LW-8654
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/features/StakingPagePopup.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
Labels: e2e

#618 test(extension): add new background storage property for fixing analy…
  packages/e2e-tests/src/fixture/browserStorageInitializer.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#615 test(extension): add tests for LW-8744
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/elements/addressInput.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/steps/AddressFormSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#610 Automation for LW-8668
  packages/e2e-tests/src/elements/tokensPage.ts
  packages/e2e-tests/src/elements/transactionDetails.ts
  packages/e2e-tests/src/features/analytics/AnalyticsActivityExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsActivityPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNFTsPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationMainExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationMainPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsTokensExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsTokensPopup.feature
  packages/e2e-tests/src/pageobject/tokensPageObject.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
  packages/e2e-tests/src/steps/transactionsSteps.ts
Labels: e2e

#607 test(extension): add test for LW-8655
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/NetworkInfoComponent.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolListItem.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
Labels: e2e

#537 Post hog experiments implementation
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.test.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/lib/scripts/types/storage.ts
  apps/browser-extension-wallet/src/lib/scripts/types/userIdService.ts
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/context.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/providers/ExperimentsProvider/config.ts
  apps/browser-extension-wallet/src/providers/ExperimentsProvider/context.tsx
  apps/browser-extension-wallet/src/providers/ExperimentsProvider/index.ts
  apps/browser-extension-wallet/src/providers/ExperimentsProvider/types.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/PostHogClient.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/config.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/index.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/context.tsx
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/index.ts
  apps/browser-extension-wallet/src/utils/mocks/context-providers.tsx
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/__tests__/SideMenu.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/__tests__/SettingsAnalyticsTracker.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/__tests__/SettingsWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/__tests__/StakingModals.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/__tests__/WalletSetup.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
  apps/browser-extension-wallet/test/__mocks__/set-env-vars.js
Labels: browser

#613 feat(extension): add warning banner for trezor transaction
  apps/browser-extension-wallet/src/assets/icons/exclamation-triangle-red.component.svg
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
Labels: browser

#620 feat(extension): update copy for lock trezor device
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/ErrorDialog.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
Labels: browser

#573 feat(staking): add type safety on the state machine handlers level
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processPopupViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/stateTreeUtilities.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
Labels: staking

#524 fix(extension): return apierror refused on window.close for cip30 requests
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/collateral/CollateralContainer.tsx
Labels: browser

#570 fix(extension): remove insufficient balance check from dapp popup
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  packages/core/src/ui/components/DappTransaction/DappTransaction.tsx
Labels: browser

#617 test(extension): e2e - LW-8526 - add test for automatic collateral + low funds
  apps/browser-extension-wallet/src/features/dapp/components/collateral/InsufficientFunds.tsx
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/elements/dappConnector/insufficientFundsDAppPage.ts
  packages/e2e-tests/src/features/DAppConnectorLowFunds.feature
  packages/e2e-tests/src/features/EmptyStatesExtended.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: browser, e2e

#593 refactor(staking): [LW-8510] refactor percentage slider
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.stories.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
Labels: staking

#628 chore(extension): bump version to 1.6 and add new release notes
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_6_0.tsx
Labels: browser

#622 test(extension): e2e - test maintenance 9 Oct
  .github/workflows/e2e-tests-win.yml
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e, ci

#611 feat(staking): [LW-8683] make normalization work with decimals, handle onchain percentages
  packages/staking/src/features/delegation-card/DelegationCard.stories.tsx
  packages/staking/src/features/delegation-card/DelegationCard.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/store/delegationPortfolioStore/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/__tests__/normalizePercentages.test.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/__tests__/sumPercentagesSanitized.test.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/normalizePercentages.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/sumPercentagesSanitized.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
Labels: staking

#630 fix(extension): add missing posthog providers to dapp connector
  apps/browser-extension-wallet/src/dapp-connector.tsx
Labels: browser

#598 feat(staking): [LW-8691] make pool details in management drawer sticky
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.css.ts
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/theme/colors.ts
Labels: staking

#612 Feat/sanchonet network switch support
  .github/workflows/ci.yml
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/config.ts
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/features/address-book/context/AddressBookProvider.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/Connect.test.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useDelegationDetails.test.ts
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/v0_6_0.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/wallet-info-slice.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/chain.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-chain-name-by-network-magic.test.ts
  apps/browser-extension-wallet/src/utils/chain.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoice.tsx
  apps/browser-extension-wallet/test/__mocks__/set-env-vars.js
  apps/browser-extension-wallet/webpack-utils.js
  packages/cardano/package.json
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/test/mocks/TestKeyAgent.ts
  packages/staking/package.json
  yarn.lock
Labels: browser, staking, ci

#587 feat(ui): create metadata component
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/metadata/index.ts
  packages/ui/src/design-system/metadata/metadata.component.tsx
  packages/ui/src/design-system/metadata/metadata.css.ts
  packages/ui/src/design-system/metadata/metadata.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#632 Test/test maintenance 10 oct
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: e2e

#625 test(extension): add test LW-8637
  packages/e2e-tests/src/assert/multidelegation/StakingPasswordDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/StakingPasswordDrawer.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#626 Lw 8595 stakepool drawer
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#627 test(extension): lw-8646 analytics unlock event tests automation
  packages/e2e-tests/src/features/analytics/AnalyticsForgotPassword.feature
Labels: e2e

#636 Disable e2e test because of a bug
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
Labels: e2e

#638 feat(staking): improvements for the PoolDetailsCard
  packages/staking/src/features/browse-pools/PortfolioBar.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.css.ts
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.stories.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCardData.css.ts
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCardData.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/ChangingPreferencesModal.tsx
  packages/staking/src/features/staking/Navigation.tsx
  packages/staking/src/features/store/delegationPortfolioStore/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/selectors.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processPopupViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
  packages/staking/src/features/theme/colors.ts
Labels: staking

#639 feat(staking): [LW 7928] rebalance portfolio on-demand by user
  packages/staking/src/features/Drawer/Drawer.tsx
  packages/staking/src/features/Drawer/ResultMessage.module.scss
  packages/staking/src/features/Drawer/ResultMessage.tsx
  packages/staking/src/features/Drawer/SignConfirmation.module.scss
  packages/staking/src/features/Drawer/SignConfirmation.tsx
  packages/staking/src/features/Drawer/SocialNetworks/SocialNetworkIcon.module.scss
  packages/staking/src/features/Drawer/SocialNetworks/SocialNetworkIcon.tsx
  packages/staking/src/features/Drawer/SocialNetworks/banner.svg
  packages/staking/src/features/Drawer/SocialNetworks/facebook.svg
  packages/staking/src/features/Drawer/SocialNetworks/feed.svg
  packages/staking/src/features/Drawer/SocialNetworks/github.svg
  packages/staking/src/features/Drawer/SocialNetworks/index.ts
  packages/staking/src/features/Drawer/SocialNetworks/medium.svg
  packages/staking/src/features/Drawer/SocialNetworks/site.svg
  packages/staking/src/features/Drawer/SocialNetworks/telegram.svg
  packages/staking/src/features/Drawer/SocialNetworks/twitter.svg
  packages/staking/src/features/Drawer/SocialNetworks/youtube.svg
  packages/staking/src/features/Drawer/StakePoolConfirmation.module.scss
  packages/staking/src/features/Drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/Drawer/StakePoolDetail.module.scss
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
  packages/staking/src/features/Drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/Drawer/TransactionComplete.module.scss
  packages/staking/src/features/Drawer/TransactionFail.tsx
  packages/staking/src/features/Drawer/TransactionSuccess.tsx
  packages/staking/src/features/Drawer/arrow-down.svg
  packages/staking/src/features/Drawer/cardano-blue.png
  packages/staking/src/features/Drawer/exclamation-circle-small.svg
  packages/staking/src/features/Drawer/exclamation-circle.svg
  packages/staking/src/features/Drawer/index.ts
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.css.ts
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.stories.tsx
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.tsx
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/index.ts
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/slider-minus.svg
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/slider-plus.svg
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.css.ts
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.stories.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCardData.css.ts
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCardData.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/RatioInput.css.ts
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/RatioInput.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/index.ts
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/trash.svg
  packages/staking/src/features/Drawer/preferences/StepPreferencesContent.css.ts
  packages/staking/src/features/Drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/Drawer/preferences/StepPreferencesFooter.tsx
  packages/staking/src/features/Drawer/preferences/index.ts
  packages/staking/src/features/Drawer/success-staking.svg
  packages/staking/src/features/drawer/index.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/staking/StakingPopupView.tsx
  packages/staking/src/features/staking/StakingView.tsx
Labels: staking

#641 Automation for LW-8671
  packages/e2e-tests/src/elements/settings/SettingsPage.ts
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/analyticsSteps.ts
  packages/e2e-tests/src/steps/settingsSteps.ts
Labels: e2e

#619 Automation for LW-8581
  packages/e2e-tests/src/features/analytics/AnalyticsActivityExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsActivityPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsAddressBookExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsAddressBookPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationMainExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationMainPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsTokensExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsTokensPopup.feature
  packages/e2e-tests/src/pageobject/menuHeaderPageObject.ts
  packages/e2e-tests/src/steps/navigationTopSteps.ts
Labels: e2e

#577 fix/LW-8337 - Collateral settings wrong password message
  apps/browser-extension-wallet/src/hooks/useCollateral.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/send/CollateralFooterSend.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/send/CollateralStepSend.tsx
Labels: browser

#633 fix(extension): remove extra close your keys section event
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/GeneralSettingsDrawer.tsx
Labels: browser

#629 test(extension): add test LW-8499
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#646 test(extension): maintenance 13 Oct 2023
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#643 feat(extension): add embed video to mnemonic intro step
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicIntroStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupOption.module.scss
Labels: browser

#614 feat(staking): [LW-8315] remove withdrawals from activity, simplify tx transformers
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/tx-inspection.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/tx-history-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-transformers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/types.ts
  packages/core/src/ui/components/Transactions/TransactionDetailBrowser.tsx
Labels: browser

#580 chore(all): bump cardano sdk versions
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/config.ts
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/features/address-book/context/AddressBookProvider.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/Connect.test.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useCollateral.test.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/v0_6_0.ts
  apps/browser-extension-wallet/src/stores/slices/blockchain-provider-slice.ts
  apps/browser-extension-wallet/src/utils/__tests__/chain.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-chain-name-by-network-magic.test.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoice.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/helpers.ts
  packages/cardano/package.json
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/lib/providers.ts
  packages/cardano/src/wallet/test/mocks/AssetsProviderStub.ts
  packages/cardano/src/wallet/test/mocks/TestKeyAgent.ts
  packages/common/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#631 refactor(extension): add posthog api tokens as env variables
  .github/shared/build/action.yml
  .github/workflows/ci.yml
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/PostHogClient.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/config.ts
  apps/browser-extension-wallet/test/__mocks__/set-env-vars.js
Labels: browser, ci

#649 fix(extension): [LW-8498] send input field alignment
  packages/common/src/ui/components/Search/Search.module.scss
Labels: browser

#635 fix(extension): handle not visible in tx summary
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/build-transaction-props.ts
  packages/cardano/src/wallet/lib/config.ts
Labels: browser

#645 test(extension): e2e - LW-8592 - ada handle transfer e2e
  apps/browser-extension-wallet/src/features/address-book/components/AddressChangeDetail.tsx
  packages/common/src/ui/components/Banner/Banner.tsx
  packages/e2e-tests/package.json
  packages/e2e-tests/src/assert/addressBook/AddressBookPageAssert.ts
  packages/e2e-tests/src/assert/addressBook/ReviewAddressDrawerAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/elements/addressbook/AddressBookPage.ts
  packages/e2e-tests/src/elements/addressbook/ReviewAddressDrawer.ts
  packages/e2e-tests/src/elements/banner.ts
  packages/e2e-tests/src/elements/modal.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/elements/walletAddressPage.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/pageobject/mainMenuPageObject.ts
  packages/e2e-tests/src/steps/AddressBookSteps.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/steps/waletAddressPageSteps.ts
  packages/e2e-tests/tsconfig.json
  yarn.lock
Labels: browser, e2e

#657 test(extension): maintenance 23 oct
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicIntroStep.tsx
  packages/e2e-tests/src/assert/onboarding/onboardingMnemonicInfoPageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingWalletNamePageAssert.ts
  packages/e2e-tests/src/elements/onboarding/mnemonicInfoPage.ts
  packages/e2e-tests/src/features/analytics/AnalyticsOnboardingEvents.feature
Labels: e2e

#656 fix(extension): reset user id service values
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/lib/scripts/types/userIdService.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
Labels: browser

#660 test(extension): [LW-8876] add tests for LW-8709 and LW-8710
  packages/e2e-tests/src/features/analytics/AnalyticsTokensExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsTokensPopup.feature
Labels: e2e

#554 [LW-7983] [LW-7984] dRep confirmation screens
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/smoke-tests.yml
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/dapp-connector.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepRegistrationContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepRetirementContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransactionContent.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/DappTransactionContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/hooks.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/types.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/features/dapp/config/ViewsConfig.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/UIThemeProvider/context.tsx
  apps/browser-extension-wallet/src/providers/UIThemeProvider/index.ts
  packages/core/.babelrc.json
  packages/core/.storybook/main.js
  packages/core/.storybook/preview-head.html
  packages/core/.storybook/preview.js
  packages/core/.storybook/theme.scss
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/ui/components/ConfirmDRepRegistration/ConfirmDRepRegistration.stories.ts
  packages/core/src/ui/components/ConfirmDRepRegistration/ConfirmDRepRegistration.tsx
  packages/core/src/ui/components/ConfirmDRepRegistration/index.ts
  packages/core/src/ui/components/ConfirmDRepRetirement/ConfirmDRepRetirement.stories.ts
  packages/core/src/ui/components/ConfirmDRepRetirement/ConfirmDRepRetirement.tsx
  packages/core/src/ui/components/ConfirmDRepRetirement/index.ts
  packages/core/src/ui/components/DappTransaction/DappTransaction.stories.ts
  packages/core/src/ui/components/InsufficientFundsWarning/InsufficientFundsWarning.module.scss
  packages/core/src/ui/components/InsufficientFundsWarning/InsufficientFundsWarning.tsx
  packages/core/src/ui/components/InsufficientFundsWarning/index.ts
  yarn.lock
Labels: browser, ci

#653 feat(ui): text link component
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/text-link/index.ts
  packages/ui/src/design-system/text-link/text-link.component.tsx
  packages/ui/src/design-system/text-link/text-link.css.ts
  packages/ui/src/design-system/text-link/text-link.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#655 feat(extension): voting procedures
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransactionContent.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/VotingProceduresContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/core/.storybook/preview.js
  packages/core/src/index.ts
  packages/core/src/ui/components/VotingProcedures/VotingProcedures.stories.ts
  packages/core/src/ui/components/VotingProcedures/VotingProcedures.tsx
  packages/core/src/ui/components/VotingProcedures/index.ts
  packages/ui/package.json
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/metadata/index.ts
  packages/ui/src/design-system/metadata/metadata-link.component.tsx
  packages/ui/src/design-system/metadata/metadata.component.tsx
  packages/ui/src/design-system/metadata/metadata.css.ts
  packages/ui/src/design-system/metadata/metadata.stories.tsx
  packages/ui/src/design-system/text-link/index.ts
  packages/ui/src/design-system/text-link/text-link.component.tsx
  packages/ui/src/design-system/text-link/text-link.css.ts
  packages/ui/src/design-system/text-link/text-link.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: browser, ui-toolkit

#648 [LW-8491] Voting delegation confirmation
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepRegistrationContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepRetirementContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransactionContent.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmVoteDelegationContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/core/src/index.ts
  packages/core/src/ui/components/ConfirmVoteDelegation/ConfirmVoteDelegation.stories.ts
  packages/core/src/ui/components/ConfirmVoteDelegation/ConfirmVoteDelegation.tsx
  packages/core/src/ui/components/ConfirmVoteDelegation/index.ts
  packages/core/src/ui/components/VotingProcedures/VotingProcedures.tsx
  packages/ui/package.json
Labels: browser, ui-toolkit

#644 fix(staking): lw-8573 make staking modal buttons responsive
  packages/staking/src/features/modals/StakingModal.module.scss
Labels: staking

#642 feat(staking): [LW-8724] increase pool max count to 10
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/modals/MultidelegationBetaModal.tsx
  packages/staking/src/features/store/delegationPortfolioStore/constants.ts
Labels: staking

#581 fix(staking): lw-8572 broken portfolio bar on narrow screen
  packages/staking/src/features/browse-pools/PortfolioBar.css.ts
  packages/staking/src/features/browse-pools/StakePoolsTable/StakePoolsTable.module.scss
  packages/staking/src/features/browse-pools/StakePoolsTable/StakePoolsTable.tsx
  packages/ui/src/design-tokens/spacing.data.ts
Labels: staking, ui-toolkit

#663 test(extension): [LW-8878] add tests for LW-8500 an LW-8501
  packages/e2e-tests/src/assert/onboarding/onboardingMnemonicPageAssert.ts
  packages/e2e-tests/src/features/OnboardingCreateWallet.feature
  packages/e2e-tests/src/pageobject/onboardingPageObject.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/utils/arrayUtils.ts
Labels: e2e

#647 Lw-8596 staking close drawer
  packages/e2e-tests/src/assert/multidelegation/StakingConfirmationDrawerAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakingManageDrawerAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakingSuccessDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakingConfirmationDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/StakingManageDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
Labels: staking, e2e

#667 chore: modify sanchonet urls
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/smoke-tests.yml
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
Labels: browser, ci

#640 feat(staking): [LW-8628] read portfolio persistence data
  package.json
  packages/staking/.eslintignore
  packages/staking/src/assets/icons/bell-icon.svg
  packages/staking/src/features/BrowsePools/BrowsePools.tsx
  packages/staking/src/features/BrowsePools/PortfolioBar.css.ts
  packages/staking/src/features/BrowsePools/PortfolioBar.tsx
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolItemBrowser/index.ts
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolTableBrowser/StakePoolTableBrowser.module.scss
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolTableBrowser/StakePoolTableBrowser.tsx
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolTableBrowser/arrow.svg
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolTableBrowser/index.ts
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.module.scss
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTable.tsx
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTableEmpty.module.scss
  packages/staking/src/features/BrowsePools/StakePoolsTable/StakePoolsTableEmpty.tsx
  packages/staking/src/features/BrowsePools/StakePoolsTable/empty.svg
  packages/staking/src/features/BrowsePools/StakePoolsTable/index.ts
  packages/staking/src/features/BrowsePools/index.ts
  packages/staking/src/features/DelegationCard/DelegationCard.css.ts
  packages/staking/src/features/DelegationCard/DelegationCard.stories.tsx
  packages/staking/src/features/DelegationCard/DelegationCard.tsx
  packages/staking/src/features/DelegationCard/index.ts
  packages/staking/src/features/Drawer/Drawer.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCardData.tsx
  packages/staking/src/features/Drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/StakingNotificationBanner.css.ts
  packages/staking/src/features/overview/StakingNotificationBanner/StakingNotificationBanner.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/getCurrentStakingNotification.ts
  packages/staking/src/features/overview/helpers/index.ts
  packages/staking/src/features/portfolio-drift/PortfolioDriftBanner.css.ts
  packages/staking/src/features/portfolio-drift/PortfolioDriftBanner.tsx
  packages/staking/src/features/portfolio-drift/index.ts
  packages/staking/src/features/portfolio-drift/isPortfolioDrifted.ts
  packages/staking/src/features/staking/Setup/Setup.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/store/delegationPortfolioStore/makeMapOfSavedPercentages.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/index.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/sanitizePercentages.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/useDelegationPortfolioStore.ts
Labels: staking

#666 test(extension): e2e - test maintenance 25 Oct
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/steps/AddressBookSteps.ts
Labels: e2e

#668 test(extension): [LW-8872] update webdriver.io v8.20.0
  packages/e2e-tests/package.json
  yarn.lock
Labels: e2e

#652 feat(staking): lw-7931-add confirmation modal to pool management drawer
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/PoolsManagementModal.tsx
  packages/staking/src/features/modals/index.ts
Labels: staking

#616 feat(staking): [LW-8684] add tooltip to piechart
  packages/staking/src/features/delegation-card/DelegationCard.tsx
  packages/staking/src/features/delegation-card/DelegationTooltip.css.ts
  packages/staking/src/features/delegation-card/DelegationTooltip.tsx
  packages/staking/src/features/delegation-card/types.ts
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/theme/colors.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/pie-chart/index.ts
  packages/ui/src/design-system/pie-chart/pie-chart.component.tsx
  packages/ui/src/design-system/pie-chart/pie-chart.stories.tsx
  packages/ui/src/design-system/tooltip/rich-tooltip-content-inner.component.tsx
  packages/ui/src/design-tokens/elevation.data.ts
Labels: staking, ui-toolkit

#669 test(extension): test maintenance 26 Oct 2023
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/elements/newTransaction/transactionPasswordPage.ts
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/pageobject/simpleTxSideDrawerPageObject.ts
Labels: e2e

#672 refactor(ui): improve tooltip component
  packages/staking/src/features/delegation-card/DelegationTooltip.css.ts
  packages/staking/src/features/delegation-card/DelegationTooltip.tsx
  packages/ui/src/design-system/pie-chart/pie-chart.stories.tsx
  packages/ui/src/design-system/tooltip/index.ts
  packages/ui/src/design-system/tooltip/rich-tooltip-content.component.tsx
  packages/ui/src/design-system/tooltip/rich-tooltip-content.css.ts
  packages/ui/src/design-system/tooltip/rich-tooltip-root.component.tsx
  packages/ui/src/design-system/tooltip/rich-tooltip.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content-inner.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content-inner.css.ts
  packages/ui/src/design-system/tooltip/tooltip-content.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-content.css.ts
  packages/ui/src/design-system/tooltip/tooltip-provider.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-root.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-storybook-content-renderer.component.tsx
  packages/ui/src/design-system/tooltip/tooltip-trigger.component.tsx
  packages/ui/src/design-system/tooltip/tooltip.component.tsx
  packages/ui/src/design-system/tooltip/tooltip.stories.tsx
Labels: staking, ui-toolkit

#654 feat(extension): use proxy for token information
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/src/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
Labels: browser

#650 feat(staking): [LW-8110] add analytics
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/PostHogClient.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionFail.tsx
  packages/common/src/analytics/iAnalyticsTracker.ts
  packages/common/src/analytics/index.ts
  packages/common/src/analytics/types.ts
  packages/common/src/index.ts
  packages/common/src/tsconfig.json
  packages/common/src/ui/components/Search/Search.tsx
  packages/e2e-tests/src/data/expectedStakePoolsData.ts
  packages/staking/src/features/browse-pools/PortfolioBar.tsx
  packages/staking/src/features/browse-pools/StakePoolsTable/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/StakePoolsTable/StakePoolTableBrowser/StakePoolTableBrowser.tsx
  packages/staking/src/features/browse-pools/StakePoolsTable/StakePoolsTable.tsx
  packages/staking/src/features/drawer/SignConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/drawer/TransactionSuccess.tsx
  packages/staking/src/features/drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/preferences/PoolDetailsCard/RatioInput.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/drawer/preferences/StepPreferencesFooter.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/ChangingPreferencesModal.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/Navigation.tsx
Labels: browser, staking, e2e

#681 test(extension): [LW-8666] add e2e tests for staking empty states & start staking
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StartStakingPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/StartStakingPage.ts
  packages/e2e-tests/src/features/EmptyStatesExtended.feature
  packages/e2e-tests/src/features/EmptyStatesPopup.feature
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultiDelegationPagePopup.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/overview/ExpandViewBanner.tsx
  packages/staking/src/features/overview/GetStartedSteps.tsx
  packages/staking/src/features/overview/StakeFundsBanner.tsx
Labels: staking, e2e

#685 test(extension): test maintenance, add retry for authorization window…
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/tokensPageAssert.ts
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: e2e

#688 test(extension): block lw-4121 due to bug lw-8958
  packages/e2e-tests/src/features/e2e/SendTransactionBundlesE2E.feature
Labels: e2e

#637 feat(staking): [LW-8574] ellipsize long pool names in confirmation
  packages/staking/src/features/Drawer/Drawer.tsx
  packages/staking/src/features/Drawer/StakePoolConfirmation.module.scss
  packages/staking/src/features/Drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/Drawer/confirmation/AmountInfo.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/StakePoolConfirmationBody.module.scss
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/StakePoolConfirmationBody.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/arrow-down.svg
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/cardano-blue.png
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/index.ts
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationContent.module.scss
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationContent.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationFooter.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolDepositReclaimDetails.module.scss
  packages/staking/src/features/Drawer/confirmation/StakePoolDepositReclaimDetails.tsx
  packages/staking/src/features/Drawer/confirmation/exclamation-circle-small.svg
  packages/staking/src/features/Drawer/confirmation/index.ts
Labels: staking

#687 feat(extension): LW-6779 manual discovery trigger in settings
  apps/browser-extension-wallet/src/assets/icons/refresh.component.svg
  apps/browser-extension-wallet/src/assets/icons/warning.component.svg
  apps/browser-extension-wallet/src/components/AddressesDiscoveryOverlay/AddressesDiscoveryOverlay.tsx
  apps/browser-extension-wallet/src/components/AddressesDiscoveryOverlay/index.ts
  apps/browser-extension-wallet/src/dapp-connector.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAddressesDiscoverer.ts
  apps/browser-extension-wallet/src/hooks/useAppInit.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/routes/DappConnectorView.tsx
  apps/browser-extension-wallet/src/routes/PopupView.tsx
  apps/browser-extension-wallet/src/stores/slices/wallet-info-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/WarningModal/WarningModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsWalletBase.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
Labels: browser

#671 feat(staking): [LW-8837] add portfolio persistence one-time message
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/utils/constants.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/PortfolioPersistenceModal.tsx
  packages/staking/src/features/modals/index.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/StakingView.tsx
Labels: browser, staking

#682 test(extension): [LW-8650] add tests for LW-8450 and LW-8480
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/Tooltip.ts
  packages/e2e-tests/src/elements/staking/stakingInfoComponent.ts
  packages/e2e-tests/src/elements/staking/statsComponent.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/features/StakingPageDelegatedFundsExtended.feature
  packages/e2e-tests/src/features/StakingPageDelegatedFundsPopup.feature
  packages/e2e-tests/src/pageobject/stakingPageObject.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
  packages/staking/src/features/overview/StakingInfoCard/StatsTooltip.tsx
Labels: staking, e2e

#678 feat: [LW-7837, LW-8921] add warning banner for retiring, retired and saturated stake pools
  packages/staking/src/assets/icons/moon.component.svg
  packages/staking/src/assets/icons/warning-triangle.svg
  packages/staking/src/assets/icons/warning.component.svg
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakingInfoCard/StakingInfoCard.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/StakingNotificationBanner.tsx
  packages/staking/src/features/overview/StakingNotificationBanner/getCurrentStakingNotification.ts
  packages/staking/src/features/overview/StakingNotificationBanner/index.ts
  packages/staking/src/features/overview/StakingNotificationBanner/types.ts
  packages/staking/src/features/overview/StakingNotificationBanners/StakingNotificationBanners.css.ts
  packages/staking/src/features/overview/StakingNotificationBanners/StakingNotificationBanners.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/getCurrentStakingNotifications.ts
  packages/staking/src/features/overview/StakingNotificationBanners/index.ts
  packages/staking/src/features/overview/StakingNotificationBanners/types.ts
  packages/staking/src/features/overview/helpers/hasSaturatedOrRetiredPools.ts
  packages/staking/src/features/overview/helpers/index.ts
  packages/staking/src/features/overview/helpers/mapPortfolioToDisplayData.ts
  packages/ui/src/assets/icons/warning-icon-triangle.component.svg
Labels: staking, ui-toolkit

#673 feat(extension): LW-6779 on-demand addresses discovery
  apps/browser-extension-wallet/src/assets/icons/refresh.component.svg
  apps/browser-extension-wallet/src/assets/icons/warning.component.svg
  apps/browser-extension-wallet/src/components/AddressesDiscoveryOverlay/AddressesDiscoveryOverlay.tsx
  apps/browser-extension-wallet/src/components/AddressesDiscoveryOverlay/index.ts
  apps/browser-extension-wallet/src/dapp-connector.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAddressesDiscoverer.ts
  apps/browser-extension-wallet/src/hooks/useAppInit.ts
  apps/browser-extension-wallet/src/lib/communication/addresses-discoverer.ts
  apps/browser-extension-wallet/src/lib/communication/index.ts
  apps/browser-extension-wallet/src/lib/communication/key-agent.ts
  apps/browser-extension-wallet/src/lib/scripts/background/addresses-discoverer.ts
  apps/browser-extension-wallet/src/lib/scripts/background/index.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/routes/DappConnectorView.tsx
  apps/browser-extension-wallet/src/routes/PopupView.tsx
  apps/browser-extension-wallet/src/stores/slices/wallet-info-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/WarningModal/WarningModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AssetPicker.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsLayout.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsRemoveWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsWalletBase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/__tests__/SettingsWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
Labels: browser
