Repository input-output-hk/lace, pull requests merged in 2023-06, with the labels that each got.

#42 fix: contribution guide
  .markdownlint.json
  CONTRIBUTING.md
  apps/browser-extension-wallet/CONTRIBUTING.md
Labels: browser

#18 chore(ui): copy icons to dist folder
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/rollup.config.js
  packages/ui/src/index.ts
  packages/ui/src/typings/svg.d.ts
Labels: ui toolkit

#15 refactor: cardano-js-sdk wallet 0.12.0 min compat
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/api/__tests__/network-info-transformer.test.ts
  apps/browser-extension-wallet/src/api/mock.ts
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/wallet-info-slice.test.ts
  apps/browser-extension-wallet/src/types/wallet.ts
  apps/browser-extension-wallet/src/utils/format-number.ts
  apps/browser-extension-wallet/src/utils/mocks/context-providers.tsx
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  package.json
  packages/cardano/package.json
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/__tests__/build-delegation.test.ts
  packages/cardano/src/wallet/lib/__tests__/build-transaction.test.ts
  packages/cardano/src/wallet/lib/build-delegation.ts
  packages/cardano/src/wallet/lib/build-transaction-props.ts
  packages/cardano/src/wallet/lib/build-transaction.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/get-total-minimum-coins.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/lib/set-missing-coins.ts
  packages/cardano/src/wallet/test/mocks/AssetsProviderStub.ts
  packages/cardano/src/wallet/test/mocks/ProviderStub.ts
  packages/cardano/src/wallet/test/mocks/StakepoolSearchProviderStub.ts
  packages/cardano/src/wallet/test/mocks/mock-wallet.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/cardano/src/wallet/types.ts
  yarn.lock
Labels: browser

#63 Feat/Proper Staking package setup
  .github/workflows/packages-staking.yml
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingContainer.tsx
  package.json
  packages/staking/.eslintrc.cjs
  packages/staking/.ladle/components.tsx
  packages/staking/.ladle/config.mjs
  packages/staking/.ladle/vite.config.ts
  packages/staking/.lostpixel/.gitignore
  packages/staking/.lostpixel/baseline/example--example-story.png
  packages/staking/.lostpixel/baseline/overview--staking-overview-navigation--basic-story.png
  packages/staking/.lostpixel/baseline/staking--staking-story.png
  packages/staking/.stylelintrc.json
  packages/staking/docs/001-structure.md
  packages/staking/package.json
  packages/staking/src/Example.module.scss
  packages/staking/src/Example.stories.tsx
  packages/staking/src/Example.test.tsx
  packages/staking/src/Example.tsx
  packages/staking/src/features/overview/OverviewNavigation.stories.tsx
  packages/staking/src/features/overview/OverviewNavigation.tsx
  packages/staking/src/features/overview/index.ts
  packages/staking/src/features/staking/Staking.stories.tsx
  packages/staking/src/features/staking/Staking.test.tsx
  packages/staking/src/features/staking/Staking.tsx
  packages/staking/src/features/staking/index.ts
  packages/staking/src/index.ts
  packages/staking/tsup.config.ts
  packages/ui/package.json
  packages/ui/src/design-system/sub-navigation/index.ts
  packages/ui/src/design-system/sub-navigation/sub-navigation.component.tsx
  packages/ui/tsconfig.json
  yarn.lock
Labels: browser, staking

#20 chore(all): enable pre-commit and commit-msg hook
  .husky/commit-msg
  .husky/pre-commit
  apps/browser-extension-wallet/package.json
  package.json
  packages/cardano/package.json
  packages/common/package.json
  packages/core/package.json
  packages/e2e-tests/package.json
  packages/staking/package.json
  packages/ui/package.json
Labels: browser, staking

#51 feat(extension): force an extension to autoupdate
  apps/browser-extension-wallet/src/lib/scripts/background/onUpdate.ts
Labels: browser

#61 refactor(extension): change token prices API and remove hardcoded list
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/lib/scripts/types/prices.ts
  apps/browser-extension-wallet/src/utils/token-prices-lovelace-list.ts
Labels: browser

#70 feat(extension): persist balance visibility
  apps/browser-extension-wallet/src/stores/StoreProvider.tsx
  apps/browser-extension-wallet/src/stores/createWalletStore.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/lock-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/ui-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/lock-slice.ts
  apps/browser-extension-wallet/src/stores/slices/ui-slice.ts
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/utils/local-storage.ts
  apps/browser-extension-wallet/test/__mocks__/set-env-vars.js
Labels: browser

#68 feat(ui): generic card components
  apps/browser-extension-wallet/test/jest.config.js
  packages/e2e-tests/tsconfig.json
  packages/ui/.gitignore
  packages/ui/src/design-system/asset-input/asset-input.stories.tsx
  packages/ui/src/design-system/bundle-input/bundle-input.stories.tsx
  packages/ui/src/design-system/buttons/buttons.stories.tsx
  packages/ui/src/design-system/cards/base-card.component.tsx
  packages/ui/src/design-system/cards/base-card.css.ts
  packages/ui/src/design-system/cards/cards.stories.tsx
  packages/ui/src/design-system/cards/create-card-variant-component.util.tsx
  packages/ui/src/design-system/cards/elevated.component.tsx
  packages/ui/src/design-system/cards/greyed.component.tsx
  packages/ui/src/design-system/cards/index.ts
  packages/ui/src/design-system/cards/outlined.component.tsx
  packages/ui/src/design-system/cards/types.ts
  packages/ui/src/design-system/control-buttons/control-buttons.stories.tsx
  packages/ui/src/design-system/decorators/index.ts
  packages/ui/src/design-system/decorators/page.component.tsx
  packages/ui/src/design-system/decorators/page.decorator.tsx
  packages/ui/src/design-system/grid/grid.stories.tsx
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/sub-navigation/sub-navigation.stories.tsx
  packages/ui/src/design-system/typography/typography.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/elevation.data.ts
  packages/ui/src/design-tokens/light-theme.css.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/typings/svg.modules.d.ts
Labels: browser

#40 test(extension): e2e - add e2e tests for sending ada/assets from DApp
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionSuccess.tsx
  apps/browser-extension-wallet/src/features/dapp/components/SignTransaction.tsx
  packages/core/src/ui/components/DappTransaction/DappTransaction.tsx
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/assert/tokensPageAssert.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/elements/dappConnector/authorizeDAppPage.ts
  packages/e2e-tests/src/elements/dappConnector/commonDappPageElements.ts
  packages/e2e-tests/src/elements/dappConnector/confirmTransactionPage.ts
  packages/e2e-tests/src/elements/dappConnector/dAppTransactionAllDonePage.ts
  packages/e2e-tests/src/elements/dappConnector/signTransactionPage.ts
  packages/e2e-tests/src/elements/dappConnector/testDAppPage.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/e2e/SendTransactionBundlesE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimpleExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
Labels: browser

#87 chore(extension): revert persistent user ID changes
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/MatomoClient.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/__tests__/MatomoClient.test.ts
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/utils/__tests__/local-storage.test.ts
Labels: browser

#54 feat(ui): create <ToggleSwitch /> components
  .gitignore
  packages/ui/package.json
  packages/ui/src/assets/icons/info.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/toggle-switch/index.ts
  packages/ui/src/design-system/toggle-switch/toggle-switch.component.tsx
  packages/ui/src/design-system/toggle-switch/toggle-switch.css.ts
  packages/ui/src/design-system/toggle-switch/toggle-switch.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/light-theme.css.ts
  packages/ui/src/design-tokens/spacing.data.ts
  yarn.lock
Labels: ui-toolkit

#13 feat(ui): create <NavigationButton /> component
  packages/ui/.gitignore
  packages/ui/package.json
  packages/ui/src/assets/icons/arrow-left.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/navigation-buttons/back-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/back-button.css.ts
  packages/ui/src/design-system/navigation-buttons/close-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/close-button.css.ts
  packages/ui/src/design-system/navigation-buttons/index.ts
  packages/ui/src/design-system/navigation-buttons/navigation-buttons.stories.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.component.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.css.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/dark-theme.css.ts
  packages/ui/src/design-tokens/light-theme.css.ts
Labels: ui-toolkit

#93 chore(ui): remove chromatic from checks
  .github/settings.yml
  packages/ui/README.md
Labels: ui-toolkit

#48 Refactor lace to use tx builder
  apps/browser-extension-wallet/src/features/delegation/stores/__tests__/createDelegationStore.test.ts
  apps/browser-extension-wallet/src/features/delegation/stores/createDelegationStore.ts
  apps/browser-extension-wallet/src/features/delegation/types/index.ts
  apps/browser-extension-wallet/src/hooks/__tests__/useBuildDelegation.test.ts
  apps/browser-extension-wallet/src/hooks/useBuildDelegation.ts
  apps/browser-extension-wallet/src/hooks/useCollateral.ts
  apps/browser-extension-wallet/src/hooks/useInitializeTx.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/CollateralDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/CollateralStepSend.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionFail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionSuccess.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/hooks.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/types/stakingStore.ts
Labels: browser

#97 feat(extension): release v1.2.0
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_2_0.tsx
Labels: browser

#101 fix(extension): align title with create nfts folder button on the nfts page
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
Labels: browser

#96 fix(extension): updated find out more link on mnemonic writedown page
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#94 fix(extension): reflect network change on stake poool page (popup)
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
Labels: browser

#79 feat(extension): add corrupted data checks and error screen
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/src/components/DataCheckContainer/CorruptedData.tsx
  apps/browser-extension-wallet/src/components/DataCheckContainer/DataCheckContainer.tsx
  apps/browser-extension-wallet/src/components/DataCheckContainer/index.ts
  apps/browser-extension-wallet/src/components/MigrationContainer/FailedMigration.tsx
  apps/browser-extension-wallet/src/components/MigrationContainer/MigrationContainer.tsx
  apps/browser-extension-wallet/src/components/MigrationContainer/__tests__/MigrationContainer.test.tsx
  apps/browser-extension-wallet/src/components/ResetDataError/ResetDataError.module.scss
  apps/browser-extension-wallet/src/components/ResetDataError/ResetDataError.tsx
  apps/browser-extension-wallet/src/components/ResetDataError/index.ts
  apps/browser-extension-wallet/src/features/unlock-wallet/components/UnlockWalletContainer.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useDataCheck.test.ts
  apps/browser-extension-wallet/src/hooks/useDataCheck.ts
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/utils/data-validators.ts
  apps/browser-extension-wallet/src/utils/local-storage.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsSecurity.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
Labels: browser

#107 fix(extension): make remove option visible for non empty input
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/MetadataInput.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/MetadataInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/__tests__/MetadataInput.test.tsx
Labels: browser

#104 fix(extension): add rewards to total balance in asset table condition
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
Labels: browser

#111 fix(extension): filter out NFTs for `hasTokens` check in Asset list
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
Labels: browser

#98 test(extension): automation for right side panel
  apps/browser-extension-wallet/src/views/browser-view/components/CollapsiblePanelContainer/CollapsiblePanelContainer.tsx
  packages/e2e-tests/src/assert/commonAssert.ts
  packages/e2e-tests/src/assert/educationalListAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/menuHeader.ts
  packages/e2e-tests/src/elements/settings/extendedView/AboutLaceWidget.ts
  packages/e2e-tests/src/features/NavigationMainExtended.feature
  packages/e2e-tests/src/pageobject/menuHeaderPageObject.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/educationalBannersSteps.ts
  packages/e2e-tests/src/steps/navigationTopSteps.ts
Labels: browser

#41 feat(extension): add ada handle name to receive QR drawer
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfoContainer.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useGetHandles.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  packages/cardano/package.json
  yarn.lock
Labels: browser

#125 chore: update codeowners to not require review from leads for yarn.lock changes
  .github/CODEOWNERS
Labels: ci

#113 chore: update cardano-js-sdk packages for lace
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  yarn.lock
Labels: browser

#123 fix: transaction builder signing
  apps/browser-extension-wallet/src/hooks/useInitializeTx.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  packages/cardano/src/wallet/index.ts
Labels: browser

#131 fix(extension): remove brave support from 1.2.0 release note
  apps/browser-extension-wallet/src/release-notes/1_1_1.tsx
  apps/browser-extension-wallet/src/release-notes/1_2_0.tsx
Labels: browser

#78 feat(ui): add PieChart component
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/design-system/asset-input/max-button.component.tsx
  packages/ui/src/design-system/bundle-input/remove-button.component.tsx
  packages/ui/src/design-system/buttons/skeleton-button.tsx
  packages/ui/src/design-system/decorators/page.component.tsx
  packages/ui/src/design-system/decorators/page.decorator.tsx
  packages/ui/src/design-system/decorators/variants-table/variants-table-cell.component.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.component.tsx
  packages/ui/src/design-system/pie-chart/index.ts
  packages/ui/src/design-system/pie-chart/pie-chart.component.tsx
  packages/ui/src/design-system/pie-chart/pie-chart.data.ts
  packages/ui/src/design-system/pie-chart/pie-chart.stories.tsx
  packages/ui/src/design-system/sub-navigation/sub-navigation-item.component.tsx
  packages/ui/src/design-system/sub-navigation/sub-navigation.component.tsx
  packages/ui/src/types/colors.ts
  packages/ui/src/types/index.ts
  packages/ui/src/types/props.ts
  yarn.lock
Labels: ui-toolkit

#116 refactor(extension): use get-assets instead of get-asset as fallback
  apps/browser-extension-wallet/src/utils/__tests__/get-assets-information.test.ts
  apps/browser-extension-wallet/src/utils/get-assets-information.ts
  packages/cardano/src/wallet/test/mocks/AssetsProviderStub.ts
Labels: browser

#85 feat(staking,extension): Add your pools section of the Overview sub page
  .github/workflows/packages-staking.yml
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingContainer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingSkeleton.tsx
  packages/staking/.eslintrc.cjs
  packages/staking/.ladle/components.tsx
  packages/staking/.ladle/vite.config.ts
  packages/staking/package.json
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/index.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewNavigation.stories.tsx
  packages/staking/src/features/overview/OverviewNavigation.tsx
  packages/staking/src/features/overview/index.ts
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.module.scss
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.module.scss
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/overview/staking-info-card/Stats.module.scss
  packages/staking/src/features/overview/staking-info-card/Stats.tsx
  packages/staking/src/features/overview/staking-info-card/StatsTooltip.tsx
  packages/staking/src/features/overview/staking-info-card/index.ts
  packages/staking/src/features/staking/Navigation.stories.tsx
  packages/staking/src/features/staking/Navigation.tsx
  packages/staking/src/features/staking/Staking.stories.tsx
  packages/staking/src/features/staking/Staking.test.tsx
  packages/staking/src/features/staking/Staking.tsx
  packages/staking/src/features/staking/reset.css.ts
  packages/staking/tsup.config.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/design-tokens/sx.css.ts
  packages/ui/src/design-tokens/theme.context.tsx
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/index.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  packages/ui/src/design-tokens/theme/theme-contract.css.ts
  packages/ui/src/design-tokens/theme/theme-provider.component.tsx
  packages/ui/src/design-tokens/theme/theme-provider.css.ts
  packages/ui/src/design-tokens/theme/theme.context.ts
  yarn.lock
Labels: browser, staking, ui-toolkit, ci

#120 fix(extension): fix asset item sizings
  apps/browser-extension-wallet/src/components/Layout/ContentLayout.module.scss
  apps/browser-extension-wallet/src/components/Layout/ContentLayout.tsx
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  packages/common/src/ui/components/Table/InfiniteScrollableTable.module.scss
  packages/common/src/ui/components/Table/InfiniteScrollableTable.tsx
  packages/core/src/ui/components/Activity/GroupedAssetActivityList.tsx
  packages/core/src/ui/components/AssetTable/AssetTable.module.scss
  packages/core/src/ui/components/AssetTable/AssetTable.tsx
Labels: browser

#121 test(extension): add tests for LW-6972
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalance.tsx
  packages/core/src/ui/components/AssetTable/AssetTable.tsx
  packages/e2e-tests/src/assert/tokensPageAssert.ts
  packages/e2e-tests/src/elements/sectionTitle.ts
  packages/e2e-tests/src/elements/tokensPage.ts
  packages/e2e-tests/src/features/EmptyStatesExtended.feature
  packages/e2e-tests/src/features/EmptyStatesPopup.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/TokensPageExtended.feature
  packages/e2e-tests/src/features/TokensPagePopup.feature
  packages/e2e-tests/src/features/e2e/SendTransactionBundlesE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimpleExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/features/e2e/StakingSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/StakingSwitchingPoolsPopupE2E.feature
  packages/e2e-tests/src/pageobject/tokensPageObject.ts
  packages/e2e-tests/src/steps/tokensPageSteps.ts
Labels: browser

#134 ci: set `LACE_EXTENSION_KEY` in `post-integration.yml`
  .github/workflows/post-integration.yml
Labels: ci

#126 feat: isolate network addresses between testnet
  apps/browser-extension-wallet/src/features/address-book/context/AddressBookProvider.tsx
  apps/browser-extension-wallet/src/features/address-book/context/__test__/context.test.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/__tests__/useGetFilteredAddressBook.test.tsx
  apps/browser-extension-wallet/src/features/address-book/hooks/useGetFilteredAddressBook.tsx
  apps/browser-extension-wallet/src/hooks/useActionExecution.ts
  apps/browser-extension-wallet/src/lib/storage/database/build.ts
  apps/browser-extension-wallet/src/lib/storage/database/db.ts
  apps/browser-extension-wallet/src/lib/storage/helpers/index.ts
  apps/browser-extension-wallet/src/lib/storage/models/address-book.ts
  apps/browser-extension-wallet/src/utils/validators/__tests__/address-book.test.ts
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  packages/e2e-tests/src/features/SettingsPageExtended.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
Labels: browser

#95 feat(ui): create <SideDrawer /> component
  packages/ui/.eslintrc.js
  packages/ui/package.json
  packages/ui/src/design-system/decorators/index.ts
  packages/ui/src/design-system/decorators/page-provider.component.tsx
  packages/ui/src/design-system/decorators/page.component.tsx
  packages/ui/src/design-system/decorators/page.context.ts
  packages/ui/src/design-system/decorators/page.decorator.tsx
  packages/ui/src/design-system/decorators/page.hooks.ts
  packages/ui/src/design-system/grid/grid.css.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/navigation-buttons/navigation-skeleton-button.css.ts
  packages/ui/src/design-system/side-drawer/index.ts
  packages/ui/src/design-system/side-drawer/side-drawer-close.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-body.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-body.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content-card.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-card.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content-footer.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-footer.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content-header.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-header.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content-headline.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content-headline.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-content.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-content.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-overlay.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-overlay.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-portal.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-root.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-separator.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer-separator.css.ts
  packages/ui/src/design-system/side-drawer/side-drawer-trigger.component.tsx
  packages/ui/src/design-system/side-drawer/side-drawer.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/design-tokens/radius.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/sx.css.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#115 feature(staking,common,extension): i18n in staking
  .github/workflows/packages-staking.yml
  apps/browser-extension-wallet/src/lib/i18n.ts
  packages/common/src/ui/lib/i18n.ts
  packages/common/src/ui/lib/index.ts
  packages/staking/package.json
  packages/staking/src/features/i18n/i18n.ts
  packages/staking/src/features/i18n/index.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/translations/index.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/staking/Navigation.tsx
  packages/staking/src/features/staking/Setup/Setup.tsx
  packages/staking/src/features/staking/Setup/index.ts
  packages/staking/src/features/staking/Setup/useI18n.test.ts
  packages/staking/src/features/staking/Setup/useI18n.ts
  packages/staking/src/features/staking/Staking.test.tsx
  packages/staking/src/features/staking/Staking.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/staking/types.ts
  packages/staking/src/typings/i18next.d.ts
  rollup.config.js
  yarn.lock
Labels: browser, staking, ci

#119 fix(extension): add navigation and title into the recieve drawer in the staking flow
  apps/browser-extension-wallet/src/providers/ThemeProvider/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/StakingModals.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/__tests__/StakingModals.test.tsx
Labels: browser

#143 test(extension): e2e - add dapp connector tests
  apps/browser-extension-wallet/src/features/dapp/components/NoWallet.tsx
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/elements/dappConnector/noWalletModal.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/DAppConnectorExtended.feature
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/settingsSteps.ts
Labels: browser

#127 feat(ui): create <AssetsTable /> component
  packages/ui/.eslintrc.js
  packages/ui/src/design-system/assets-table/assets-table-market-price.component.tsx
  packages/ui/src/design-system/assets-table/assets-table-market-price.css.ts
  packages/ui/src/design-system/assets-table/assets-table-token-amount.component.tsx
  packages/ui/src/design-system/assets-table/assets-table-token-amount.css.ts
  packages/ui/src/design-system/assets-table/assets-table-token-profile.component.tsx
  packages/ui/src/design-system/assets-table/assets-table-token-profile.css.ts
  packages/ui/src/design-system/assets-table/assets-table.component.tsx
  packages/ui/src/design-system/assets-table/assets-table.css.ts
  packages/ui/src/design-system/assets-table/assets-table.stories.tsx
  packages/ui/src/design-system/assets-table/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#57 Implement add new address form in side drawer
  apps/browser-extension-wallet/src/assets/icons/Plus.svg
  apps/browser-extension-wallet/src/assets/icons/plus.component.svg
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/types/index.ts
  apps/browser-extension-wallet/src/hooks/useEnterKeyPress.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
Labels: browser

#130 feat: add ada handle details to user info dropdown
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserAvatar.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAdaHandle.ts
  apps/browser-extension-wallet/src/hooks/useGetHandles.ts
  apps/browser-extension-wallet/src/hooks/useHandleResolver.ts
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
Labels: browser

#59 Adjustments to layout content for different screen sizes
  apps/browser-extension-wallet/src/views/browser-view/components/FundWalletBanner/FundWalletBanner.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/SectionLayout.modules.scss
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  packages/cardano/src/ui/components/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/cardano/src/ui/components/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/common/src/ui/styles/abstracts/_mixins.scss
  packages/common/src/ui/styles/abstracts/_variables.scss
  packages/common/src/ui/styles/theme.scss
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.module.scss
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.tsx
Labels: browser

#141 fix: disallow duplicates when updating address book
  apps/browser-extension-wallet/src/features/address-book/context/AddressBookProvider.tsx
Labels: browser

#146 feat(LW-6675): delegation card
  .github/workflows/packages-staking.yml
  README.md
  package.json
  packages/staking/.ladle/components.tsx
  packages/staking/.ladle/vite.config.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/DelegationCard.css.ts
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/staking/Staking.tsx
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/staking/setup/index.ts
  packages/staking/src/features/staking/setup/useI18n.test.ts
  packages/staking/src/features/staking/setup/useI18n.ts
  packages/staking/src/features/theme/colors.ts
  packages/staking/src/features/theme/getThemeClassName.ts
  packages/staking/src/features/theme/index.ts
  packages/staking/src/features/theme/theme.css.ts
  packages/staking/tsup.config.ts
  packages/ui/src/design-system/grid/cell.component.tsx
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/pie-chart/index.ts
  packages/ui/src/design-system/pie-chart/pie-chart.component.tsx
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/design-tokens/theme/theme-provider.component.tsx
Labels: staking, ui-toolkit, ci

#155 feat(staking): add browse pools sub page content
  packages/staking/.eslintignore
  packages/staking/.ladle/vite.config.ts
  packages/staking/package.json
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/data.json
  packages/staking/src/features/browse-pools/pools-list/PoolsList.tsx
  packages/staking/src/features/browse-pools/pools-list/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/staking/src/features/browse-pools/pools-list/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/pools-list/StakePoolItemBrowser/index.ts
  packages/staking/src/features/browse-pools/pools-list/StakePoolTableBrowser/StakePoolTableBrowser.module.scss
  packages/staking/src/features/browse-pools/pools-list/StakePoolTableBrowser/StakePoolTableBrowser.tsx
  packages/staking/src/features/browse-pools/pools-list/StakePoolTableBrowser/arrow.component.svg
  packages/staking/src/features/browse-pools/pools-list/StakePoolTableBrowser/index.ts
  packages/staking/src/features/browse-pools/pools-list/StakePoolsTableEmpty.module.scss
  packages/staking/src/features/browse-pools/pools-list/StakePoolsTableEmpty.tsx
  packages/staking/src/features/browse-pools/pools-list/empty.svg
  packages/staking/src/features/browse-pools/pools-list/index.ts
  packages/staking/src/features/browse-pools/search/Search.module.scss
  packages/staking/src/features/browse-pools/search/Search.tsx
  packages/staking/src/features/browse-pools/search/index.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/typings/svg.d.ts
  packages/staking/tsup.config.ts
  yarn.lock
Labels: staking

#53 Implement collapsible left-hand side panel
  apps/browser-extension-wallet/src/components/NetworkPill/NetworkPill.module.scss
  apps/browser-extension-wallet/src/components/NetworkPill/NetworkPill.tsx
  apps/browser-extension-wallet/src/styles/constants/breakpoints.ts
  apps/browser-extension-wallet/src/views/browser-view/components/CollapsiblePanelContainer/CollapsiblePanelContainer.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/FundWalletBanner/FundWalletBanner.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/SectionLayout.modules.scss
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/LeftSidePanel.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/LeftSidePanel.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/LeftSidePanel/index.ts
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenuContent.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenuContent.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingInfo/StakingInfo.module.scss
  packages/cardano/src/ui/components/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/cardano/src/ui/components/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/common/src/ui/styles/abstracts/_mixins.scss
  packages/common/src/ui/styles/abstracts/_variables.scss
  packages/common/src/ui/styles/theme.scss
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.module.scss
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.tsx
  packages/core/src/ui/components/WalletAddresses/WalletAddressList.module.scss
  packages/core/src/ui/components/WalletAddresses/WalletAddressList.tsx
  packages/e2e-tests/src/assert/menuMainAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/menuMainExtended.ts
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/steps/commonSteps.ts
Labels: browser

#163 feat(staking): add zustand store
  packages/staking/src/features/store/index.ts
  packages/staking/src/features/store/stakingStore.ts
  packages/staking/src/features/store/types.ts
Labels: staking

#152 chore(ui): add existing convention to README.md
  packages/ui/README.md
Labels: ui-toolkit

#145 feat(ui): create <SearchBox /> component
  packages/ui/.eslintrc.js
  packages/ui/src/assets/icons/search.component.svg
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/search-box/index.ts
  packages/ui/src/design-system/search-box/search-box-clear-button.component.tsx
  packages/ui/src/design-system/search-box/search-box-clear-button.css.ts
  packages/ui/src/design-system/search-box/search-box-icon.component.tsx
  packages/ui/src/design-system/search-box/search-box-icon.css.ts
  packages/ui/src/design-system/search-box/search-box-input-field.component.tsx
  packages/ui/src/design-system/search-box/search-box-input-field.css.ts
  packages/ui/src/design-system/search-box/search-box.component.tsx
  packages/ui/src/design-system/search-box/search-box.css.ts
  packages/ui/src/design-system/search-box/search-box.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/spacing.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#118 fix(extension): add description into the setup mnemonics for recovery flow
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicVerificationStep.tsx
  packages/core/src/ui/components/WalletSetup/__tests__/WalletSetupMnemonicVerificationStep.test.tsx
Labels: browser

#162 feat(staking): vertical colorful line on staking info card matchig pie chart colors
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/pools-list/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/staking/src/features/browse-pools/pools-list/StakePoolTableBrowser/StakePoolTableBrowser.module.scss
  packages/staking/src/features/browse-pools/search/Search.module.scss
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.module.scss
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.module.scss
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/staking/Navigation.stories.tsx
Labels: staking

#161 test(extension): refactor token details POM
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalance.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDrawerTitle.tsx
  packages/e2e-tests/src/assert/tokenDetailsAssert.ts
  packages/e2e-tests/src/elements/CommonDrawerElements.ts
  packages/e2e-tests/src/elements/tokenDetailsPage.ts
Labels: browser

#171 Feat/Delegation portfolio store
  packages/staking/package.json
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/index.ts
  packages/staking/src/features/store/types.ts
  yarn.lock
Labels: staking

#166 fix(extension): enable cip30 minting transaction signing
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  packages/core/src/ui/components/DappTransaction/DappTransaction.module.scss
Labels: browser

#148 feat: show handles in recieve drawer
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserAvatar.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfo.module.scss
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfo.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfoContainer.tsx
  apps/browser-extension-wallet/src/features/receive-info/components/__tests__/ReceiveInfo.test.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useAdaHandle.ts
  apps/browser-extension-wallet/src/hooks/useGetHandles.ts
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/__tests__/StakingModals.test.tsx
  packages/core/src/index.ts
  packages/core/src/ui/assets/images/handle.png
  packages/core/src/ui/components/AddressCard/AddressCard.module.scss
  packages/core/src/ui/components/AddressCard/AddressCard.tsx
  packages/core/src/ui/components/AddressCard/Base.module.scss
  packages/core/src/ui/components/AddressCard/Base.tsx
  packages/core/src/ui/components/AddressCard/HandleAddressCard.module.scss
  packages/core/src/ui/components/AddressCard/HandleAddressCard.tsx
  packages/core/src/ui/components/AddressCard/index.ts
Labels: browser

#167 refactor(all): move stakePoolTransformer, CoinId, formatPercentages, …
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/delegation/api/__tests__/transformers.test.ts
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/features/delegation/components/DelegationLayout.tsx
  apps/browser-extension-wallet/src/features/delegation/stores/createDelegationStore.ts
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/providers/currency/store.ts
  apps/browser-extension-wallet/src/types/ui.ts
  apps/browser-extension-wallet/src/types/wallet.ts
  apps/browser-extension-wallet/src/utils/__tests__/assets-transformers.test.ts
  apps/browser-extension-wallet/src/utils/assets-transformers.ts
  apps/browser-extension-wallet/src/utils/constants.ts
  apps/browser-extension-wallet/src/utils/format-number.ts
  apps/browser-extension-wallet/src/utils/get-token-list.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AssetPicker.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/CoinInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionSummary.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingInfo/StakingInfo.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/StakingWarningModals.tsx
  packages/cardano/src/wallet/types.ts
  packages/cardano/src/wallet/util/__tests__/stake-pool-transformer.test.ts
  packages/cardano/src/wallet/util/index.ts
  packages/cardano/src/wallet/util/stake-pool-transformer.ts
  packages/common/package.json
  packages/common/src/ui/lib/format-number.ts
  packages/common/src/ui/lib/get-random-icon.ts
  packages/common/src/ui/lib/index.ts
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
Labels: browser, staking

#151 refactor(ui): create global theme CSS variables
  packages/ui/src/design-system/asset-input/asset-input.stories.tsx
  packages/ui/src/design-system/assets-table/assets-table.stories.tsx
  packages/ui/src/design-system/bundle-input/bundle-input.stories.tsx
  packages/ui/src/design-system/buttons/buttons.stories.tsx
  packages/ui/src/design-system/cards/cards.stories.tsx
  packages/ui/src/design-system/control-buttons/control-buttons.stories.tsx
  packages/ui/src/design-system/navigation-buttons/navigation-buttons.stories.tsx
  packages/ui/src/design-system/pie-chart/pie-chart.stories.tsx
  packages/ui/src/design-system/profile-picture/profile-picture.stories.tsx
  packages/ui/src/design-system/scroll-area/scroll-area.stories.tsx
  packages/ui/src/design-system/side-drawer/side-drawer.stories.tsx
  packages/ui/src/design-system/sub-navigation/sub-navigation.stories.tsx
  packages/ui/src/design-system/toggle-switch/toggle-switch.stories.tsx
  packages/ui/src/design-tokens/index.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/index.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  packages/ui/src/design-tokens/theme/local-dark-theme.css.ts
  packages/ui/src/design-tokens/theme/local-light-theme.css.ts
  packages/ui/src/design-tokens/theme/local-theme-provider.component.tsx
  packages/ui/src/design-tokens/theme/theme-provider.component.tsx
Labels: ui-toolkit

#58 refactor(extension): change styles for side panel button component
  apps/browser-extension-wallet/src/assets/icons/arrow-left.component.svg
  apps/browser-extension-wallet/src/assets/icons/arrow-right.component.svg
  apps/browser-extension-wallet/src/views/browser-view/components/SidePanelButton/SidePanelButton.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/SidePanelButton/SidePanelButton.tsx
Labels: browser

#154 style(extension): change styles for root element scroll bar
  apps/browser-extension-wallet/src/styles/index.scss
  packages/common/src/ui/styles/abstracts/_mixins.scss
  packages/common/src/ui/styles/themes/_dark.scss
  packages/common/src/ui/styles/themes/_light.scss
Labels: browser

#169 fix(extension): change small breakpoint size
  apps/browser-extension-wallet/src/styles/constants/breakpoints.ts
  packages/common/src/ui/styles/theme.scss
Labels: browser

#183 test(extension): e2e - fix windows runner
  .github/workflows/e2e-tests-win.yml
Labels: ci

#175 fix(extension): add test id into the banner icon, fix popup mode styling
  apps/browser-extension-wallet/src/components/Banner/Banner.module.scss
  apps/browser-extension-wallet/src/components/Banner/Banner.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
Labels: browser

#195 Chore: adjust main branch merge settings
  .github/settings.yml
Labels: ci

#170 refactor(extension,core): refactor Assets component
  apps/browser-extension-wallet/src/api/__tests__/wallet-balance-transformer.test.ts
  apps/browser-extension-wallet/src/api/transformers.ts
  apps/browser-extension-wallet/src/hooks/useBalances.ts
  apps/browser-extension-wallet/src/stores/slices/__tests__/ui-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/ui-slice.ts
  apps/browser-extension-wallet/src/types/ui.ts
  apps/browser-extension-wallet/src/types/wallet-balance.ts
  apps/browser-extension-wallet/src/utils/__tests__/assets-transformers.test.ts
  apps/browser-extension-wallet/src/utils/assets-transformers.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/__tests__/utils.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetails.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDrawerTitle.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDrawerTitle.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/__tests__/AssetDetails.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetEducationalList/AssetEducationalList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetTransactionDetails/AssetTransactionDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetTransactionDetails/__tests__/AssetTransactionDetails.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/__tests__/AssetsPortfolio.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/assets/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/assets/utils.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  packages/core/src/ui/components/Activity/AssetActivityList.tsx
  packages/core/src/ui/components/SendReceive/SendReceive.tsx
Labels: browser

#189 Chore/Bump Cardano SDK versions
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/hooks/__tests__/useBuildDelegation.test.ts
  apps/browser-extension-wallet/src/hooks/useBuildDelegation.ts
  apps/browser-extension-wallet/src/hooks/useHandleResolver.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  packages/cardano/package.json
  packages/cardano/src/wallet/lib/providers.ts
  yarn.lock
Labels: browser

#197 feat(staking): add search and sort for stake pools browser
  packages/cardano/src/wallet/util/__tests__/stake-pool-transformer.test.ts
  packages/cardano/src/wallet/util/stake-pool-transformer.ts
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/search/Search.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: staking

#92 feat(extension): update warning modal with multi-address support info
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  packages/e2e-tests/src/assert/modalAssert.ts
Labels: browser

#199 test(extension): refactor POM for address book page
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBookEmpty/AddressBookEmpty.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBookEmpty/__tests__/AddressBookEmpty.test.tsx
  packages/core/src/ui/components/WalletAddresses/WalletAddressList.tsx
  packages/e2e-tests/src/assert/addressBook/AddressBookPageAssert.ts
  packages/e2e-tests/src/assert/addressBook/addressBookAssert.ts
  packages/e2e-tests/src/assert/addressBook/addressBookExtendedAssert.ts
  packages/e2e-tests/src/elements/addressbook/AddressBookPage.ts
  packages/e2e-tests/src/elements/addressbook/addressCount.ts
  packages/e2e-tests/src/elements/addressbook/extendedview/AddressPage.ts
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
  packages/e2e-tests/src/steps/AddressBookSteps.ts
  packages/e2e-tests/src/steps/addressBookExtendedSteps.ts
  packages/e2e-tests/src/steps/addressBookPopupSteps.ts
Labels: browser

#198 [LW-7131] Ada handle profile and background pictures support
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserAvatar.tsx
  apps/browser-extension-wallet/src/features/ada-handle/config.ts
  apps/browser-extension-wallet/src/features/receive-info/components/ReceiveInfo.tsx
  apps/browser-extension-wallet/src/hooks/useHandleResolver.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/views/browser-view/components/QRInfoWalletDrawer/QRInfoWalletDrawer.tsx
  packages/cardano/package.json
  yarn.lock
Labels: browser
