Repository input-output-hk/lace, pull requests merged in 2023-08, with the labels that each got.

#324 Implements Post Hog events for send flow
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/SendReceiveBox/SendReceiveBox.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/Assets.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetsPortfolio/AssetsPortfolio.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionFail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
Labels: browser

#343 test(extension): e2e - re-enable DApp e2e (smoke) after bugfix
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/elements/transactionDetails.ts
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
Labels: ci

#352 fix: error thrown by undefined handles array
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
Labels: browser

#347 fix(staking): pool mapping conditions in StakePoolConfirmation and cardano-sdk pkg versions
  packages/staking/package.json
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  yarn.lock
Labels: staking

#333 feat(extension): implement post hog events for staking section
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenu.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/SignConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionFail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionSuccess.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/StakingModals.tsx
Labels: browser

#360 test(extension): e2e - bump yarn timeout for installing dependencies …
  .github/workflows/e2e-tests-win.yml
Labels: ci

#348 feat(staking): add multidelegation beta banner/modal
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/modals/BetaPill.css.ts
  packages/staking/src/features/modals/BetaPill.tsx
  packages/staking/src/features/modals/MultidelegationBetaModal.tsx
  packages/staking/src/features/modals/StakingModal.module.scss
  packages/staking/src/features/modals/StakingModal.tsx
  packages/staking/src/features/modals/index.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/staking/setup/Setup.tsx
  packages/staking/src/features/theme/colors.ts
  packages/staking/src/features/theme/getThemeClassName.ts
  packages/staking/src/features/theme/index.ts
  packages/staking/src/features/theme/theme.css.ts
  packages/ui/src/design-tokens/index.ts
Labels: browser, staking, ui-toolkit

#366 refactor: shorten copy for delete address confirmation
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#332 test(extension): first multidelegation full flow test
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/e2e-tests/src/assert/multidelegationPageAssert.ts
  packages/e2e-tests/src/elements/staking/MultidelegationPage.ts
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/staking/PortfolioBar.tsx
  packages/staking/src/features/staking/StakingView.tsx
Labels: browser, staking

#362 LW-7809 | Dapps authorization doest not work on posthog branch
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/getUserIdService.ts
Labels: browser

#356 fix: typo fixed in string
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#371 chore(extension): bump to 1.4.0
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_4_0.tsx
Labels: browser, extension-1.4.0

#374 chore(extension): release notes updated for 1.4.0
  apps/browser-extension-wallet/src/release-notes/1_4_0.tsx
Labels: browser, extension-1.4.0

#350 fix: no logs added
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
Labels: staking

#369 feat(extension): add analytics actions for nft section
  apps/browser-extension-wallet/src/components/MainMenu/MainFooter.tsx
  apps/browser-extension-wallet/src/features/nfts/components/Nfts.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenu.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftsLayout.tsx
Labels: browser

#340 feat(extension): show proper hw device on collateral confirm button text
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/CollateralDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/send/CollateralFooterSend.tsx
Labels: browser

#357 refactor: move timeline component to common package and reuse
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  packages/common/src/index.ts
  packages/common/src/ui/components/Timeline/Timeline.module.scss
  packages/common/src/ui/components/Timeline/Timeline.tsx
  packages/common/src/ui/components/Timeline/index.tsx
  packages/core/src/ui/components/WalletAddresses/WalletAddressItem.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupStepLayout.module.scss
  packages/core/src/ui/components/WalletSetup/WalletSetupStepLayout.tsx
Labels: browser

#376 [LW-7784] fixes the reload of the input form after adding a handle to address
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
Labels: browser

#382 test(extension): e2e - add test for nft folder nft click
  apps/browser-extension-wallet/src/features/nfts/components/NftDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/DetailsDrawer.tsx
  packages/common/src/ui/components/Drawer/Drawer.tsx
  packages/e2e-tests/src/elements/CommonDrawerElements.ts
  packages/e2e-tests/src/elements/NFTs/nftDetails.ts
  packages/e2e-tests/src/features/NFTsExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.feature
  packages/e2e-tests/src/features/NFTsPopup.feature
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
Labels: browser

#378 fix(extension): add missing staking events in popup view
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
Labels: browser

#304 feat(extension): use public key hash as id for opted in users
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.test.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/lib/scripts/types/userIdService.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/matomo/MatomoClient.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-chain-name-by-network-magic.test.ts
  apps/browser-extension-wallet/src/utils/get-chain-name-by-network-magic.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#392 Chore/update sdk
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  packages/cardano/package.json
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/test/mocks/ProviderStub.ts
  packages/cardano/src/wallet/test/mocks/RewardsProviderStub.ts
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#398 [LW-7956] patch update cardano-sdk wallet and web-extension packages
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  yarn.lock
Labels: browser, extension-1.4.1

#399 fix: update stakepool search placeholder
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/staking/src/features/i18n/translations/en.ts
Labels: browser, staking

#383 fix(extension): cip30 dApp connector is now injected as a regular js …
  apps/browser-extension-wallet/src/lib/scripts/background/inject.ts
Labels: browser

#394 feat(extension): add custom properties for send flow last step
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/__tests__/helpers.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/TransactionSuccessView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/__tests__/CollateralDrawer.test.tsx
Labels: browser

#401 refactor(extension): change menu to items in user dropdown
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/NetworkChoise.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/index.ts
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/AddressBookLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/Links.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/LockWallet.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/NetworkInfo.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/NetworkInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/NetworkSwitcher.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/Separator.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/SettingsLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/ThemeSwitcher.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/UserAvatar.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/UserInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/UserMenu.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/components/index.ts
  apps/browser-extension-wallet/src/components/MainMenu/UserMenu/types.ts
  apps/browser-extension-wallet/src/components/MainMenu/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsPreferences/SettingsPreferences.tsx
  packages/e2e-tests/src/elements/menuHeader.ts
Labels: browser

#385 fix: replace `visible` prop with `open` on modals, tooltips and drawers
  apps/browser-extension-wallet/src/components/Announcement/Announcement.tsx
  apps/browser-extension-wallet/src/components/ContinueInBrowserDialog/ContinueInBrowserDialog.tsx
  apps/browser-extension-wallet/src/components/TransitionAcknowledgmentDialog/TransitionAcknowledgmentDialog.tsx
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressActionsModal.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Connect.tsx
  apps/browser-extension-wallet/src/features/unlock-wallet/components/ForgotPassword.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/Drawer/DrawerUIContent.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/WarningModal/WarningModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetTransactionDetails/AssetTransactionDetails.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/dapp/components/DappList/DappList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/dapp/components/DappList/DeleteDappModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/CreateFolder/CreateFolderDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/DetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/NftFolderConfirmationModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/nfts/components/RenameFolderDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/CancelEditAddressModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/AboutDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/Collateral/CollateralDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/CookiePolicyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/GeneralSettingsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/NetworkChoiceDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/PassphraseSettingsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/PrivacyPolicyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsPreferences/CurrencyDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/ShowPassphraseDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SupportDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingModals/StakingModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/voting/components/VotingLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/ErrorDialog.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/StartOverDialog.tsx
  packages/core/src/ui/components/Nft/NftFolderItem.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupStepLayout.tsx
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
Labels: browser, staking

#159 [LW-6640] build repo with yarn v3
  .github/shared/build/action.yml
  .github/workflows/ci.yml
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/packages-staking.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/ui-toolkit-chromatic.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.0.cjs
  .yarnrc.yml
  apps/browser-extension-wallet/package.json
  package.json
  packages/cardano/package.json
  packages/common/package.json
  packages/core/package.json
  packages/e2e-tests/README.md
  packages/e2e-tests/package.json
  packages/staking/package.json
  packages/ui/package.json
  yarn.lock
Labels: browser, staking, ui-toolkit, ci

#417 chore: bump sdk packages to fix handle upgrade tx
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking, extension-1.4.1

#421 chore(all): revert the replacement of wsrun with yarn3 workspaces command
  .github/shared/build/action.yml
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: ci

#425 chore(all): fix yarn 3 upgrade issue in CI
  .github/shared/build/action.yml
  .github/workflows/packages-staking.yml
  .github/workflows/smoke-tests.yml
Labels: ci

#426 Chore/Staking Remove lost pixel regression
  packages/staking/.lostpixel/.gitignore
  packages/staking/.lostpixel/baseline/staking--staking-navigation--staking-navigation.png
  packages/staking/.lostpixel/baseline/staking--staking-page.png
  packages/staking/lostpixel.config.ts
  packages/staking/package.json
  packages/staking/tsconfig.eslint.json
  yarn.lock
Labels: staking

#431 ci(all): remove --immutable-cache flag (yarn3) [LW-8078]
  .github/shared/build/action.yml
Labels: ci

#435 chore(all): remove --mode=skip-build during CI install step
  .github/shared/build/action.yml
  .github/workflows/packages-staking.yml
Labels: ci

#381 feat(staking): add new formula for staking deposit calculation [LW-7543]
  packages/staking/.eslintrc.cjs
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/StakePoolConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/DelegationCard.stories.tsx
  packages/staking/src/features/overview/DelegationCard.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.tsx
  packages/staking/src/features/staking/StakingView.tsx
Labels: staking

#355 [LW-7570]: update handle when sending tokens
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressChangeDetail.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressChangeDetail.tsx
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressDetailDrawer/AddressChangeDetailDrawer.tsx
  apps/browser-extension-wallet/src/features/send/components/Send.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useSendEvent.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransaction.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/HeaderView.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  nix/lace-blockchain-services/internal/lace-blockchain-services/openapi.json
  packages/common/src/ui/components/Timeline/Timeline.module.scss
Labels: browser

#439 chore(extension): bump version to 1.4.1 and added new release notes
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/release-notes/1_4_1.tsx
Labels: browser, extension-1.4.1

#428 feat(staking): clear stake pools selection draft on network change
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/staking/StakingView.tsx
Labels: browser, staking

#402 feat(staking): LW-7864 add migrating stake pools banner
  apps/browser-extension-wallet/src/features/activity/components/Activity.tsx
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/hooks/useWalletActivities.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityLayout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/assets/components/AssetDetailsDrawer/AssetDetailsDrawer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/Overview.css.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/helpers.ts
  packages/staking/src/features/theme/colors.ts
Labels: browser, staking

#408 chore(all): LW-8019 fix critical/high yarn audit vulnerabilities
  package.json
  yarn.lock
Labels: dependencies

#416 feat(staking): LW-8017 disable multi-delegation for HW wallets
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContainer.tsx
  apps/browser-extension-wallet/src/hooks/useMultiDelegationEnabled.ts
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingContainer.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
Labels: browser

#427 fix(staking): LW-7746 prevent "next" button from refocus after cancelling changing pools
  packages/staking/src/features/modals/ChangingPreferencesModal.tsx
  packages/staking/src/features/modals/StakingModal.tsx
Labels: staking

#443 fix(extension): enable injection in all frames [LW-8150]
  apps/browser-extension-wallet/manifest.json
Labels: browser

#420 fix(staking): LW-7926 fix ESC key staking drawer crashing app
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
Labels: staking

#413 fix(staking): add pool to draftPortfolio when delegating all to 1
  packages/staking/src/features/staking/StakingView.tsx
Labels: staking

#415 [LW-7486] refactor onAddressSave to a hook
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useOnAddressSave.test.tsx
  apps/browser-extension-wallet/src/hooks/index.ts
  apps/browser-extension-wallet/src/hooks/useOnAddressSave.ts
  apps/browser-extension-wallet/src/views/browser-view/features/adress-book/components/AddressBook/AddressBook.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/AddressFormFooter.tsx
Labels: browser

#437 fix(staking): LW-7854 fix popupView spacing of vertical marker
  packages/staking/src/features/overview/staking-info-card/StakePoolInfo.module.scss
  packages/staking/src/features/overview/staking-info-card/StakingInfoCard.module.scss
Labels: staking

#375 feat(extension): add custom person properties
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/lib/scripts/types/userIdService.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/types.ts
Labels: browser

#405 Feat/LW-7101 multi delegation empty states
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/views/browser-view/components/FundWalletBanner/index.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/package.json
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/ExpandViewBanner.module.scss
  packages/staking/src/features/overview/FundWalletBanner.module.scss
  packages/staking/src/features/overview/FundWalletBanner.tsx
  packages/staking/src/features/overview/GetStartedSteps.module.scss
  packages/staking/src/features/overview/GetStartedSteps.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakeFundsBanner.module.scss
  packages/staking/src/features/overview/StakeFundsBanner.tsx
  packages/staking/src/features/overview/lace-portal-horizontal.component.svg
  packages/staking/src/features/overview/lace-portal-popup.component.svg
  packages/staking/src/features/overview/lace-portal-vertical.component.svg
  packages/staking/src/features/overview/start_staking_bg.svg
  packages/staking/src/features/overview/start_staking_bg_popup.svg
  packages/staking/src/features/staking/copy.component.svg
  packages/staking/src/features/theme/colors.ts
  yarn.lock
Labels: browser, staking

#438 feat(staking): LW-7817 current pools managenet
  apps/browser-extension-wallet/src/features/address-book/components/AddressBook.tsx
  packages/staking/package.json
  packages/staking/src/features/browse-pools/BrowsePools.tsx
  packages/staking/src/features/browse-pools/PortfolioBar.css.ts
  packages/staking/src/features/browse-pools/PortfolioBar.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolsTable.tsx
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/drawer/SignConfirmation.tsx
  packages/staking/src/features/drawer/StakePoolDetail.tsx
  packages/staking/src/features/drawer/StakePoolDetails.tsx
  packages/staking/src/features/drawer/StakePoolDetailsDrawer.tsx
  packages/staking/src/features/drawer/StakePoolPreferences.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/staking/StakingView.tsx
  packages/staking/src/features/store/delegationPortfolio.test.ts
  packages/staking/src/features/store/delegationPortfolio.ts
  packages/staking/src/features/store/types.ts
Labels: browser, staking

#432 feat(extension): add posthog_project_id property to events
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/config.ts
Labels: browser

#445 fix(extension): onboarding flow timeline style broken
  apps/browser-extension-wallet/src/features/address-book/components/AddressChangeDetail.module.scss
  apps/browser-extension-wallet/src/features/address-book/components/AddressChangeDetail.tsx
  packages/common/src/ui/components/Timeline/Timeline.module.scss
Labels: browser

#461 chore: update cardano-js-sdk packages
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/lib/scripts/background/inject.ts
  packages/cardano/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser

#446 [LW-7401] adds validator on inputs for ADA handles
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/utils/validators/address-book.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/AddressForm.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/AddressInput.tsx
Labels: browser

#430 fix(extension): reset user analytics status when wallet is removed
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/popup.tsx
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsSecurity.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  apps/browser-extension-wallet/src/views/browser-view/index.tsx
Labels: browser

#463 Fix/lw 8125 use normal window for hardware wallet dapp connector
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
Labels: browser

#433 feat(staking): LW-7674 split delegation&(de)registration tx into two activities
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/stores/slices/transaction-detail-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/types/tx.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-transformers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
  packages/core/src/ui/components/Activity/AssetActivityItem.tsx
  packages/core/src/ui/components/Transactions/Transaction.tsx
  packages/core/src/ui/components/Transactions/TransactionDetailBrowser.tsx
  packages/core/src/ui/lib/translations/en.json
Labels: browser

#448 feat(staking) LW-8145 show percentages instead of fractions in the multistaking portfolio draft
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/store/store.ts
  packages/common/src/ui/lib/__tests__/format-number.test.ts
  packages/common/src/ui/lib/format-number.ts
  packages/staking/src/features/drawer/PoolDetailsCard.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: browser

#454 fix(staking): LW-8144 align multistaking announcement beta pill to the left
  packages/staking/src/features/modals/BetaPill.css.ts
  packages/staking/src/features/modals/MultidelegationBetaModal.tsx
  packages/ui/src/design-tokens/sx.css.ts
Labels: ui-toolkit

#450 [LW-8175] Destination input alignment issues in sending flow
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/MetadataInput.module.scss
  packages/common/src/ui/components/Form/Input/Input.module.scss
  packages/common/src/ui/components/Search/Search.module.scss
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.module.scss
  packages/core/src/ui/components/DestinationAddressInput/DestinationAddressInput.tsx
  packages/core/src/ui/components/EditAddressForm/EditAddressForm.module.scss
  packages/core/src/ui/components/EditAddressForm/EditAddressForm.tsx
Labels: browser

#403 fix(staking): LW-7865 adjust padding of stake pool browser items, background color of Unselect button
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.module.scss
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolItemBrowser/StakePoolItemBrowser.tsx
  packages/staking/src/features/browse-pools/stake-pools-table/StakePoolTableBrowser/StakePoolTableBrowser.module.scss
  packages/ui/src/design-system/buttons/buttons.stories.tsx
  packages/ui/src/design-system/buttons/call-to-action-button.css.ts
  packages/ui/src/design-system/buttons/call-to-action-button.tsx
  packages/ui/src/design-system/buttons/index.ts
  packages/ui/src/design-system/buttons/primary-button.css.ts
  packages/ui/src/design-system/buttons/secondary-button.css.ts
  packages/ui/src/design-system/buttons/skeleton-button.tsx
  packages/ui/src/design-system/control-buttons/control-button.css.ts
  packages/ui/src/design-system/control-buttons/small-button.component.tsx
Labels: ui-toolkit

#456 fix(extension): nav menu overlap on staking screen LW-7778
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.module.scss
Labels: browser

#447 Fix(extension): fetch token price fails makes lace crash LW-7895
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/src/assets/icons/purple-question-mark.component.svg
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/views/browser-view/components/PortfolioBalance/PortfolioBalance.tsx
Labels: browser

#469 [LW-8265] Remove unnecesary Posthog properties
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/postHog/PostHogClient.ts
Labels: browser
