Repository input-output-hk/lace, pull requests merged in 2023-12, with the labels that each got.

#769 feat(staking): network pill small change adjustment
  packages/e2e-tests/src/assert/topNavigationAssert.ts
Labels: e2e

#772 chore(extension): update lace version v1.8.0
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
Labels: browser

#773 chore(extension): enable multi delegation staking activity
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
Labels: browser

#778 test(extension): maintenance 7 Dec 2023
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
Labels: e2e

#758 feat(extension): add drep retirement id mismatch modal
  apps/browser-extension-wallet/src/features/dapp/components/DappError.tsx
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionFail.tsx
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionSuccess.tsx
  apps/browser-extension-wallet/src/features/dapp/components/Layout.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/NoWallet.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmDRepRetirementContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransactionContent.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmDRepRetirementContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/ConfirmTransaction.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/hooks.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/utils.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/hooks.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/features/dapp/components/index.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/routes/DappConnectorView.tsx
Labels: browser

#771 [LW-9198]- Incorrect send amount in activity list
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-transaction-total-amount.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/own-input-resolver.test.ts
  apps/browser-extension-wallet/src/utils/get-transaction-total-amount.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/utils/own-input-resolver.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/pending-tx-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/__tests__/tx-history-transformer.test.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/pending-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/tx-history-transformer.ts
Labels: browser

#779 fix: clears password after successful confirmation
  apps/browser-extension-wallet/src/features/dapp/components/DappTransactionSuccess.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
Labels: browser

#774 Feat/lw 6915 refactor send transaction form
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/BundlesList.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/RowContainer.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/RowContainer.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/__tests__/Form.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/util.ts
Labels: browser

#782 chore: bump sdk version
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/lib/scripts/background/requestAccess.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  packages/cardano/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#784 test(extension): test maintenance 13 December - remove 'next to' check
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/features/NavigationTopPopup.feature
  packages/e2e-tests/src/features/SettingsPageExtended.feature
  packages/e2e-tests/src/features/SettingsPagePopup.feature
  packages/e2e-tests/src/steps/navigationTopSteps.ts
Labels: e2e

#747 feat(extension) Create Account management components [LW-9029]
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/types.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/ui/src/assets/icons/pencil-outline.component.svg
  packages/ui/src/assets/icons/trash-outline.component.svg
  packages/ui/src/design-system/control-buttons/control-button.css.ts
  packages/ui/src/design-system/control-buttons/control-button.data.ts
  packages/ui/src/design-system/control-buttons/extra-small-button.component.tsx
  packages/ui/src/design-system/control-buttons/index.ts
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.css.ts
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.stories.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.stories.tsx
  packages/ui/src/design-system/profile-dropdown/index.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: browser, ui-toolkit

#759 feat(extension): Mock wallet account name editing UX [LW-9187]
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/features/account/components/EditAccount/EditAccountDrawer.test.tsx
  apps/browser-extension-wallet/src/features/account/components/EditAccount/EditAccountDrawer.tsx
  apps/browser-extension-wallet/src/features/account/components/EditAccount/hooks.ts
  apps/browser-extension-wallet/src/features/account/config.ts
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.css.ts
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.stories.tsx
  packages/ui/src/design-system/text-box/text-box.component.tsx
  packages/ui/src/design-system/text-box/text-box.css.ts
Labels: browser, ui-toolkit

#790 test(extension): tests lw-8432,lw-8433
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#791 test(extension): test maintenance 19 dec
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolDetailsDrawer.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/StakingPageDelegatedFundsExtended.feature
  packages/e2e-tests/src/features/StakingPageDelegatedFundsPopup.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/StakingInitialFundsE2E.feature
  packages/e2e-tests/src/utils/multiDelegationUtils.ts
Labels: e2e

#793 test(extension): add e2e test for bug LW-9080
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: e2e

#796 chore(extension): update discord link
  apps/browser-extension-wallet/.env.defaults
Labels: browser

#795 Lw 9434 e2e tests
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakingManageDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakingManageDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/overview/Overview.tsx
Labels: staking, e2e

#797 test(extension): add e2e test for bug LW-9152
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/assert/stakingPageAssert.ts
  packages/e2e-tests/src/elements/staking/stakingInfoComponent.ts
  packages/e2e-tests/src/elements/staking/statsComponent.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultiDelegationPagePopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsPopup.feature
  packages/e2e-tests/src/pageobject/stakingPageObject.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
Labels: e2e

#798 Lw 9443 e2e tests
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCardData.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/RatioInput.tsx
Labels: staking, e2e

#788 feat(ui): add toggle button group component [LW-9269]
  packages/ui/package.json
  packages/ui/src/assets/storybook/globe-alt.component.svg
  packages/ui/src/assets/storybook/home.component.svg
  packages/ui/src/assets/storybook/key.component.svg
  packages/ui/src/design-system/toggle-button-group/index.ts
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-item.component.tsx
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-item.css.ts
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-root.component.tsx
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-root.css.ts
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-root.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit
