Repository input-output-hk/lace, pull requests merged in 2024-03, with the labels that each got.

#926 Parallel execution tweaks
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/assert/tokenDetailsAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/newTransaction/assetInput.ts
  packages/e2e-tests/src/elements/transactionsPage.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsMultiplePoolsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendPopup.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#918 fix(staking): clicking on drift warning not working (popup) LW-9438
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/lib/scripts/types/background-service.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/overview/ExpandViewBanner.tsx
  packages/staking/src/features/overview/Overview.tsx
  packages/staking/src/features/overview/OverviewPopup.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/PortfolioDriftBanner.tsx
  packages/staking/src/features/overview/StakingNotificationBanners/StakingNotificationBanners.tsx
  packages/staking/src/features/overview/hooks.ts
Labels: browser, staking

#935 feat(extension): handle requests from non registered users
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/NonRegisteredUserModal/NonRegisteredUserModal.module.scss
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/NonRegisteredUserModal/NonRegisteredUserModal.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/VotingProceduresContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/VotingProceduresContainer.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/utils.test.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/hooks.ts
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/utils.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#933 Fixes for local run
  packages/e2e-tests/src/assert/addressBook/AddNewAddressDrawerAssert.ts
  packages/e2e-tests/src/assert/addressBook/AddressDetailsAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingWalletCreationPageAssert.ts
  packages/e2e-tests/src/assert/walletAddressPageAssert.ts
  packages/e2e-tests/src/elements/modal.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/pageobject/menuHeaderPageObject.ts
  packages/e2e-tests/src/steps/AddressBookSteps.ts
Labels: e2e

#939 chore: align dev preview env with stable
  apps/browser-extension-wallet/.env.developerpreview
Labels: browser

#937 feat(extension): fix failing search requests on grid resize
  packages/staking/src/features/BrowsePools/StakePoolsGrid/StakePoolsGrid.tsx
Labels: staking

#942 test(extension): add support for grid view toggle
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/transactionsPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsMultiplePoolsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/BrowsePools/BrowsePoolsHeader.tsx
Labels: staking, e2e

#923 feat: show multi-address modal post wallet creation
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-address/MultiAddressBalanceVisibleModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-address/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupMainPage.tsx
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
Labels: browser

#927 [LW-9877] UI multi wallet issues 2
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/lib/wallet-api-ui.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/RestoreRecoveryPhrase.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.css.ts
Labels: browser, ui-toolkit

#932 test(extension): refactor e2e initial staking test
  packages/e2e-tests/src/assert/localStorageAssert.ts
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/transactionDetails.ts
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/StakingInitialFundsE2E.feature
  packages/e2e-tests/src/fixture/browserStorageInitializer.ts
  packages/e2e-tests/src/fixture/localStorageInitializer.ts
  packages/e2e-tests/src/fixture/walletRepositoryInitializer.ts
  packages/e2e-tests/src/hooks/scenarioTagRunner.ts
  packages/e2e-tests/src/pageobject/onboardingPageObject.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/steps/stakingSteps.ts
  packages/e2e-tests/src/steps/transactionsSteps.ts
  packages/e2e-tests/src/utils/multiDelegationUtils.ts
Labels: e2e

#934 Test/lw 9921 fix e2e tests
  packages/core/src/ui/components/WalletSetup/AnalyticsConfirmationBanner.tsx
  packages/core/src/ui/components/WalletSetupRevamp/MnemonicVideoPopupContent.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupOptionsStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/index.ts
  packages/e2e-tests/src/assert/adaHandleAssert.ts
  packages/e2e-tests/src/assert/addressBook/AddressFormAssert.ts
  packages/e2e-tests/src/assert/localStorageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingCommonAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingRecoveryPhrasePageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingWalletSetupPageAssert.ts
  packages/e2e-tests/src/assert/onboarding/onboardingWatchVideoModalAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/addressbook/AddressForm.ts
  packages/e2e-tests/src/elements/analyticsBanner.ts
  packages/e2e-tests/src/elements/onboarding/mainPage.ts
  packages/e2e-tests/src/elements/onboarding/recoveryPhrasePage.ts
  packages/e2e-tests/src/elements/onboarding/walletSetupPage.ts
  packages/e2e-tests/src/elements/onboarding/watchVideoModal.ts
  packages/e2e-tests/src/features/ForgotPassword.feature
  packages/e2e-tests/src/features/OnboardingCreateWallet.feature
  packages/e2e-tests/src/features/OnboardingRestoreWallet.feature
  packages/e2e-tests/src/fixture/localStorageInitializer.ts
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/pageobject/dAppConnectorPageObject.ts
  packages/e2e-tests/src/pageobject/menuHeaderPageObject.ts
  packages/e2e-tests/src/pageobject/onboardingRevampPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#931 chore(extension): unify saturation related utils
  apps/browser-extension-wallet/src/features/delegation/components/DelegationLayout.tsx
  apps/browser-extension-wallet/src/features/delegation/components/Staking.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  packages/cardano/src/index.ts
  packages/staking/package.json
  packages/staking/src/assets/icons/badge-check.component.svg
  packages/staking/src/assets/icons/loader.component.svg
  packages/staking/src/assets/icons/search.component.svg
  packages/staking/src/assets/icons/warning.component copy.svg
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/index.ts
  packages/staking/src/features/BrowsePools/StakePoolsList/config.ts
  packages/staking/src/features/BrowsePools/StakePoolsList/stakePoolCellRendererByMetricType.tsx
  packages/staking/src/features/BrowsePools/index.ts
  packages/staking/src/features/BrowsePools/types.ts
  packages/staking/src/features/BrowsePools/utils.ts
  packages/staking/src/features/Drawer/StakePoolDetail.module.scss
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
  packages/staking/src/features/overview/StakePoolSearch/StakePoolSearch.module.scss
  packages/staking/src/features/overview/StakePoolSearch/StakePoolSearch.tsx
  packages/staking/src/features/overview/StakePoolSearch/index.ts
  packages/staking/src/features/overview/index.ts
  packages/staking/src/index.ts
  yarn.lock
Labels: browser, staking

#941 fix(extension): [LW-9891] show recovery phrase
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/ShowPassphraseDrawer.tsx
Labels: browser

#906 [LW-9813] Create posthog alias after new wallet is restored
  apps/browser-extension-wallet/src/lib/scripts/background/config.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/userIdService.ts
  apps/browser-extension-wallet/src/lib/scripts/types/userIdService.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.ts
  apps/browser-extension-wallet/src/providers/PostHogClientProvider/client/PostHogClient.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/CreateWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/NewRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/RestoreWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/RestoreRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupMnemonicVerificationStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupStepLayout.tsx
Labels: browser

#944 test(extension): tests for grid view
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolDetailsDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolGridCard.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolListItem.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/PoolMetric/PoolMetric.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCardSkeleton.tsx
  packages/staking/src/features/BrowsePools/StakePoolsGrid/StakePoolsGrid.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolsList.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolsListRowSkeleton/StakePoolsListRowSkeleton.tsx
Labels: staking, e2e

#901 Feat/lw 9709 prompt password when unlocking account
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/core/src/ui/assets/icons/exclamation-circle.svg
  packages/core/src/ui/assets/images/hardware-wallet.svg
  packages/core/src/ui/assets/images/lace-portal-01.svg
  packages/core/src/ui/components/Account/EnableAccountConfirmWithHW/EnableAccountConfirmWithHW.module.scss
  packages/core/src/ui/components/Account/EnableAccountConfirmWithHW/EnableAccountConfirmWithHW.stories.tsx
  packages/core/src/ui/components/Account/EnableAccountConfirmWithHW/EnableAccountConfirmWithHW.tsx
  packages/core/src/ui/components/Account/EnableAccountConfirmWithHW/index.ts
  packages/core/src/ui/components/Account/EnableAccountPasswordPrompt/EnableAccountPasswordPrompt.module.scss
  packages/core/src/ui/components/Account/EnableAccountPasswordPrompt/EnableAccountPasswordPrompt.stories.ts
  packages/core/src/ui/components/Account/EnableAccountPasswordPrompt/EnableAccountPasswordPrompt.tsx
  packages/core/src/ui/components/Account/EnableAccountPasswordPrompt/index.ts
  packages/core/src/ui/components/Account/hooks.ts
  packages/core/src/ui/components/Account/index.ts
  packages/core/src/ui/hooks/index.ts
  packages/core/src/ui/hooks/useDialogWithData.ts
  packages/ui/src/design-system/buttons/call-to-action-button.tsx
  packages/ui/src/design-system/password-box/password-box-button.component.tsx
  packages/ui/src/design-system/password-box/password-box-button.css.ts
  packages/ui/src/design-system/password-box/password-box-input.component.tsx
  packages/ui/src/design-system/password-box/password-box-input.css.ts
  packages/ui/src/design-system/password-box/password-box.stories.tsx
Labels: browser, ui-toolkit

#940 fix(extension): [LW-9917] add dapp tx localization
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#953 fix(extension): resolve sdet comments
  apps/browser-extension-wallet/src/features/delegation/components/DelegationLayout.tsx
  apps/browser-extension-wallet/src/features/delegation/components/Staking.tsx
  packages/cardano/src/ui/components/StakePoolStatusLogo/StatusLogo.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolCellRenderer.css.ts
Labels: browser, staking

#936 fix: resolve onboarding create restore flow analytics
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/AnalyticsTracker.test.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-address/MultiAddressBalanceVisibleModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/PinExtension.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupMainPage.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/common/src/analytics/types.ts
  packages/core/src/ui/components/WalletSetupRevamp/MnemonicVideoPopupContent.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicVerificationStepRevamp.tsx
Labels: browser

#947 feat(extension): disable 'Lock wallet' button
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/LockWallet.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/features/ForgotPassword.feature
  packages/e2e-tests/src/features/LockWalletExtended.feature
  packages/e2e-tests/src/features/LockWalletPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsForgotPassword.feature
Labels: browser, e2e

#958 fix(extension): update chevron icon in user menu [LW-100045]
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
Labels: browser

#954 feat: update SDK packages to latest
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/features/dapp/components/collateral/CreateCollateral.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/proposal-procedures/HardForkInitiationActionContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/proposal-procedures/__tests__/HardForkInitiationActionContainer.test.tsx
  apps/browser-extension-wallet/src/features/delegation/components/DelegationContent.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useCollateral.test.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolConfirmation.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/Staking.tsx
  packages/cardano/package.json
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/__tests__/build-delegation.test.ts
  packages/cardano/src/wallet/lib/__tests__/build-transaction.test.ts
  packages/cardano/src/wallet/lib/__tests__/get-inputs-value.test.ts
  packages/cardano/src/wallet/lib/build-delegation.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/test/mocks/mock-wallet.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/staking/package.json
  packages/staking/src/features/overview/helpers/hasMinimumFundsToDelegate.ts
  yarn.lock
Labels: browser, staking

#955 test(extension): refactor Coin Configure POM
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/coinConfigureAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/elements/CommonDrawerElements.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolDetailsDrawer.ts
  packages/e2e-tests/src/elements/newTransaction/coinConfigure.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSearchResult.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/elements/newTransaction/transactionPasswordPage.ts
  packages/e2e-tests/src/elements/newTransaction/transactionSubmittedPage.ts
  packages/e2e-tests/src/elements/settings/SettingsPage.ts
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.part2.feature
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/pageobject/settingsExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/simpleTxSideDrawerPageObject.ts
  packages/e2e-tests/src/pageobject/stakingPageObject.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/steps/settingsSteps.ts
  packages/e2e-tests/src/steps/transactionsSteps.ts
  packages/e2e-tests/src/steps/waletAddressPageSteps.ts
Labels: e2e

#959 enable multi-wallet/account + fix e2e tests
  apps/browser-extension-wallet/.env.defaults
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/assert/topNavigationAssert.ts
  packages/e2e-tests/src/elements/menuHeader.ts
  packages/e2e-tests/src/features/FullExperiencePopup.feature
  packages/e2e-tests/src/features/NavigationTopExtended.feature
  packages/e2e-tests/src/features/NavigationTopPopup.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsNavigationTopPopup.feature
  packages/e2e-tests/src/features/e2e/StakingInitialFundsE2E.feature
  packages/e2e-tests/src/fixture/walletRepositoryInitializer.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/utils/utils.ts
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.tsx
  packages/ui/src/design-system/control-buttons/icon-button.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
Labels: browser, staking, e2e, ui-toolkit

#945 feat: move the register screen after the mnemonic screen for create and restore flow
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletSetupNamePasswordStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupStepLayout.tsx
  packages/core/src/ui/components/WalletSetup/wallet-steps.ts
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicVerificationStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupStepLayoutRevamp.tsx
  packages/core/src/ui/lib/translations/en.json
Labels: browser

#960 chore(extension): update lace version v1.9.0
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
Labels: browser

#952 feat(ui) - add tooltip for RadioButtonGroup UI component [LW-9983]
  packages/ui/src/design-system/radio-button/radio-button.component.tsx
  packages/ui/src/design-system/radio-button/radio-button.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.tsx
Labels: ui-toolkit

#962 chore: update ts-jest
  .github/workflows/build-dev-preview.yml
  .github/workflows/ci.yml
  .github/workflows/post-integration.yml
  apps/browser-extension-wallet/test/jest.config.js
  package.json
  packages/cardano/package.json
  packages/cardano/test/jest.config.js
  packages/common/package.json
  packages/common/test/jest.config.js
  packages/core/package.json
  packages/core/test/jest.config.js
  packages/staking/package.json
  packages/ui/package.json
  yarn.lock
Labels: browser, staking, ui-toolkit, ci

#946 [LW-9871] Posthog events for multi wallet
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/AddNewWalletLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/utils/__tests__/get-wallet-count-string.test.ts
  apps/browser-extension-wallet/src/utils/get-wallet-count-string.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/components/Home.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/CreateWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/KeepWalletSecure.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/NewRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/HardwareWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/steps/Connect.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/steps/NameWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/steps/SelectAccount.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/RestoreWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/KeepWalletSecure.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/RestoreRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/SelectRecoveryPhraseLength.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsRemoveWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/common/src/analytics/types.ts
Labels: browser

#956 feat: revamp forgot password flow
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/components/SideMenu/SideMenu.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletSetupNamePasswordStep.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicVerificationStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupStepLayoutRevamp.tsx
Labels: browser

#968 test(extension): tawalletnofunds received some ada by mistake
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#966 feat: update save recovery phrase onboarding text
  apps/browser-extension-wallet/src/lib/translations/en.json
Labels: browser

#969 test(extension): make LW-8499 more stable
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/types/staking.ts
Labels: e2e

#971 feat: handle back from next step in wallet setup step
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupMnemonicStepRevamp/WalletSetupMnemonicStepRevamp.tsx
Labels: browser

#963 fix(ui): RadioButton Tooltip and UI discrepancy [LW-9828, LW-10070]
  packages/icons/raw/document-download.svg
  packages/ui/src/design-system/radio-button/radio-button.component.tsx
  packages/ui/src/design-system/radio-button/radio-button.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.tsx
  packages/ui/src/design-system/tooltip/tooltip-content.component.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#950 chore: LW-9969 make single device connection during Trezor onboarding
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/helpers.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
Labels: browser

#975 Github Actions workflow improvements
  .github/shared/build/action.yml
  .github/workflows/build-dev-preview.yml
  .github/workflows/ci.yml
  .github/workflows/core-chromatic.yml
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/git-checks.yml
  .github/workflows/labeler.yml
  .github/workflows/packages-staking.yml
  .github/workflows/post-integration.yml
  .github/workflows/release.yml
  .github/workflows/safari-ci.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/staking-chromatic.yml
  .github/workflows/ui-toolkit-chromatic.yml
  apps/browser-extension-wallet/test/jest.config.js
  packages/cardano/test/jest.config.js
  packages/common/src/.eslintrc.js
  packages/common/test/jest.config.js
  packages/core/src/.eslintrc.js
  packages/core/test/jest.config.js
  test/createJestConfig.js
Labels: browser, staking, ci

#972 test(extension): refactor token search result pom
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/coinConfigureAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionAssetSelectionAssert.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSearchResult.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSelectionPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/fixture/localStorageBuilder.ts
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#979 fix: update hardware wallet flow to better match revamped onboarding
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupConnectHardwareWalletStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupSelectAccountsStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/index.ts
Labels: browser

#980 feat(extension): add sort by posthog events (preferences card and list view header)
  packages/common/src/analytics/types.ts
  packages/staking/src/features/BrowsePools/BrowsePoolsPreferencesCard/BrowsePoolsPreferencesCard.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolsListHeader.tsx
  packages/staking/src/features/BrowsePools/hooks/useBrowsePoolsView.tsx
Labels: staking

#970 chore: LW-9786 enable single pool delegation in multi-delegation view
  apps/browser-extension-wallet/src/views/browser-view/features/staking/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationFooter.tsx
Labels: browser, staking
