Repository input-output-hk/lace, pull requests merged in 2024-02, with the labels that each got.

#873 chore: update dev mainnet url
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.developerpreview
Labels: browser

#874 test(extension): e2e - set specific chrome/chromedriver version
  .github/workflows/e2e-tests-linux.yml
Labels: ci

#876 chore: implement new cluster
  apps/browser-extension-wallet/.env.defaults
Labels: browser

#879 test(extension): updates for tests related to LW-9531
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolListItem.ts
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#884 chore: update dev-{preview,preprod} urls
  apps/browser-extension-wallet/.env.developerpreview
Labels: browser

#881 feat(ui): handle forward refs for typography components
  packages/ui/src/design-system/typography/create-text.util.tsx
Labels: ui-toolkit

#885 test(extension): fix code issues within test framework
  packages/e2e-tests/src/assert/settings/SettingsPageAssert.ts
  packages/e2e-tests/src/assert/transactionDetailsAssert.ts
  packages/e2e-tests/src/elements/settings/SettingsPage.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#886 chore: bump version
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
Labels: browser

#882 test(extension): refactor AddressInput POM class
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/commonAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/elements/AddressInput.ts
  packages/e2e-tests/src/elements/newTransaction/transactionBundle.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandlePopup.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtended.feature
  packages/e2e-tests/src/features/SendTransactionBundlesExtendedMainnet.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#888 fix(staking): staking activity Tooltip crashes for pools without name [LW-9781]
  packages/staking/src/features/activity/PastEpochsRewards/RewardsChartTooltip.tsx
Labels: staking

#887 test(extension): refactor Token Selection page POM
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/coinConfigureAssert.ts
  packages/e2e-tests/src/assert/nftAssert.ts
  packages/e2e-tests/src/assert/nftCreateFolderAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionAssetSelectionAssert.ts
  packages/e2e-tests/src/elements/newTransaction/tokenSelectionPage.ts
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/sendTransactionMultipleSelectionSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: e2e

#893 text(extension): maintenance 15 Feb 2024
  packages/e2e-tests/src/assert/multidelegation/PortfolioBarAssert.ts
  packages/e2e-tests/src/assert/settings/CollateralDrawerAssert.ts
  packages/e2e-tests/src/fixture/browserStorageInitializer.ts
Labels: e2e

#864 feat(extension): LW-9669 show collateral on dapp dialogue
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmTransaction.tsx
  apps/browser-extension-wallet/src/hooks/useComputeTxCollateral.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/cardano/src/wallet/types.ts
  packages/core/src/ui/components/ActivityDetail/Collateral.tsx
  packages/core/src/ui/components/ActivityDetail/TransactionDetails.tsx
  packages/core/src/ui/components/ActivityDetail/TransactionFee.module.scss
  packages/core/src/ui/components/ActivityDetail/TransactionFee.tsx
  packages/core/src/ui/components/ActivityDetail/index.ts
  packages/core/src/ui/components/DappTransaction/DappTransaction.tsx
  packages/e2e-tests/src/elements/dappConnector/confirmTransactionPage.ts
  packages/e2e-tests/src/elements/transactionDetails.ts
  packages/ui/src/design-system/table/table-header.component.tsx
  packages/ui/src/design-system/table/table-row.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary-amount.component.tsx
  packages/ui/src/design-system/transaction-summary/transaction-summary.css.ts
  packages/ui/src/design-system/transaction-summary/transaction-summary.stories.tsx
Labels: browser, e2e, ui-toolkit

#897 test(extension): apply workaround for smoke tests
  .github/workflows/smoke-tests.yml
Labels: ci

#900 test(extension): remove unnecessary hook
  packages/e2e-tests/wdio.conf.base.ts
Labels: e2e

#898 chore(staking): mock @lace/cardano for storybook in Staking
  packages/staking/.storybook/__mocks__/cardano.ts
  packages/staking/.storybook/main.ts
  packages/staking/src/features/DelegationCard/DelegationCard.stories.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.stories.tsx
Labels: staking

#895 feat(extension): add missing tooltips for new stake pool table headers
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  packages/staking/src/features/BrowsePools/BrowsePools.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: browser, staking

#894 fix(extension): fix focus and click on label for radio button
  packages/core/src/ui/components/WalletSetup/WalletSetupRegisterStep.tsx
  packages/ui/src/design-system/radio-button/radio-button.component.tsx
  packages/ui/src/design-system/radio-button/radio-button.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#839 LW-9459: save user preferences for staking feature
  apps/browser-extension-wallet/src/features/delegation/components/MultiDelegationStakingPopup.tsx
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/utils/constants.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/MultiDelegationStaking.tsx
  packages/staking/src/features/BrowsePools/BrowsePools.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolsList.tsx
  packages/staking/src/features/BrowsePools/StakePoolsList/StakePoolsListRow.tsx
  packages/staking/src/features/BrowsePools/hooks.tsx
  packages/staking/src/features/activity/PastEpochsRewards/hooks/useRewardsByEpoch.ts
  packages/staking/src/features/outside-handles-provider/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/commands.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/processExpandedViewCases.ts
  packages/staking/src/index.ts
Labels: browser, staking

#903 chore: add staking chromatic
  .github/workflows/staking-chromatic.yml
Labels: ci

#867 feat(staking): stake pools add sort & filter LW-9250
  packages/icons/raw/sort-direction-asc.component.svg
  packages/icons/raw/sort-direction-desc.component.svg
  packages/staking/.storybook/preview.tsx
  packages/staking/package.json
  packages/staking/src/features/BrowsePools/SortAndFilter/SortAndFilter.css.ts
  packages/staking/src/features/BrowsePools/SortAndFilter/SortAndFilter.stories.tsx
  packages/staking/src/features/BrowsePools/SortAndFilter/SortAndFilter.tsx
  packages/staking/src/features/BrowsePools/SortAndFilter/index.ts
  packages/staking/src/features/BrowsePools/SortAndFilter/types.ts
  packages/staking/src/features/BrowsePools/index.ts
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/theme/colors.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/radio-button/index.tsx
  packages/ui/src/design-system/radio-button/radio-button.component.tsx
  packages/ui/src/design-system/radio-button/radio-button.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.tsx
  packages/ui/src/design-system/text-box/text-box.component.tsx
  packages/ui/src/design-system/text-box/text-box.css.ts
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-item.component.tsx
  packages/ui/src/design-system/toggle-button-group/toggle-button-group-item.css.ts
  packages/ui/src/design-tokens/sx.css.ts
Labels: staking, ui-toolkit

#907 test(extension): enable test for LW-9634
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
Labels: e2e

#905 fix(extension): fix trezor integration and DApp tx signing with Trezor
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/wallet-api-ui.ts
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
Labels: browser

#869 [LW-9406] Add co signers
  packages/cardano/src/wallet/index.ts
  packages/core/package.json
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSignerInput.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.module.scss
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.stories.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/AddCoSigners.tsx
  packages/core/src/ui/components/SharedWallet/AddCoSigners/hooks.ts
  packages/core/src/ui/components/SharedWallet/AddCoSigners/index.ts
  packages/core/src/ui/components/SharedWallet/AddCoSigners/type.ts
  packages/icons/raw/book.component.svg
  packages/icons/raw/loading.component.svg
  packages/ui/package.json
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-button.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-close-button.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-icon.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-icon.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-input.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-input.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-open-button.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-picked-suggestion.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-picked-suggestion.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-suggestion.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-suggestion.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box-types.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box.component.tsx
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box.css.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box.hook.ts
  packages/ui/src/design-system/auto-suggest-box/auto-suggest-box.stories.tsx
  packages/ui/src/design-system/auto-suggest-box/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/loader/loader.component.tsx
  packages/ui/src/design-system/scroll-area/scroll-area.component.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#913 fix(extension): reload app on ledger disconnect during onboarding
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupWalletNameStep.tsx
Labels: browser

#914 fix(extension): fix subtitle for staking success drawer
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/TransactionSuccess.tsx
Labels: browser

#915 feat(extension): add missing ros tooltip for stake pools table
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolsTable/StakePoolsTable.tsx
  packages/staking/src/features/BrowsePools/BrowsePools.tsx
  packages/staking/src/features/DelegationCard/DelegationTooltip.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
Labels: browser, staking

#908 test(extension): enhance reporting for pending tests
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolPopup.feature
  packages/e2e-tests/src/features/NFTsFoldersExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.feature
  packages/e2e-tests/src/features/OnboardingCreateWallet.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/features/StakingPageExtended.feature
  packages/e2e-tests/src/features/e2e/SendTransactionBundlesE2E.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/hooks/scenarioTagRunner.ts
  packages/e2e-tests/wdio.conf.base.ts
Labels: e2e, ci

#892 Lw 9170 multi wallet integration
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/hooks/__tests__/useWalletManager.test.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/lib/wallet-api-ui.ts
  apps/browser-extension-wallet/src/routes/PopupView.tsx
  apps/browser-extension-wallet/src/stores/slices/ui-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-info-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/types/ui.ts
  apps/browser-extension-wallet/src/utils/__tests__/get-token-list.test.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/get-ui-wallet-type.ts
  apps/browser-extension-wallet/src/utils/get-wallet-subtitle.ts
  apps/browser-extension-wallet/src/utils/mocks/store.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/CreateWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/NewRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/steps/NameWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/RestoreWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/RestoreRecoveryPhrase.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/settings/components/SettingsRemoveWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/helpers.ts
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
  apps/browser-extension-wallet/webpack.sw.prod.js
  packages/cardano/package.json
  packages/cardano/src/wallet/index.ts
  packages/cardano/src/wallet/lib/__tests__/get-inputs-value.test.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/test/mocks/NetworkInfoProviderStub.ts
  packages/cardano/src/wallet/types.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupSelectAccountsStep.tsx
  packages/staking/package.json
  packages/ui/src/design-system/control-buttons/control-button.css.ts
  packages/ui/src/design-system/control-buttons/control-button.data.ts
  packages/ui/src/design-system/control-buttons/extra-small-button.component.tsx
  packages/ui/src/design-system/control-buttons/index.ts
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.stories.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.stories.tsx
  packages/ui/src/design-system/profile-dropdown/index.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
  yarn.lock
Labels: browser, staking, ui-toolkit, dependencies

#910 E2e tests parallel run refactor
  packages/e2e-tests/src/features/AdaHandleExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/features/NFTsExtended.feature
  packages/e2e-tests/src/features/NFTsFoldersExtended.part1.feature
  packages/e2e-tests/src/features/NFTsFoldersExtended.part2.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.part1.feature
  packages/e2e-tests/src/features/NFTsFoldersPopup.part2.feature
  packages/e2e-tests/src/features/NFTsPopup.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.part1.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.part2.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.part3.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.part1.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.part2.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.part3.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/e2e/SendNftExtendedE2E.feature
  packages/e2e-tests/src/features/e2e/SendNftExtendedHdWalletE2E.feature
  packages/e2e-tests/src/features/e2e/SendNftPopupE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionDappE2E.feature
  packages/e2e-tests/src/features/e2e/SendTransactionSimplePopupE2E.feature
  packages/e2e-tests/src/hooks/beforeTagHooks.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/steps/nftsCommonSteps.ts
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
  packages/e2e-tests/src/support/walletConfiguration.ts.gpg
Labels: e2e

#912 LW-9170 - Add UI fixes to multiaccount
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.module.scss
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/WalletAccounts.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-account-item.component.tsx
  packages/ui/src/design-system/profile-dropdown/accounts/profile-dropdown-accounts-list.component.tsx
Labels: browser, ui-toolkit

#924 test(extension): unblocking AdaHandleSend-extended suite
  packages/e2e-tests/src/features/AdaHandleSendExtended.feature
  packages/e2e-tests/src/features/AdaHandleSendPopup.feature
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/steps/AddressBookSteps.ts
  packages/e2e-tests/src/steps/nftsExtendedSteps.ts
Labels: e2e

#925 chore: update cardano-sdk packages
  apps/browser-extension-wallet/package.json
  packages/cardano/package.json
  packages/staking/.storybook/main.ts
  packages/staking/package.json
  yarn.lock
Labels: browser, staking

#634 feat(staking): [LW-7508] add un-delegation functionality
  packages/staking/src/features/Drawer/Drawer.tsx
  packages/staking/src/features/Drawer/TransactionSuccess.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/StakePoolConfirmationBody.module.scss
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationBody/StakePoolConfirmationBody.tsx
  packages/staking/src/features/Drawer/confirmation/StakePoolConfirmationContent.tsx
  packages/staking/src/features/Drawer/preferences/NoPoolsSelected.css.ts
  packages/staking/src/features/Drawer/preferences/NoPoolsSelected.tsx
  packages/staking/src/features/Drawer/preferences/StepPreferencesContent.tsx
  packages/staking/src/features/Drawer/preferences/sad-smiley.svg
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/stateMachine/atomicStateMutators.ts
  packages/staking/src/features/theme/colors.ts
Labels: staking

#902 feat: move pin extension notification to main screen
  apps/browser-extension-wallet/src/types/local-storage.ts
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.module.scss
  apps/browser-extension-wallet/src/views/browser-view/components/Layout/Layout.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/dapp/components/DappBetaModal/DappBetaModal.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/PinExtension.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
Labels: browser

#909 feat: improve hardware wallet setup on onboarding flow
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/events.ts
  apps/browser-extension-wallet/src/providers/AnalyticsProvider/analyticsTracker/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  packages/core/src/index.ts
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupSelectAccountsStepRevamp.module.scss
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupSelectAccountsStepRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/WalletSetupStepLayoutRevamp.tsx
  packages/core/src/ui/components/WalletSetupRevamp/index.ts
Labels: browser

#929 [LW-9902] delete variable that does not exist with isDropdownMenuOpen
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
Labels: browser
