Repository input-output-hk/lace, pull requests merged in 2024-01, with the labels that each got.

#808 test(extension): new e2e LW-9476
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#794 fix(extension): [LW-9075] listen to HID disconnect event
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/SendTransactionDrawer/Footer.tsx
Labels: browser

#810 test(extension): new e2e LW-9478
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#812 Add test automation - Staking - Manage staking add button disabled when staking to max pools
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#811 unblock tests blocked by LW-7925
  packages/e2e-tests/src/assert/addressBook/AddNewAddressDrawerAssert.ts
  packages/e2e-tests/src/assert/addressBook/AddressBookPageAssert.ts
  packages/e2e-tests/src/features/AddressBookExtended.feature
  packages/e2e-tests/src/features/AddressBookPopup.feature
  packages/e2e-tests/src/features/SendTransactionSimpleExtended.feature
  packages/e2e-tests/src/features/SendTransactionSimplePopup.feature
  packages/e2e-tests/src/utils/addressBookUtils.ts
Labels: e2e

#813 Add test automation - Staking - Manage staking add button works as expected
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#800 chore(staking): migrate from ladle to storybook [LW-9454]
  packages/staking/.eslintrc.cjs
  packages/staking/.ladle/components.tsx
  packages/staking/.ladle/config.mjs
  packages/staking/.ladle/vite.config.ts
  packages/staking/.storybook/StakingStorybookProvider.tsx
  packages/staking/.storybook/main.ts
  packages/staking/.storybook/preview-body.html
  packages/staking/.storybook/preview-head.html
  packages/staking/.storybook/preview.tsx
  packages/staking/package.json
  packages/staking/src/features/DelegationCard/DelegationCard.stories.tsx
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.stories.tsx
  packages/staking/src/features/Drawer/preferences/DelegationRatioSlider/DelegationRatioSlider.tsx
  packages/staking/src/features/Drawer/preferences/PoolDetailsCard/PoolDetailsCard.stories.tsx
  packages/staking/tsconfig.eslint.json
  yarn.lock
Labels: staking

#805 feat(staking): add feature flag for new grid view
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.example
  packages/staking/src/featureFlags.ts
  packages/staking/src/features/staking/Navigation.tsx
Labels: browser, staking

#807 [LW-9482] Fix/cip30 sign data
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  apps/browser-extension-wallet/src/features/dapp/components/SignData.tsx
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/e2e-tests/src/assert/consoleAssert.ts
  packages/e2e-tests/src/elements/dappConnector/testDAppPage.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/hooks/scenarioTagRunner.ts
  packages/e2e-tests/src/steps/commonSteps.ts
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
  packages/e2e-tests/src/utils/consoleManager.ts
  packages/e2e-tests/src/utils/networkManager.ts
Labels: browser, e2e

#781 [LW-9157] Cancel adding new wallet
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/MultiWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/components/KeepWalletSecure.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/CreateWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/KeepWalletSecure.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/create-wallet/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/HardwareWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/hardware-wallet/types.ts
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/RestoreWallet.test.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/context.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/KeepWalletSecure.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/steps/Setup.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/multi-wallet/restore-wallet/types.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupConfirmationDialogProvider.module.scss
  packages/core/src/ui/components/WalletSetup/WalletSetupConfirmationDialogProvider.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupNamePasswordStep/WalletSetupNamePasswordStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupRecoveryPhraseLengthStep.tsx
  packages/core/src/ui/components/WalletSetup/WalletSetupWalletNameStep.tsx
  packages/core/src/ui/components/WalletSetup/index.ts
  packages/ui/src/design-system/index.ts
Labels: browser, ui-toolkit

#817 chore: bump version
  apps/browser-extension-wallet/manifest.json
  apps/browser-extension-wallet/package.json
Labels: browser

#822 test(extension): improve validation for sign data confirm tx page
  apps/browser-extension-wallet/src/features/dapp/components/ConfirmData.tsx
  packages/e2e-tests/src/assert/dAppConnectorAssert.ts
  packages/e2e-tests/src/elements/dappConnector/confirmTransactionPage.ts
  packages/e2e-tests/src/features/DAppConnector.feature
  packages/e2e-tests/src/steps/dAppConnectorSteps.ts
Labels: browser, e2e

#824 test(extension): fix msedge tests
  packages/e2e-tests/src/utils/browserStorage.ts
Labels: e2e

#820 Add test automation - Staking - Manage staking remove button works as expected
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#821 test(extension): refactor TransactionNewPage class
  apps/browser-extension-wallet/src/views/browser-view/features/send-transaction/components/Form/Form.tsx
  packages/core/src/ui/components/Send/SendTransactionCost/SendTransactionCost.tsx
  packages/e2e-tests/src/actor/webTester.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/elements/newTransaction/transactionNewPage.ts
  packages/e2e-tests/src/elements/transactionsPage.ts
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/pageobject/nftsPageObject.ts
  packages/e2e-tests/src/pageobject/simpleTxSideDrawerPageObject.ts
  packages/e2e-tests/src/steps/onboardingSteps.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/steps/sendTransactionMetadataSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
  packages/e2e-tests/src/utils/textUtils.ts
Labels: browser, e2e

#828 test(extension): minor test code cleanup
  packages/e2e-tests/src/steps/transactionsSteps.ts
  packages/e2e-tests/src/steps/trezorConnectSteps.ts
  packages/e2e-tests/src/utils/browserStorage.ts
  packages/e2e-tests/src/utils/localStorageManager.ts
  packages/e2e-tests/src/utils/networkManager.ts
  packages/e2e-tests/src/utils/utils.ts
  packages/e2e-tests/wdio.conf.base.ts
Labels: e2e

#831 test(extension): refactor AssetInput class
  .github/workflows/e2e-tests-linux.yml
  .github/workflows/e2e-tests-win.yml
  .github/workflows/smoke-tests.yml
  apps/browser-extension-wallet/src/lib/translations/en.json
  packages/e2e-tests/src/assert/assetInputAssert.ts
  packages/e2e-tests/src/assert/drawerSendExtendedAssert.ts
  packages/e2e-tests/src/assert/transaction/transactionBundleAssert.ts
  packages/e2e-tests/src/elements/newTransaction/assetInput.ts
  packages/e2e-tests/src/pageobject/newTransactionExtendedPageObject.ts
  packages/e2e-tests/src/steps/sendTransactionBundleSteps.ts
  packages/e2e-tests/src/steps/sendTransactionSimpleSteps.ts
Labels: browser, e2e, ci

#827 Add test automation - Staking - Manage staking 'Confirm new portfolio' button works correctly
  packages/e2e-tests/README.md
  packages/e2e-tests/src/assert/multidelegation/ManageStakingDrawerAssert.ts
  packages/e2e-tests/src/elements/multidelegation/ManageStakingDrawer.ts
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsExtended.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#815 feat(core): [LW-9405] create SetupSharedWallet component
  .github/workflows/core-chromatic.yml
  packages/core/.babelrc.json
  packages/core/.storybook/main.js
  packages/core/.storybook/preview-head.html
  packages/core/.storybook/preview.js
  packages/core/.storybook/theme.scss
  packages/core/package.json
  packages/core/src/ui/components/SharedWallet/SetupSharedWallet/SetupSharedWallet.stories.ts
  packages/core/src/ui/components/SharedWallet/SetupSharedWallet/SetupSharedWallet.tsx
  packages/core/src/ui/components/SharedWallet/SetupSharedWallet/index.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/staking/package.json
  packages/ui/src/design-system/text-box/text-box.component.tsx
  packages/ui/src/design-system/text-box/text-box.css.ts
  yarn.lock
Labels: staking, ui-toolkit, ci

#825 [LW 9404] Shared wallet info
  packages/core/src/ui/components/SharedWallet/ImportantInfo/ImportantInfo.css.ts
  packages/core/src/ui/components/SharedWallet/ImportantInfo/ImportantInfo.stories.tsx
  packages/core/src/ui/components/SharedWallet/ImportantInfo/ImportantInfo.tsx
  packages/core/src/ui/components/SharedWallet/ImportantInfo/index.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/ui/package.json
  packages/ui/src/assets/icons/check-box.component.svg
  packages/ui/src/design-system/checkbox/checkbox.component.tsx
  packages/ui/src/design-system/checkbox/checkbox.css.ts
  packages/ui/src/design-system/checkbox/checkbox.stories.css.ts
  packages/ui/src/design-system/checkbox/checkbox.stories.tsx
  packages/ui/src/design-system/checkbox/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#823 feat(core): [LW-9408] create All Set component
  packages/core/src/ui/components/SharedWallet/AllSet/AllSet.stories.ts
  packages/core/src/ui/components/SharedWallet/AllSet/AllSet.tsx
  packages/core/src/ui/components/SharedWallet/AllSet/index.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/ui/src/assets/icons/book-gradient.component.svg
  packages/ui/src/assets/icons/chip-gradient.component.svg
  packages/ui/src/assets/icons/code-gradient.component.svg
  packages/ui/src/assets/icons/document-text-gradient.component.svg
  packages/ui/src/assets/icons/eye-gradient.component.svg
  packages/ui/src/assets/icons/fingerprint-gradient.component.svg
  packages/ui/src/assets/icons/fire-gradient.component.svg
  packages/ui/src/assets/icons/flag-gradient.component.svg
  packages/ui/src/assets/icons/globe-alt-gradient.component.svg
  packages/ui/src/assets/icons/info-gradient.component.svg
  packages/ui/src/assets/icons/light-bulb-gradient.component.svg
  packages/ui/src/assets/icons/newspaper-gradient.component.svg
  packages/ui/src/assets/icons/plus-circle-gradient.component.svg
  packages/ui/src/assets/icons/question-mark-circle-gradient.component.svg
  packages/ui/src/assets/icons/receipt-tax-gradient.component.svg
  packages/ui/src/assets/icons/shield-gradient.component.svg
  packages/ui/src/assets/icons/video-gradient.component.svg
  packages/ui/src/design-system/educational-card/educational-card-item.component.tsx
  packages/ui/src/design-system/educational-card/educational-card-item.css.ts
  packages/ui/src/design-system/educational-card/educational-card-root.component.tsx
  packages/ui/src/design-system/educational-card/educational-card-root.css.ts
  packages/ui/src/design-system/educational-card/educational-card.stories.tsx
  packages/ui/src/design-system/educational-card/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#832 feat(extension): lw-9532 extend stake pool details drawer with more metadata
  apps/browser-extension-wallet/src/features/delegation/stores/createDelegationStore.ts
  apps/browser-extension-wallet/src/features/delegation/types/index.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.module.scss
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  packages/cardano/src/ui/components/StakePoolMetricsBrowser/StakePoolMetricsBrowser.module.scss
  packages/cardano/src/ui/components/StakePoolMetricsBrowser/StakePoolMetricsBrowser.tsx
  packages/cardano/src/ui/components/StakePoolMetricsBrowser/__tests__/StakePoolMetricsBrowser.test.tsx
  packages/common/src/ui/components/ProgressBar/ProgressBar.module.scss
  packages/staking/src/features/Drawer/StakePoolDetail.module.scss
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/i18n/types.ts
  packages/staking/src/features/store/delegationPortfolioStore/mapStakePoolToDisplayData.ts
  packages/staking/src/features/store/delegationPortfolioStore/types.ts
Labels: browser, staking

#842 chore: remove lace-ui and lace-staking team from CODEOWNERS
  .github/CODEOWNERS
Labels: ci

#809 feat(staking): add new Stake Pool Card [LW-9267]
  packages/common/src/ui/lib/format-number.ts
  packages/staking/.storybook/main.ts
  packages/staking/src/assets/icons/ada.svg
  packages/staking/src/assets/icons/chart-pie.svg
  packages/staking/src/assets/icons/cube.svg
  packages/staking/src/features/BrowsePools/StakePoolCard/PoolMetric/PoolMetric.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/PoolMetric/PoolMetric.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/PoolMetric/index.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/index.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.stories.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/index.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/types.ts
  packages/staking/src/features/theme/colors.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: staking, ui-toolkit

#814 feat(extension): add shared wallet LW-9403 & LW-9413
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/src/components/DropdownMenu/DropdownMenu.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.module.scss
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/DropdownMenuOverlay.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/AddSharedWalletLink.tsx
  apps/browser-extension-wallet/src/components/MainMenu/DropdownMenuOverlay/components/UserInfo.tsx
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/lib/scripts/types/background-service.ts
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/routes/wallet-paths.ts
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/SharedWallet.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/index.ts
  apps/browser-extension-wallet/src/views/browser-view/features/shared-wallet/ui-flow/get-started/SharedWalletGetStarted.tsx
  apps/browser-extension-wallet/src/views/browser-view/routes/index.tsx
  packages/common/src/ui/components/Button/styles.module.scss
  packages/core/.storybook/main.js
  packages/core/.storybook/preview.js
  packages/core/src/index.ts
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedDialog.component.tsx
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedDialog.module.scss
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedDialog.stories.tsx
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedOption.component.tsx
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedOption.module.scss
  packages/core/src/ui/components/SharedWallet/GetStarted/SharedWalletGetStartedOption.stories.tsx
  packages/core/src/ui/components/SharedWallet/GetStarted/index.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/core/src/ui/components/WalletSetup/WalletSetupFlowProvider.tsx
  packages/icons/raw/lace-logo.component.svg
  packages/icons/raw/upload.component.svg
  packages/icons/raw/user-group-gradient.component.svg
  packages/icons/src/LaceLogoComponent.tsx
  packages/icons/src/UploadComponent.tsx
  packages/icons/src/UserGroupGradientComponent.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-icon.css.ts
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.component.tsx
  packages/ui/src/design-system/profile-dropdown/profile-dropdown-wallet-option.stories.tsx
Labels: browser, ui-toolkit

#841 test(extension): update tests affected by LW-9532
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  packages/e2e-tests/src/assert/multidelegation/StakePoolDetailsAssert.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolDetailsDrawer.ts
  packages/e2e-tests/src/support/patterns.ts
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
Labels: browser, staking, e2e

#843 test(extension): add e2e debug running
  packages/e2e-tests/README.md
  packages/e2e-tests/src/images/readme/debug.png
  packages/e2e-tests/src/images/readme/debug1.png
  packages/e2e-tests/src/images/readme/debug2.png
  packages/e2e-tests/src/images/readme/debug3.png
Labels: e2e

#829 feat(core): [LW-9409] create Find Your Shared Wallet component
  packages/core/.storybook/preview.js
  packages/core/src/ui/components/SharedWallet/FindYourSharedWallet/FindYourSharedWallet.stories.ts
  packages/core/src/ui/components/SharedWallet/FindYourSharedWallet/FindYourSharedWallet.tsx
  packages/core/src/ui/components/SharedWallet/FindYourSharedWallet/index.ts
  packages/core/src/ui/components/SharedWallet/WalletSyncing/WalletSyncing.stories.ts
  packages/core/src/ui/components/SharedWallet/WalletSyncing/WalletSyncing.tsx
  packages/core/src/ui/components/SharedWallet/WalletSyncing/index.ts
  packages/core/src/ui/components/SharedWallet/index.ts
  packages/icons/raw/check-file-upload.component.svg
  packages/icons/raw/loader-dark-gradient.component.svg
  packages/icons/raw/loader-light-gradient.component.svg
  packages/icons/raw/refresh.component.svg
  packages/icons/raw/upload-gradient.component.svg
  packages/ui/src/design-system/action-card/action-card.component.tsx
  packages/ui/src/design-system/action-card/action-card.css.ts
  packages/ui/src/design-system/action-card/action-card.stories.tsx
  packages/ui/src/design-system/action-card/index.ts
  packages/ui/src/design-system/file-upload/file-upload.component.tsx
  packages/ui/src/design-system/file-upload/file-upload.css.ts
  packages/ui/src/design-system/file-upload/file-upload.stories.tsx
  packages/ui/src/design-system/file-upload/index.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/loader/index.ts
  packages/ui/src/design-system/loader/loader.component.tsx
  packages/ui/src/design-system/loader/loader.css.ts
  packages/ui/src/design-system/loader/loader.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
Labels: ui-toolkit

#838 Feat/implement price fetch proxy v2
  apps/browser-extension-wallet/src/lib/scripts/background/services/utilityServices.ts
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingInfo/StakingInfo.tsx
  packages/staking/src/features/i18n/translations/en.ts
  packages/staking/src/features/overview/StakingInfoCard/StakingInfoCard.tsx
  packages/staking/src/features/overview/StakingInfoCard/StatsTooltip.tsx
Labels: browser, staking

#848 chore(extension): add test for useFetchCoinPrice
  apps/browser-extension-wallet/src/hooks/__tests__/useFetchCoinPrice.test.ts
Labels: browser

#830 [LW-9407] Quorum step storybook setup set
  packages/core/src/ui/components/SharedWallet/Quorum/QuorumOption.component.tsx
  packages/core/src/ui/components/SharedWallet/Quorum/QuorumOption.module.scss
  packages/core/src/ui/components/SharedWallet/Quorum/QuorumOption.stories.tsx
  packages/core/src/ui/components/SharedWallet/Quorum/index.ts
  packages/icons/raw/check.component.svg
  packages/icons/raw/document-download.svg
  packages/ui/package.json
  packages/ui/src/design-system/buttons/secondary-button.css.ts
  packages/ui/src/design-system/index.ts
  packages/ui/src/design-system/radio-button/index.tsx
  packages/ui/src/design-system/radio-button/radio-button.component.tsx
  packages/ui/src/design-system/radio-button/radio-button.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.css.ts
  packages/ui/src/design-system/radio-button/radio-button.stories.tsx
  packages/ui/src/design-system/select/index.ts
  packages/ui/src/design-system/select/select-item.component.tsx
  packages/ui/src/design-system/select/select.component.tsx
  packages/ui/src/design-system/select/select.css.ts
  packages/ui/src/design-system/select/select.stories.css.ts
  packages/ui/src/design-system/select/select.stories.tsx
  packages/ui/src/design-tokens/colors.data.ts
  packages/ui/src/design-tokens/sx.css.ts
  packages/ui/src/design-tokens/theme/dark-theme.css.ts
  packages/ui/src/design-tokens/theme/light-theme.css.ts
  yarn.lock
Labels: ui-toolkit

#851 fix(staking): currency tooltip duplication removed
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakingInfo/StakingInfo.tsx
  packages/staking/src/features/overview/StakingInfoCard/StakingInfoCard.tsx
Labels: browser, staking

#852 test(extension): maintenance 23 jan
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
Labels: e2e

#853 chore(staking): fix LW-9618 storybook
  packages/staking/.storybook/main.ts
  packages/staking/package.json
  yarn.lock
Labels: staking

#819 feat(extension): lw-8600
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/VotingProceduresContainer.tsx
  apps/browser-extension-wallet/src/features/dapp/components/confirm-transaction/__tests__/VotingProceduresContainer.test.tsx
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/stores/slices/__tests__/transaction-detail-slice.test.ts
  apps/browser-extension-wallet/src/stores/slices/activity-detail-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/stores/types.ts
  apps/browser-extension-wallet/src/types/activity-detail.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/mocks/certificates.ts
  apps/browser-extension-wallet/src/utils/mocks/governance.ts
  apps/browser-extension-wallet/src/utils/mocks/raw-transactions.ts
  apps/browser-extension-wallet/src/utils/tx-inspection.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetailsProxy.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/filter-outputs-by-tx-direction.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/reward-history-transformer.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/types.ts
  packages/core/src/ui/assets/icons/ticket-icon.component.svg
  packages/core/src/ui/components/Activity/AssetActivityItem.tsx
  packages/core/src/ui/components/Activity/__tests__/AssetActivityItem.test.tsx
  packages/core/src/ui/components/Activity/__tests__/AssetActivityList.test.tsx
  packages/core/src/ui/components/Activity/__tests__/GroupedAssetActivityList.test.tsx
  packages/core/src/ui/components/ActivityDetail/ActivityTypeIcon.module.scss
  packages/core/src/ui/components/ActivityDetail/ActivityTypeIcon.tsx
  packages/core/src/ui/components/ActivityDetail/TransactionDetails.tsx
  packages/core/src/ui/components/ActivityDetail/TransactionInputOutput.module.scss
  packages/core/src/ui/components/ActivityDetail/TxDetailsList.tsx
  packages/core/src/ui/components/ActivityDetail/components/DetailRow.module.scss
  packages/core/src/ui/components/ActivityDetail/components/DetailRow.tsx
  packages/core/src/ui/components/ActivityDetail/components/DetailRows.tsx
  packages/core/src/ui/components/ActivityDetail/components/index.ts
  packages/core/src/ui/components/ActivityDetail/index.ts
  packages/core/src/ui/components/ActivityDetail/types.ts
  packages/core/src/ui/lib/translations/en.json
  packages/staking/src/features/overview/helpers/hasPendingDelegationTransaction.ts
Labels: browser, staking

#849 feat(staking): add skeleton to grid card
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.stories.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCard.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCardSkeleton.stories.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/StakePoolCardSkeleton.tsx
  packages/staking/src/features/BrowsePools/StakePoolCard/index.ts
Labels: staking

#856 fix(staking): change stake pool progress bar color
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.css.ts
  packages/staking/src/features/BrowsePools/StakePoolCard/SkatePoolCardProgressBar/StakePoolCardProgressBar.tsx
Labels: staking

#857 test(extension): update tests related to LW-9270
  packages/e2e-tests/src/assert/multidelegation/MultidelegationPageAssert.ts
  packages/e2e-tests/src/data/expectedStakePoolsData.ts
  packages/e2e-tests/src/elements/multidelegation/MultidelegationPage.ts
  packages/e2e-tests/src/elements/multidelegation/StakePoolListItem.ts
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsMultiplePoolsExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
  packages/e2e-tests/src/support/patterns.ts
  packages/e2e-tests/src/types/staking.ts
  packages/e2e-tests/src/utils/multiDelegationUtils.ts
  packages/e2e-tests/src/utils/testContext.ts
Labels: e2e

#761 [LW-9213] update cardano-sdk packages used in lace
  apps/browser-extension-wallet/.env.defaults
  apps/browser-extension-wallet/.env.developerpreview
  apps/browser-extension-wallet/package.json
  apps/browser-extension-wallet/src/api/mock.ts
  apps/browser-extension-wallet/src/features/unlock-wallet/components/UnlockWalletContainer.tsx
  apps/browser-extension-wallet/src/hooks/useWalletManager.ts
  apps/browser-extension-wallet/src/lib/scripts/background/addresses-discoverer.ts
  apps/browser-extension-wallet/src/lib/scripts/background/cip30.ts
  apps/browser-extension-wallet/src/lib/scripts/background/requestAccess.ts
  apps/browser-extension-wallet/src/lib/scripts/background/services/dappService.ts
  apps/browser-extension-wallet/src/lib/scripts/background/util.ts
  apps/browser-extension-wallet/src/lib/scripts/background/wallet.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/__tests__/versions/v0_6_0.test.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/migrations.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/index.ts
  apps/browser-extension-wallet/src/lib/scripts/migrations/versions/v0_6_0.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/data-validators.ts
  apps/browser-extension-wallet/src/utils/mocks/test-helpers.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/HardwareWalletFlow.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/wallet-setup/components/WalletSetupWizard.tsx
  packages/cardano/package.json
  packages/cardano/src/wallet/lib/__tests__/build-delegation.test.ts
  packages/cardano/src/wallet/lib/build-delegation.ts
  packages/cardano/src/wallet/lib/cardano-wallet.ts
  packages/cardano/src/wallet/lib/hardware-wallet.ts
  packages/cardano/src/wallet/test/mocks/ProviderStub.ts
  packages/cardano/src/wallet/test/mocks/StakepoolSearchProviderStub.ts
  packages/cardano/src/wallet/test/mocks/TestKeyAgent.ts
  packages/cardano/src/wallet/test/mocks/mock-wallet.ts
  packages/cardano/src/wallet/test/mocks/mock.ts
  packages/cardano/src/wallet/util/__tests__/stake-pool-transformer.test.ts
  packages/common/package.json
  packages/staking/package.json
  yarn.lock
Labels: browser, staking, DO NOT MERGE

#858 test(extension): fix tests with staking
  packages/e2e-tests/src/features/MultiDelegationPageExtended.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolExtended.feature
  packages/e2e-tests/src/features/e2e/MultidelegationSwitchingPoolsExtendedE2E.feature
Labels: e2e

#859 test(extension): improve stability of analytics tc
  packages/e2e-tests/src/features/analytics/AnalyticsSendExtended.feature
  packages/e2e-tests/src/features/analytics/AnalyticsSettingsPopup.feature
  packages/e2e-tests/src/steps/commonSteps.ts
Labels: e2e

#866 test(extension): staking - click on expanded view button e2e
  packages/e2e-tests/src/assert/multidelegation/StartStakingPageAssert.ts
  packages/e2e-tests/src/features/MultiDelegationPagePopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsMultiplePoolsPopup.feature
  packages/e2e-tests/src/features/MultidelegationDelegatedFundsSinglePoolPopup.feature
  packages/e2e-tests/src/steps/multidelegationSteps.ts
Labels: e2e

#863 fix(extension): fix saturation level progress in stake pool details d…
  apps/browser-extension-wallet/src/views/browser-view/features/staking/components/StakePoolDetails/StakePoolDetail.tsx
  packages/staking/src/features/Drawer/StakePoolDetail.tsx
Labels: browser, staking

#860 fix(extension): conway-era tx activities line items
  apps/browser-extension-wallet/src/lib/translations/en.json
  apps/browser-extension-wallet/src/stores/slices/activity-detail-slice.ts
  apps/browser-extension-wallet/src/stores/slices/wallet-activities-slice.ts
  apps/browser-extension-wallet/src/utils/__tests__/inspectTxType.test.ts
  apps/browser-extension-wallet/src/utils/mocks/certificates.ts
  apps/browser-extension-wallet/src/utils/mocks/raw-transactions.ts
  apps/browser-extension-wallet/src/utils/tx-inspection.ts
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/ActivityDetail.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/components/TransactionDetailsProxy.tsx
  apps/browser-extension-wallet/src/views/browser-view/features/activity/helpers/common-tx-transformer.ts
  packages/core/src/ui/assets/icons/arrow-diagonal-down-outline.component.svg
  packages/core/src/ui/assets/icons/arrow-diagonal-up-outline.component.svg
  packages/core/src/ui/assets/icons/badge-check-outline.component.svg
  packages/core/src/ui/assets/icons/ban-outline.component.svg
  packages/core/src/ui/assets/icons/briefcase-back-icon.component.svg
  packages/core/src/ui/assets/icons/briefcase-outline.component.svg
  packages/core/src/ui/assets/icons/clipboard-check-outline.component.svg
  packages/core/src/ui/assets/icons/clipboard-copy-outline.component.svg
  packages/core/src/ui/assets/icons/clipboard-list-outline.component.svg
  packages/core/src/ui/assets/icons/clipboard-x-outline.component.svg
  packages/core/src/ui/assets/icons/delegation.component.svg
  packages/core/src/ui/assets/icons/document-add-outline.component.svg
  packages/core/src/ui/assets/icons/document-report-outline.component.svg
  packages/core/src/ui/assets/icons/document-text-outline.component.svg
  packages/core/src/ui/assets/icons/feather-outline.component.svg
  packages/core/src/ui/assets/icons/gift-outline.component.svg
  packages/core/src/ui/assets/icons/identification-outline.component.svg
  packages/core/src/ui/assets/icons/incoming.component.svg
  packages/core/src/ui/assets/icons/info-outline.component.svg
  packages/core/src/ui/assets/icons/outgoing.component.svg
  packages/core/src/ui/assets/icons/receipt-right-outline.component.svg
  packages/core/src/ui/assets/icons/refresh-outline.component.svg
  packages/core/src/ui/assets/icons/self-transaction.component.svg
  packages/core/src/ui/assets/icons/terminal-outile.component.svg
  packages/core/src/ui/assets/icons/ticket-forward-icon.component.svg
  packages/core/src/ui/assets/icons/ticket-icon.component.svg
  packages/core/src/ui/assets/icons/ticket-outline-icon.component.svg
  packages/core/src/ui/components/Activity/AssetActivityItem.tsx
  packages/core/src/ui/components/ActivityDetail/ActivityTypeIcon.module.scss
  packages/core/src/ui/components/ActivityDetail/ActivityTypeIcon.tsx
  packages/core/src/ui/components/ActivityDetail/types.ts
  packages/core/src/ui/lib/translations/en.json
  packages/staking/src/features/overview/helpers/hasPendingDelegationTransaction.ts
Labels: browser, staking
